<div style="margin-top:20px;">
    <!--<h3 class="summary-section-header">Drugs found for {{uniqueTargets}} targets</h3>-->

    <!-- Table -->
    <div class="table-panel">
        <table class='table ot-evidence-table' id="target-list-drugs">
            <thead>
            <tr>
                <th>Drug</th>
                <th>Target</th>
                <th>Disease</th>
                <!-- <th>Max phase</th> -->
                <th>Molecule type</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
