.cttv_targetTree_legend {
    position: absolute;
    display: block;
    height: 0px;
    overflow: hidden;
    left: 10px;
    top: 50px;
    background-color: #FFFFFF;
}


/* Hamburger */
$bg-color: #ffffff;
$fg-color: #666666;
$pos-left: 10px;
$pos-top: 10px;
$dim: 30px;
.hamburger-frame {
    position: absolute;
    left: $pos-left;
    top: $pos-top;
    width: $dim;
    height: $dim;
    background-color: $bg-color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hamburger-menu {
    pointer-events: none;
    width:$dim - 6px;
    height:3px;
    background-color:$fg-color;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position:absolute;
    left: $pos-left + 3px;
    top: 16px;

}

.hamburger-menu:after, .hamburger-menu:before {
    pointer-events: none;
    content: '';
    width: 100%;
    height:3px;
    background-color:#666666;
    position:absolute;
    border-radius:5px;
}

.hamburger-menu:after {
    pointer-events: none;
    // top:$pos-top -2px;
    top: 8px;
}

.hamburger-menu:before {
    pointer-events: none;
    // top:$pos-top + 4px;
    top: 16px;
}
