// @import "node_modules/cttv.bubblesView/index.scss";
@import "node_modules/cttv.flowerView/index.scss";
@import "node_modules/cttv.targetAssociationsBubbles/index.scss";
@import "node_modules/cttv.genome/index.scss";
@import "node_modules/cttv.targetGeneTree/index.scss";
@import "node_modules/tnt.genome/index.scss";
@import "node_modules/cttv.diseaseGraph/index.scss";
@import "node_modules/cttv.spinner/index.scss";
