<!-- common disease table -->

<!-- <button type="button" ng-init="isCollapsed=false" class="btn btn-primary btn-sm" ng-click="isCollapsed = !isCollapsed"><span class="fa fa-question-circle"></span> Table legend</button>
<div uib-collapse="isCollapsed">
    <div class="well well-sm">
        <h5>Variant</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div> -->
    

<div class="table-panel">
    <table class='table ot-evidence-table' id="common-diseases-table">
        <thead>
            <tr>
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Reported trait name</th>
                <th>Publications</th>
                <th>Publications Ids</th>
                <th>Variant<ot-popover key="GENETIC.VARIANT"></ot-popover></th>
                <th>Variant type<ot-popover key="GENETIC.VARIANT-TYPE"></ot-popover></th>
                <th>Association {{otDictionary.PVALUE}}</th>
                <th>Gene prioritisation score<ot-popover key="GENETIC.GENE-PRIORITISATION-SCORE"></ot-popover></th>
                <th>Evidence source</th>
                
            </tr>
        </thead>

        <tfoot>
            <tr class="filter-row">
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Reported trait name</th>
                <th></th>
                <th></th>
                <th>Variant</th>
                <th>Variant type</th>
                <th></th>
                <th></th>
                <th>Evidence source</th>
            </tr>
        </tfoot>
        
        <tbody>
        </tbody>
    </table>
</div>