<!-- common disease table -->
<div class="table-panel">
    <table class='table ot-evidence-table' id="common-diseases-table">
        <thead>
            <tr>
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Variant</th>
                <th>Variant type</th>
                <th>Evidence source</th>
                <th>{{otDictionary.PVALUE}}</th>
                <!--<th>Details <span style="font-size:0.8em;float:right;"><ot-popover html='true' key="COMMONDISEASES.SCOREDETAILS"></ot-popover></th>-->
                <th>Publications</th>
                <th>Publications Ids</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>