


/*
 * Color variables
 */



$primary-color: #777;               // text grey
$secondary-color: #337ab7;          // links blue

$primary-background-color: #FFF;    // white
$secondary-background-color: #EEE;  // gray

$primary-brand-color: #3E8BAD;      // flower blue
$secondary-brand-color: #8b435f;    // cttv logo red



/*
 * Main elements colors
 */
$body-background: $primary-background-color;

$masthead-background: $secondary-background-color;
$masthead-border: scale-color($secondary-background-color, $lightness: -3%);

$footer-background: scale-color($secondary-background-color, $lightness: -57%);
$footer-border: scale-color($secondary-background-color, $lightness: -64%);
$footer-text: inv-color($footer-background);
$footer-text-dim: scale-color( $footer-text, $lightness: -13%);



/*
 * Text colors
 */

$clr-text: $primary-color;
$clr-text-em: scale-color( $clr-text, $lightness: -50% ); // darker (000)
$clr-text-dim: scale-color( $clr-text, $lightness: 38% ); // lighter (AAA)
$clr-text-inv: inv-color($footer-background);
$clr-text-inv-dim: scale-color( $clr-text-inv, $lightness: -13%);



/*
 * UI elements colors
 */

$clr-ui-background: #F5F5F5;    // bootstrap grey
$clr-ui-background-secondary: scale-color( $clr-ui-background, $lightness: -3% ); //e6e6e6
$clr-ui-border: #DDD;           // border grey
$clr-ui-shadow: rgba(0,0,0,0.2);
$clr-ui-lightbox-w: rgba(255,255,255,.5);
$clr-ui-foreground: #005299; // visualization blue
$clr-ui-selected: $secondary-color;

$clr-artboard-foregroud: #000;
$clr-artboard-backgroud: #FFF;

$clr-private-data: #f36633; // GSK orange



/*
 * Transparent colors
 */



/*
 * Bootstrap colors
 */

$clr-error: #b94a48;
$clr-error-hover: #953b39;

$clr-warning: #f89406;
$clr-warning-hover: #c67605;
$clr-warning-highlight: #f6d7b3;    /* 25% of standard full color */

$clr-success: #468847;
$clr-success-hover: #356635;

$clr-info: #3a87ad;
$clr-info-hover: #2d6987;

$clr-inverse: #333333;
$clr-inverse-hover: #1a1a1a;

$clr-primary: #337ab7;
$clr-primary-hover: #2d6987;
$clr-primary-highlight: #b7d3e7;    /* 25% of standard full color */

