/*
 * F A C E T S
 */

.ot-facet .therapeuticArea .panel-heading {
    /*background-color: #c6dcec;*/
}

.ot-facet .cttv-accordion-leaf .panel-heading {
    /*background-color: #f5f5f5;*/
}

/* .ot-facet .cttv-accordion-leaf .panel-body { */
    /*     padding : 0px; */
    /* } */

    /*.ot-facet .panel-heading {
        padding : 5px;
    }
    .ot-facet .panel-body {
        padding : 5px;
    }
    .ot-facet .panel-title {
        font-size: 10px;
        color: $bodytext-color;
    }*/

ot-facets {
    // affects .ot-facets, but needs to be on parent
    @include scrollbar(4px);
}

.ot-facets{
    font-size: 12px;
    max-height: 1000px;
    overflow-y: auto;
    padding-right: 5px;
}

.ot-facets-headers{
    font-size: 16px;
}

.ot-facets-controls {
    font-size: 11px;
    background-color: $clr-ui-background;
    @include border-radius( 3px );
    padding: 2px;
    margin-bottom: 2px;
    text-align: right;


    > span{
        cursor: pointer;
        margin-right:10px;
    }

    > span:hover{
        color: $clr-text-em;
    }
}
.btn-group.ot-facets-buttons {
    padding: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    label.btn {
        padding: 2px;
        font-size: 11px;
    }
}
.ot-facets-selected-summary{
    border-bottom:1px solid $clr-ui-border; // was #CCC
    margin-bottom:25px;
    padding-bottom:10px;
}

.ot-facets-small-arrow{
    width: 12px;
    cursor: pointer;

    padding: 0px 4px;
}

.ot-facets-child-label-no-checkbox{
    width:auto;
    padding-left: 20px
}


.ot-facet-summary {
    // background-color: #e0ebeb;
    background-color: $clr-ui-foreground;
    color: white;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius( 1.5em );
    /*background: linear-gradient(90deg, #ffe5e5 50%, #f0f5f5 50%);*/
}

/*
 * Restyle accordion for facets
 * Override the Bootstrap rules for custom l'n'f
 */



.ot-facets {
    .panel{
        @include border-radius( 0px );
        border: none;
        @include box-shadow(none);
    }

    .panel-title{
        font-size: 14px;
    }

    .panel-heading{
        color:inherit;
        border-bottom: 1px solid $clr-ui-border;
        padding: 10px 0px;
    }

    .panel-group .panel-heading+.panel-collapse>.panel-body{
        border-top: none;
    }

    .panel-default{
        >.panel-heading{
            background: none;
        }

        >.panel-heading+.panel-collapse>.panel-body{
            border-top-color: none;
        }
    }

    .panel-body{
        padding: 5px 0px;
    }

    .boxed-scrollable {
        max-height: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-y: auto;
        border: 1px solid $clr-ui-background;

        .suggestion {
            &.query {
                background-color: $clr-info-highlight;
            }
            &.result {
                background-color: $clr-primary-highlight;
            }
        }

    }



    /* Minimal scrollbars */
    @include scrollbar(8px);
}



.ot-facet-checkbox {
    /* overrides bootstrap values */
    margin-top: 0px;
    margin-bottom: 0px;
    clear:both;

    cursor:pointer;
}

.ot-facet-checkbox-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
    /*padding-right: 5px;*/
    max-width: 75%;

    display: inline;
}

.ot-facet-checkbox-label > input,
.ot-facet-checkbox-label-multiline > input{
    /* overrides bootstrap values */
    margin: 0px;
    margin-top: 2px;
}

/*
 Facet-style Therapeutic Area navigation
*/

.cttv-nav accordion {
    /* overrides bootstrap values */
    margin-top: 0px;
    margin-bottom: 0px;
    clear:both;
    font-size: 12px;


    /*.cttv-nav .therapeuticArea{
        height: 16px;
    }

    .cttv-nav .cttv-accordion-leaf{
        height: 16px;
    }*/


    h4 {
        font-size: 12px !important;
        font-weight: 400;

    }

    .panel-heading {
        border-bottom: none;
        height:auto;
        padding: 1px 0px;
    }

    accordion {
        .panel-group {
            margin: 0px;
        }

        .panel-body {
            margin-left: 12px;
            margin-right: 12px;
        }

        .jumbotron {
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-bottom: 0px;
        }
    }
}


.ot-facet-count {
    font-size:11px;
    margin-left:3px;
}

.ot-facet-checkbox-label-multiline{
    display: inline;
    float:left;

    > .ot-facet-count{
        float:none;
        display: inline;
    }

    span{
        line-height: 6px;
    }
}

/* .cttv_bullet_link {
    width : 100px;
    height : 30px;
    @include border-radius( 6px );
    float : right;
    margin-left: 15px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;

    background-color: #BBBBBB;
}
.cttv_target_associations_link:after {
    color : white;
    font-weight: bold;
    font-size: 12px;
    vertical-align: 50%;
    content: "Associations";
}
.cttv-2line-header > span:first-child{
    display:block;
    font-size:18px;
    font-weight:200;
}

.cttv-2line-header > span:last-child{
    display:block;
    font-size:36px;
    font-weight:100;
}


.cttv_target_profile_link:after {
    color: white;
    font-size: 12px;
    vertical-align: 50%;
    content: "Profile";
}
 */

ot-histogram-slider-facet-primitive {
    .histogram-container {
        rect {
            shape-rendering: crispEdges;
            &.selected {
                fill: $clr-ui-foreground;
            }

            &.deselected {
                fill: $clr-ui-border;
            }
        }
    }
    .x-axis {
        path, line {
          display: none;
        }

        text{
          fill: $clr-text-dim;
        }
    }
}

.checkbox-percentage-bar {
    height: 2px;
    margin: 0px 20px;
    &.fg {
        background-color: $clr-ui-foreground
    }
    &.bg {
        background-color: $clr-ui-background;
    }
}
