


/*
 * Intro page
 */



.intro-logo{
    padding-bottom:40px;
    display: block;
    margin: 0 auto;
}

.intro-content{
    margin-top: 100px;
}

.intro-divider{
    height:100px;
}

.intro-statement{
    font-weight: 200 !important;
    text-align: center;
}

.intro-statement-heading{
    color:#666;
}

.intro-statement-p{
    color:#2B8BAC;
}


