@import "colors";
@import "utils";

/*
 * Defines the main element of the single page,
 * e.g. masthead, footer, etc
 */



html, body {
    height:100%;
    line-height: 1.35;
}

body{
    color: $clr-text;
    background: $body-background;
}

@include scrollbar(14px);


/*
* Main index page
*/


.ot-centered-text {
    display: table-cell;
    text-align: center;
}

.ot-beta-ribbon {
    background-color: #a00;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    padding: 5px 50px;
    margin: 1px 0;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 1px solid #faa;

    z-index: 1000;
    position: absolute;
    left: -40px;
    top: 10px;

    @include transform( rotate(-45deg) );

    @include box-shadow( 0 0 10px #888 );

    text-shadow: 0 0 5px #444;
}

.ot-section-new {
    position:absolute;
    right:5px;
    font-size:0.8em;
    background-color:red;
    color:white;
    padding: 3px 5px 3px 5px;
    @include border-radius( 1.5em );
}

.ot-section-icon {
    position:absolute;
    right: 0px;
    width: 45px;
}

.ot-main-container {
    width:100%;
    background: $primary-background-color;
    // padding-bottom:70px;
    // padding-bottom:320px;
    min-height: 100vh;
}

.ot-page-wrapper {
    // min-height:100%;
    position:relative;
}


/*
* Masthead
*/


.masthead {
    width:100%;
    background-color: $masthead-background;
    background: -webkit-linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);
    background: -moz-linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);
    background: -o-linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);
    background: linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);

    .masthead-batch-search-icon {
        position: absolute;
        right: -6px;
        top:16px;
        a {
            color: white;
        }
    }


    // padding: 8px 0;
    height: auto;

    position: relative;

    // box-shadow: 0 1px 5px 0 $clr-ui-shadow;
    z-index: 10; // this will need some sort of variable presumably?


    .container{
        height: auto;
    }

    .global-search {
        margin: 8px 0px;
    }
}

.masthead-border {
    border-bottom: 1px solid $masthead-border;
    box-shadow: 0 1px 5px 0 $clr-ui-shadow;
}

.ot_logo {
    margin: 10px 0px;
    width: 195px;
}

.ot_logo_graphics, .ot_logo_type{
    float:left;
    height: 30px;
    overflow: hidden;
}

.ot_logo_graphics {
    width: 30px;
}

.ot_logo_type{
    width: 165px;
    img{
        position: relative;
        left: -30px;
    }
}

.ot-logotype {
    font-size: 24px;
    font-weight: 100;
    color: #888;
    line-height: 24px;
}

.masthead-navigation-container {
    text-align: right;
}

.masthead-dimmer {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
}

/*
 * masthead navigation
 */



.masthead-navigation {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px; //override browser default for ul elements
    height: 50px;

    >li {
        display: inline-block;

        >div {
            &.open{
                background: $clr-ui-background-secondary;
            }

            >a, >a:focus {
                padding: 0px 7px;
                height: 50px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    /* style the dropdown, based on bootstrap ui components */
    .uib-dropdown-menu {
        font-size: 12px;
        border-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin: 0px;

        li a {
            color: $clr-link;
            padding: 3px 8px;
            &:hover {
                //color: #FFF;
                background: $clr-ui-background-secondary; //$btn-primary-bg-hover;
            }
        }
    }
}


.ot-dropdown-hamburger {
    right: 0px;
    left: inherit; // need this to invalidate default left value
}


.masthead .masthead-navigation {

    .uib-dropdown-menu {
        border-top-right-radius: 0px;
    }

    >li div {
        &.open, &:hover {
            background: $clr-black-a10; //$btn-primary-bg-hover;
        }

        >a, >a:focus {
            color: #fff;
        }
    }
}



/*
 * Masthead notifications
 */

.masthead-notifications-menu {
    height: 50px;

}


.notification {
    position:relative;
    color:white;
    font-size:19px;
    margin: 12px 7px;

    // float: right;
    // margin-top:10px;
    // margin-top:10px;
    // width:50px;

    .counter {
        border-radius:50%;
        color: white;
        width:14px;
        height:14px;
        background:red;
        position:absolute;
        //left:39px;
        right: -5px;
        top:0px;
        font-size:10px;
        text-align:center;
        pointer-events:none;
    }

    >i {
        cursor:pointer;
    }
}


.masthead-home .notification {
    color: $primary-brand-color;
}



/*
 * Masthead search
 */

.masthead-search-container{
    max-width:35%;
    //padding-left: 8px;
}

.masthead-search-menu{
    padding-left: 7px
}

.masthead-responsive-search{
    height: 50px;
    padding: 14px 7px;
    padding-right: 0px;
    cursor: pointer;
}

.masthead-responsive-search-icon{
    color: #fff;
    //font-size: 19px;
}

.masthead-responsive-search-panel{
    position: absolute;
    top: 0px;
    right: 0;
    width: 50%;
    margin: 0px 15px;
    min-width: 290px;
    height: 50px;
    z-index: 10;
}



/*
* Footer
*/


.footer {
    font-size: 14px;
    font-weight: 300;
    color: $footer-text;
    padding: 24px 0 48px 0;
    //border-top: 1px solid $footer-border;

    background: $footer-background;
    width:100%;
    // height:320px;
    // position:absolute;
    // bottom:0;
    // left:0;

    overflow: hidden;

    a{
        color: inherit;
        &:hover {
            color: $footer-text-dim;
        }
    }

}

.footer-section-header {
    color: $footer-text-dim;
    font-weight: 400;
    //text-transform: uppercase;
}

.footer-menu {
    padding-left: 0;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 5px;
    }
}



/*
 * Cookies notice
 */

.cookiebanner {
    font-family: inherit !important;
    font-weight: 200;
}

.cookiebanner-close {

}

/* define the container for an angular partial*/
.partial-page{
    position:relative;
    padding-bottom: 40px;
}




/* non-breaking block */
.nbblock{
    display:block;
    margin-bottom:0px;
    margin-top: 10px;
}




.ot-section-intro {
    font-style: italic;
    background-color: $clr-ui-background-secondary; // was #EEE
    padding: 10px;
}

.ot-interpage-link {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid $clr-ui-border; // was #CCC
}

.ot-content-header {
    margin-bottom: 30px;
    //border-bottom: 1px solid $clr-ui-border;
    //box-shadow: 0 0 5px 0 $clr-ui-shadow;
    //background: $clr-ui-background;

    h4 {
        font-weight: 300;
    }

    h3 {
        @extend h4;
        margin-bottom: 0px;
    }

}



/*
 * Feedback side panel
 */
.ot-feedback-button {

    position: fixed;
    top: 50%;
    margin-top: -30px;
    left: 100%;
    z-index: 10000;
    min-height: 30px;
    @include transform-origin( left 30px );
    @include transform( rotate(-90deg) );
    @include border-top-right-radius( 5px );
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.2);
    cursor: pointer;
    
    a{
        color: #FFF;

        div {
            padding: 7px 12px 5px 12px;
            background: $extra-brand-color;

            font-size: 14px;
            font-weight: 400;
        }
    }
}


/*
 * Add the full round corners to the feedback panel when shown on its own
 */
.ot-feedback-button-round {
    @include border-top-left-radius( 5px );
}


/*
 *
 */
.ot-signup-button {
    position: fixed;
    top: 50%;
    border-right: 1px solid #fff;
    margin-top: 12px;
    left: 100%;
    z-index: 10001;
    min-height: 30px;
    @include transform-origin( left 30px );
    @include transform( rotate(-90deg) );
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.2);
    cursor: pointer;

    div {
        color: #FFF;
        background: $clr-success;
        padding: 7px 12px 5px 12px;
        font-size: 14px;
        font-weight: 400;
    }
}

.ot-signup-button-round {
    @include border-top-left-radius( 5px );
}


/*
 * Container for the social media icons / follow us thingy
 */
.ot-social-panel {
    position: fixed;
    top: 50%;
    border-top: 1px solid #fff;
    z-index: 10002;
    right: 0;
    @include border-bottom-left-radius( 5px );
    overflow: hidden;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.2);

    width: 30px;
    min-height: 90px;

    // margin-top: 40px;

    cursor: pointer;


    .ot-social-panel-item {
        width: 30px;
        height: 25px;
        color: #FFF;
        font-size: 14px;
        text-align: center;
        font-family: 'FontAwesome';
        padding-top: 4px;
    }

    .ot-social-panel-follow {
        background: $secondary-color;
        color: #FFF;
        min-width:90px;
        min-height: 30px;
        position: absolute;
        top: -30px;
        right: 0px;
        @include transform-origin( bottom right );
        @include transform( rotate(-90deg) );
        text-align: center;
        padding: 7px 0px 5px 0px;
    }
}


/*
 * The linkedin icon block
 */
.ot-social-panel-linkedin{
    background: #0077B5;
    &:after {
        content: "\f0e1";
    };
}

.ot-social-panel-twitter{
    background: #00ACED;
    &:after {
        content: "\f099";
    };
}

.ot-social-panel-facebook{
    background: #4867AA;
    &:after {
        content: "\f09a";
    };
}

.ot-social-panel-github{
    background: #000;
    &:after {
        content: "\f09b";
    };
}

.ot-social-panel-medium{
    background: #00Ab6c;
    &:after {
        content: "\f23a";
    };
}

.ot-social-panel-youtube{
    background: #F00;
    &:after {
        content: "\f16a";
    };
}



.footer-social-bar {
    span {
        // padding-right: 5px;
        font-size: 18px;
    }
}

.fixed {
    position: fixed;
}



.main-alert-container {
    .alert{
        margin-top: 20px;
    }

    .row>div{
        /* reset the min height of columns */
        min-height:0px;
    }
}

/*
* Notice on target, disease, and drug profile pages with link to React rewrite alpha release
*/

.rewrite-alpha-release-notice-container {
    text-align: center;
    background-color: #FFFFCC;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
}