


/*
* Gene-Disease Association
*/


.gene-disease-header{
    padding-bottom:20px;
    margin-bottom:20px;
    margin-top:40px;
}

.gene-disease-header .overview{
    display: table;
}

.gene-disease-header .overview .item{
    display: table-cell;
    width:45%;
    vertical-align:top;
}

.gene-disease-header .overview .item a p{
    color: $clr-text;    /* override the link colour */
}

.gene-disease-header .overview .association{
    display: table-cell;
    width:10%;
    vertical-align:top;
    padding: 2px;
    padding-top:43px;
}

.gene-disease-header .overview .association div{
    width:100%;
    height:1px;
    border-bottom:2px solid #DDD;
}


.gene-disease-content .table-panel{
    overflow-x: auto;
}

.gene-disease-content .no-last-el{
    border-right-width: 1px !important;
}
