@import "colors";


/*
 * Defines the main element of the single page,
 * e.g. masthead, footer, etc
 */



html, body {
    height:100%;
    line-height: 1.35;
}

body{
    color: $clr-text;
    background: $body-background;
}

/*
* Main index page
*/


.cttv-centered-text {
    display: table-cell;
    text-align: center;
}

.cttv-beta-ribbon {
    background-color: #a00;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    padding: 5px 50px;
    margin: 1px 0;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    border: 1px solid #faa;

    z-index: 1000;
    position: absolute;
    left: -40px;
    top: 10px;

    @include transform( rotate(-45deg) );

    @include box-shadow( 0 0 10px #888 );

    text-shadow: 0 0 5px #444;
}


.cttv-main-container {
    width:100%;
    background: $primary-background-color;
    padding-bottom:70px;
    padding-bottom:320px;
}

.cttv-page-wrapper {
    min-height:100%;
    position:relative;
}


/*
* Masthead
*/


.masthead {
    width:100%;
    background-color: $masthead-background;
    background: -webkit-linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);
    background: -moz-linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);
    background: -o-linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);
    background: linear-gradient(left, $masthead-background  0%, $extra-brand-color  100%);




    // padding: 8px 0;
    height: auto;

    position: relative;

    // box-shadow: 0 1px 5px 0 $clr-ui-shadow;
    z-index: 10; // this will need some sort of variable presumably?


    .container{
        height: auto;
    }

    .global-search {
        margin: 8px 0px;
    }
}

.masthead-border {
    border-bottom: 1px solid $masthead-border;
    box-shadow: 0 1px 5px 0 $clr-ui-shadow;
}

.ot_logo {
    margin: 10px 0px;
    width: 225px;
}

.ot_logo_graphics, .ot_logo_type{
    float:left;
    height: 30px;
    overflow: hidden;
}

.ot_logo_graphics {
    width: 30px;
}

.ot_logo_type{
    width: 195px;
    img{
        position: relative;
        left: -30px;
    }
}

.cttv-logotype {
    font-size: 24px;
    font-weight: 100;
    color: #888;
    line-height: 24px;
}

.masthead-navigation-container {
    text-align: right;
}

/* define style for homepage masthead navigation */
.masthead-navigation {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px; //override browser default for ul elements
    height: 50px;

    >li {
        display: inline-block;

        >div {
            &.open{
                background: $clr-ui-background-secondary;
            }

            >a, >a:focus {
                padding: 0px 8px;
                height: 50px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    /* style the dropdown, based on bootstrap ui components */
    .uib-dropdown-menu {
        font-size: 12px;
        border-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        margin: 0px;

        li a {
            color: $clr-link;
            padding: 3px 8px;
            &:hover {
                //color: #FFF;
                background: $clr-ui-background-secondary; //$btn-primary-bg-hover;
            }
        }


    }


}

/* specific settings for the other pages masthead navigation */
.masthead .masthead-navigation {

    .uib-dropdown-menu {
        border-top-right-radius: 0px;
    }

    >li div {
        &.open, &:hover {
            background: $clr-black-a10; //$btn-primary-bg-hover;
        }

        >a, >a:focus {
            color: #fff;
        }
    }
}

.notification {
    position:relative;
    float: right;
    margin-top:10px;
    color:white;
    margin-top:10px;
    font-size:22px;
    width:50px;

    .counter {
        border-radius:50%;
        color: white;
        width:14px;
        height:14px;
        background:red;
        position:absolute;
        left:39px;
        top:5px;
        font-size:10px;
        text-align:center;
        pointer-events:none;
    }

    >i {
        cursor:pointer;
    }
}


.masthead-home .notification {
    color: $primary-brand-color;
}


/*
* Footer
*/


.footer {
    font-size: 14px;
    font-weight: 300;
    color: $footer-text;
    padding: 24px 0;
    //border-top: 1px solid $footer-border;

    background: $footer-background;
    width:100%;
    height:320px;
    position:absolute;
    bottom:0;
    left:0;

    overflow: hidden;

    a{
        color: inherit;
        &:hover {
            color: $footer-text-dim;
        }
    }

}

.footer-section-header {
    color: $footer-text-dim;
    font-weight: 400;
    //text-transform: uppercase;
}

.footer-menu {
    padding-left: 0;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        margin-left: 0;
        margin-bottom: 5px;
    }
}



/*
 * Cookies notice
 */

.cookiebanner {
    font-family: inherit !important;
    font-weight: 200;
}

.cookiebanner-close {

}

/* define the container for an angular partial*/
.partial-page{
    position:relative;
    padding-bottom: 40px;
}




/* non-breaking block */
.nbblock{
    display:block;
    margin-bottom:0px;
}




.cttv-section-intro {
    font-style: italic;
    background-color: $clr-ui-background-secondary; // was #EEE
    padding: 10px;
}

.cttv-interpage-link {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid $clr-ui-border; // was #CCC
}

.cttv-content-header {
    margin-bottom: 30px;
    //border-bottom: 1px solid $clr-ui-border;
    //box-shadow: 0 0 5px 0 $clr-ui-shadow;
    //background: $clr-ui-background;

    h4 {
        font-weight: 300;
    }

    h3 {
        @extend h4;
        margin-bottom: 0px;
    }

}



/*
 * Feedback side panel
 */
.cttv-feedback-button {

    position: fixed;
    top: 50%;
    margin-top: -30px;
    left: 100%;
    z-index: 10000;
    min-height: 30px;
    @include transform-origin( left 30px );
    @include transform( rotate(-90deg) );
    @include border-top-right-radius( 5px );
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.2);

    a {
        color: #FFF;

        div {
            padding: 7px 12px 5px 12px;
            background: $extra-brand-color;

            font-size: 14px;
            font-weight: 400;
        }
    }
}


/*
 * Add the full round corners to the feedback panel when shown on its own
 */
.cttv-feedback-button-round {
    @include border-top-left-radius( 5px );
}



/*
 * Container for the social media icons / follow us thingy
 */
.cttv-social-panel {
    position: fixed;
    top: 50%;
    border-top: 1px solid #fff;
    z-index: 10001;
    right: 0;
    @include border-bottom-left-radius( 5px );
    overflow: hidden;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.2);

    width: 30px;
    min-height: 90px;

    cursor: pointer;


    .cttv-social-panel-item {
        width: 30px;
        height: 30px;
        color: #FFF;
        font-size: 14px;
        text-align: center;
        font-family: 'FontAwesome';
        padding-top: 6px;
    }

    .cttv-social-panel-follow {
        background: $secondary-color;
        color: #FFF;
        min-width:90px;
        min-height: 30px;
        position: absolute;
        top: -30px;
        right: 0px;
        @include transform-origin( bottom right );
        @include transform( rotate(-90deg) );
        text-align: center;
        padding: 7px 0px 5px 0px;
    }
}


/*
 * The linkedin icon block
 */
.cttv-social-panel-linkedin{
    background: #0077B5;
    &:after {
        content: "\f0e1";
    };
}

.cttv-social-panel-twitter{
    background: #00ACED;
    &:after {
        content: "\f099";
    };
}

.cttv-social-panel-facebook{
    background: #4867AA;
    &:after {
        content: "\f09a";
    };
}



.footer-social-bar {
    span {
        padding-right: 5px;
        font-size: 15px;
    }
}

.fixed {
    position: fixed;
}
