


/*
 * Intro page
 */



/*
 * A generic section on the intro page
 */

.intro-section {
    padding: 80px 0px;
}


/*
 * The search section at the top of the page
 */

.intro-section-search {
    padding: 140px 0px;
}

.intro-logo {
    padding-bottom:60px;
    display: block;
    margin: 0 auto;
    width: 280px;
    height: 163px;
}


/*
 * The stats section
 */

.intro-section-stats {
    //background: $clr-ui-background-secondary;
    padding-top: 0px;

    > .container {
        max-width: 800px;
    }
}

.intro-stats-heading {
    color:#666;
    font-weight: 200 !important;
    text-align: center;
}



/*
 * The statement section
 */

.intro-content{
    margin-top: 100px;
}
.intro-divider{
    height:100px;
}

.intro-section-statement{
    //max-width:800px;
    //text-align:center;
    //margin: auto 0px;
    background: $clr-ui-background-secondary;
    /*background-image: url('/imgs/graphics/ot_advancing_3.png');
    background-attachment: fixed;
    background-position: center left;
    background-repeat: no-repeat;*/
    text-align: center;
    > .container {
        //max-width: 800px
    }
}

.intro-statement{
    font-weight: 200 !important;
    text-align: center;
}

.intro-statement-heading{
    color:#666;
    font-weight: 200 !important;
}

.intro-statement-p{
    //color:#2B8BAC;
}

.partner-logo-block {
    padding: 60px 0px;  // will need some media query to change it for responsive layout
}

.partner-logo {
    max-width:90%;
    min-width:20%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.intro-section-data{
    background: $secondary-color;
    color: $primary-background-color;
}



.hp-blog-feed{
    overflow-y: auto;
    height:400px;
    padding-right: 4px;
}

.hp-blog-feed-post{
    margin-bottom: 30px;
}

.hp-blog-feed-post-header{
    margin-top: 0px;
    margin-bottom: 0px;
}

.hp-blog-feed-post-date{
    padding:3px 0px 3px 8px;
    margin-left: 8px;
    border-left: 1px solid $clr-text-dim;
}





