
#cttv-page-app {

    /*
    * one line modals
    */
    .modal-body-center {
        text-align: center;
    }
    .png-scale-factor-selection {
        padding: 10px;
    }

    /*
     * The menu bar of the lite mol widget needs to be shown on top of the masthead
     */
     pdb-lite-mol .lm-plugin {
         z-index: 10000;
     }

    /*
     * The PDB widget CSS styling
     */
    //  .pdb-widget-container {
    //      display : block;
    //      margin-left : auto;
    //      margin-right : auto;
    //      position : relative;
    //      width : 350px;
    //      height : 700px;
    //      margin-top : 30px;
    //  }
     // Size
     .variantStructureModalWindow .modal-dialog {
         width: 350px;
         .snpLegend {
             margin-left: 20px;
             .pdbLink {
                 float:right;
                 margin-right: 10px;
             }
             .snpBall {
                 background: orange;
                 width:10px;
                 height:10px;
                 border-radius: 5px;
                 margin-right: 10px;
                 display: inline-block;
             }
         }
     }


    /*
     * Spinners
     */

    .page-progress-spinner{
        width:100%;
        height: 100%;
        text-align:center;
        padding-top:150px;
        position: absolute;
        background-color: $clr-ui-lightbox-w;
        z-index: 1000;
        left: 0px;
    }

    .cttv-progress-spinner-svg-container {
        display:inline-block;
        width: 18px;
        height: 18px;
    }

    .cttv-spinner-component {
        fill: $secondary-color;
    }



    /*
     * Override componenets tooltip settings
     */



    div .tnt_tooltip{
        border:1px solid #CCC !important;
        @include box-shadow( 0px 5px 10px $clr-ui-shadow );
        padding: 0px 0px;
        @include border-radius( 6px );
    }

    .tnt_tooltip_active {

    }

    .tnt_tooltip_closer {
        /*background: none !important;
        background-color: transparent !important;
        border-radius: 0px !important;*/
        @include border-radius( 10px !important );
    }

    .tnt_tooltip_closer:before, .tnt_tooltip_closer:after {
        @include box-shadow( none !important );
        width: 12px !important;
        height: 3px !important;
        @include border-radius( 1px !important );
        /*font-family: 'FontAwesome';
        content: '';
        position: absolute;
        width: 0px !important;
        height: 0px !important;
        background-color: transparent !important;
        @include border-radius( 0px );
        @include box-shadow( none !important)
        @include transform( initial !important ) */
    }

    .tnt_tooltip_closer:before {
        left: 4px !important;
        /* The close button circle
        content: "\f111" !important;
        color:#000;
        font-size: 24px;
        top: -4px !important;
        left: 0px !important;*/
    }

    .tnt_tooltip_closer:after{
        right: 4px !important;
        /*  The close button X
        content:"\f00d" !important;
        color:#FFF;
        font-size: 16px;
        top: 0px !important;
        right: 16px !important;*/
    }

    .tnt_zmenu {
        border-style: hidden !important;
        @include border-radius( 6px );
        overflow: hidden;
    }

    .tnt_zmenu_header {
        background: $clr-ui-background !important;
        color: inherit !important;
    }

    .tnt_zmenu_row, .tnt_zmenu_header {
        border-color: $clr-ui-background-secondary;
    }



    cttv-slider {
        width:100%;
        display:block;

        .axis {
            /*font: 10px sans-serif;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;*/
            stroke: #000;
            fill-opacity: .125;
            shape-rendering: crispEdges;

            text{
                font-size: 10px;
                height: 20px;
                line-height: normal;
                fill:none;
            }

            .domain {
                fill: none;
                /*stroke: #000;
                stroke-opacity: .3;
                stroke-width: 10px;*/
            }

            .halo {
                fill: none;
                stroke: #ddd;
                stroke-width: 6px;
            }
        }

        .slider .handle {
            fill: #fff;
            stroke: #000;
            stroke-opacity: .5;
            stroke-width: 1.25px;
            cursor: ew-resize;
        }
    }


    cttv-score-presets{
        .label {
            font-size: 10px;
            color: inherit;
            display:block;
            font-weight: normal;
            padding: 0px;
        }

        .well-sm{
            padding: 5px 0px;
            border: none;
            @include box-shadow( none );
        }
    }



    /*
     * Probably deprecated ?
     */
    .menu {
        list-style: none;
        border-bottom: 0.1em solid black;
        margin-bottom: 2em;
        padding: 0 0 0.5em;

        &:before {
            content: "[";
        }

        &:after {
            content: "]";
        }

        > li {
            display: inline;
        }

        > li:before {
            content: "|";
            padding-right: 0.3em;
        }

        > li:nth-child(1):before {
            content: "";
            padding: 0;
        }
    }

    /* Possibly deprecated? */
    .cttv-blue-background{
        background: $clr-ui-foreground !important;
        background-color: $clr-ui-foreground !important;
    }


    // Target-disease score pill in accordion headings
    .flower-petal{
        color: #0f0 !important;
        background: $clr-ui-foreground !important;
        background-color: $clr-ui-foreground !important;
    }


    .tnt_legend_div {
        margin-top: 10px;
    }
    .tnt_legend_header {
        font-weight: bold;
    }

    .show-more-links {
        cursor: pointer;
        font-size: 75%;
    }

    .show-more-dots {
        color: darkgrey;
    }

    .cttv-drug {
        background-color: #e0ebeb;
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        @include border-radius( 1.5em );
        /*background: linear-gradient(90deg, #ffe5e5 50%, #f0f5f5 50%);*/
    }



    /*
    * Backgrounds
    */



    .badge:hover {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
    .badge-error {
        background-color: $clr-error;
    }
    .badge-error:hover {
        background-color: $clr-error-hover;
    }
    .badge-warning {
        background-color: $clr-warning;
    }
    .badge-warning:hover {
        background-color: $clr-warning-hover;
    }
    .badge-success {
        background-color: $clr-success;
    }
    .badge-success:hover {
        background-color: $clr-success-hover;
    }
    .badge-info {
        background-color: $clr-info;
    }
    .badge-info:hover {
        background-color: $clr-info-hover;
    }
    .badge-inverse {
        background-color: $clr-inverse;
    }
    .badge-inverse:hover {
        background-color: $clr-inverse-hover;
    }
    .badge-primary {
        background-color: $clr-primary;
    }
    .badge-primary:hover {
        background-color: $clr-primary-hover;
    }

    .opacity-50 {
        opacity: 0.5;
    }

    .highlight-warning {
        background-color: $clr-warning-highlight;  /* 25% of standard warning color */
    }

    .highlight-primary {
        background-color: $clr-primary-highlight;  /* 25% of standard primary color */
    }

    .highlight-info {
    	background-color: $clr-info-highlight;  /* 25% of standard warning color */
	}


    // pill-like horizonal list in target and disease profile pages
    .cttv-profile-synonym-list {
        /*padding-right: 10px;*/
        background-color: #e0ebeb;
        padding: .2em .6em .3em;
        font-size: 75%;
        @include border-radius( 1.5em );
        margin-right: 8px;
        display: inline-block;
        margin-bottom: 3px;
    }

    /*.cttv-profile-synonym-list:before {
        font-family: 'FontAwesome';
        padding-right: 3px;
        font-size: 0.8em;
        content: '\f02b';
    }*/


    .changeView {
        color: #3a99d7;
        cursor: pointer;
    }


    /* Needed for the rounded corner in the viewport for Chrome */
    .pwp-DiagramCanvas {
        @include border-radius( 15px );
    }


    .dataTables_wrapper{

    }

    a.accordion-toggle{
        text-decoration: none;
        /* display: block; */
        width: 100%;
        height: 100%;

        /* remove links color in accordion headings */
        color: inherit;

        &:hover{
            color: inherit;
        }
    }

    .accordionCell {
        overflow : auto;
    }

    .accordion-toggle { /* Needed for ie9? */
        cursor : pointer;
    }

    .cttv-change-view {
        cursor : pointer;
    }



    /*
     * Flower
     */


    .petal {
        fill: $secondary-color;
    }



    /*
     * Citations
     */

    .epmc_citation_container{
        padding-top:3px;
        margin-bottom:25px;
    }

    .epmc_citation_title{
        font-size: 1.23em;
    }

    .epmc_citation_subdata {
        padding-left:0px;

        a {
            color:$clr-text;

            &:hover {
                color: $clr-link-hover;
            }
        }
    }

    .epmc_citation_authors, .epmc_citation_journal, .epmc_citation_source{
        font-size: 13px;
    }

    .epmc_citation_authors{
        padding: 4px 0;
    }

    .epmc_citation_source{
        padding-top:5px;
    }

    .epmc_more_resuts {
        float: left;
        padding-top: 2px;
        text-align: right;
        width: 100%;
    }



    /*
     * For future homepage rebranding
     */

    .numberCircle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 160px;
        padding: 8px;
        font-size: 32px;
        line-height: 1em;
        border: 2px solid #666;
        position: relative;

    }
    .numberCircle .height_fix {
        margin-top: 100%;
    }
    .numberCircle .content {
        position: absolute;
        left: 0;
        top: 50%;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: -16px; /* Note, this must be half the font size */
    }


    .number-circle {
        display: block;
        //background: #0081D2;
        min-width: 100px;
        width: 140px;
        margin: auto;
        height: 140px;
        padding: 54px 0px;
        border-radius: 70px;
        color: #fff;
    }



    /*
     * PNG export button
     */



    cttv-target-associations-bubbles, cttv-target-associations-tree{
        png > div {
            margin-top:24px;
            float: right;
        }
    }



}
