/* app css stylesheet */

html {
  
}

body{
  color: #777;
  background: #AAA;

}

.masthead {
  width:100%; 
  background-color:#DDD; 
  padding:10px 0px;
  height: auto;
  border-bottom: 1px solid #CFCFCF;
}

.masthead .container{
  height: auto;
}


.footer {
  font-size: 11px;
  color:#DDD;
  padding: 40px 0px;
  border-top: 1px solid #A6A6A6;
  /*padding-left:20px;
  padding-bottom:5px;
  bottom: 0px;

  position:relative;
  margin-top: -100px;*/
  /* height: 100px; */
}

.footer a{
  color: inherit;
}


.dataTables_wrapper{
  
}

a.accordion-toggle{
  text-decoration: none;
  /* display: block; */
  width: 100%;
  height: 100%;
}

.accordionCell {
    overflow : scroll
}

.accordion-toggle { /* Needed for ie9? */
    cursor : pointer;
}

.cttv-change-view {
    cursor : pointer;
}

.cttv-facet .therapeuticArea .panel-heading {
    background-color: #c6dcec;
}

.cttv-facet .cttv-accordion-leaf .panel-heading {
    background-color: #f5f5f5;
}

.cttv-facet .cttv-accordion-leaf .panel-body {
    padding : 0px;
}

.cttv-facet .panel-heading {
    padding : 5px;
}
.cttv-facet .panel-body {
    padding : 5px;
}
.cttv-facet .panel-title {
    font-size: 10px;
    color: #777;
}

.search-suggestions-box{
  position: absolute;
  background: #FFF;
  width: 100%;

  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  padding: 5px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;

  font-size: 14px;
  z-index: 10;
}

.search-suggestions-box .divider{
  margin: 10px 0px;
  border-top: 1px solid #CCC;
  /*border-bottom: 1px solid #EEE;*/
}

.search-suggestions-box .item:hover{
  background: #EEE;
  cursor: pointer;
}

/* non-breaking block */
.nbblock{
  display:block; 
  margin-bottom:0px;
}

.text-lowlight{
  color: #AAA;
}

.text-highlight{
  color: #000;
}

.text-nolight{
  color: #666;
}

.small{
  font-size: 12px;
  line-height: 1.2; 
}

.text-disabled {
  color: #AAA;
  text-decoration: none;
  cursor: default;
}

.container {
  /*height: 1000px;*/
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.search-result {
  margin-bottom: 24px;
}

.search-result h4{
  margin-bottom: 0px;
}

.search-title {

}

.search-matches em{
  color: #999;
  font-style: normal;
  font-weight: 500;
  background-color: #E6E6E6;
  padding: 0px 2px;
}

.search-description, .search-details, .search-matches{
  display: block;
}

.search-details, .search-matches{
  font-size: 12px;
}

