/* app css stylesheet */

html {
  height: 100%;
}

body{
  color: #666;
  height: 100%;
}

.masthead {
  width:100%; 
  background-color:#DDD; 
  padding:10px 0px;
  height: auto;
}

.masthead .container{
  height: auto;
}


.footer {
  font-size: 12px;
  color:#999;
  padding-left:20px;
  padding-bottom:5px;
  /*bottom: 0px;

  position:relative;
  margin-top: -100px;*/
  /* height: 100px; */
}


.dataTables_wrapper{
  
}

.accordionCell {
    overflow : scroll
}


.search-suggestions-box{
  position: absolute;
  background: #FFF;
  width: 100%;

  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  padding: 5px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;

  font-size: 14px;
  z-index: 10;
}

.search-suggestions-box .divider{
  margin: 10px 0px;
  border-top: 1px solid #CCC;
  /*border-bottom: 1px solid #EEE;*/
}

.search-suggestions-box .item:hover{
  background: #EEE;
  cursor: pointer;
}

/* non-breaking block */
.nbblock{
  display:block; 
  margin-bottom:0px;
}

.text-lowlight{
  color: #AAA;
}

.text-highlight{
  color: #000;
}

.text-nolight{
  color: #666;
}

.small{
  font-size: 12px;
  line-height: 1.2; 
}


.container {
  /*height: 1000px;*/
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.search-result {
  margin-bottom: 24px;
}

.search-result h4{
  margin-bottom: 0px;
}

.search-title {

}

.search-description, .search-details{
  display: block;
}

.search-details{
  font-size: 12px;
}

