

/*
 * Utilities (mixins, ect.)
 */
@import "utils";


/*
 * Common colors
 */
@import "colors";


/*
 * Typography
 */
@import "typography";


/*
 * Extra layout options
 */
@import "layouts";


/*
 * Common page elements
 */
@import "page";


/*
 * 3rd party libraries styles
 */
@import "libraries";


/*
* Search suggestions (autocomplete) and form
*/
@import "autocomplete";


/*
* Calendar rules (for outreach)
*/
@import "calendar";


/*
 * Lists
 */
@import "lists";


/*
* Tables
*/
@import "tables";


/*
 * Facets
 */
@import "facets";


/*
 * Pages
 */
@import "page-search";
@import "page-intro";
@import "page-target-disease";
@import "page-outreach";

/*
 * UI elements
 * e.g. tooltips, spinners, etc
 */
@import "ui-elements";


@import "gtex";


@import "viz-treemap";