<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../node_modules/tnt.tooltip/build/tooltip.css" />
  <link rel="stylesheet" href="../node_modules/cttv.flowerView/build/flowerView.css" />
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="../node_modules/tnt.tree/build/tnt.tree.js"></script>
  <script src="../build/cttv.geneAssociationsTree.js"></script>
  <script src="../node_modules/cttv.api/build/cttv.api.js"></script>
  <script src="../node_modules/cttv.flowerView/build/cttv.flowerView.js"></script>
  <script src="../node_modules/tnt.tooltip/build/tnt.tooltip.js"></script>
</head>

<body>
  <div id="mydiv" style="position:relative"></div>
  <script src="test.js"></script>
</body>
