<div class="table-panel">
    <table class='table ot-evidence-table' id="rare-diseases-table">
        <thead>
            <tr>
                <th rowspan="2"></th>  <!-- nameless col for access level -->
                <th rowspan="2">Disease</th>
                <th rowspan="2">Mutation</th>
                <th colspan="4">Gene-Disease Evidence</th>
            </tr>

            <tr>
                <th>Mutation consequence</th>
                <th>Clinical significance</th>
                <th>Evidence source</th>
                <th>Publications</th>
                <th>Publications Ids</th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
            <tr class="filter-row">
                <th></th> <!-- nameless col for access level -->
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>