<div class="table-panel">
    <table class='table ot-evidence-table' id="mouse-table">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2" colspan="1">Disease</th>
                <th rowspan="1" colspan="2">Phenotype - Phenotype Evidence</th>
                <th rowspan="1" colspan="3">Model - Disease Evidence</th>
            </tr>
            <tr>
                <!-- Drug information -->
                <th>Human</th>
                <th>Mouse</th>
                <th>Mouse model</th>
                <th><!--Evidence s-->Source</th>    <!-- TODO: check column title -->
                <th>Score</th> <!-- hidden score -->
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>