<div class="partial-page">
    <cttv-page-progress-spinner></cttv-page-progress-spinner>

    <h3 view-title>Targets associated with {{search.label}}</h3>

    <p class="small"><a href="#/disease/{{search.query}}">View disease profile</a></p>
    <div class="h6">Found {{nresults}} evidence</div>

    <!-- <div id="myflower"></div>-->


    <div class="row">
        <div class="col-md-3">
            <!-- <div ng-click="cttvFiltersService.initFilters()">X reset filters</div> -->
            <cttv-datatypes-filters></cttv-datatypes-filters>
        </div>

        <div class="col-md-9">
            <!-- Loading progress spinner
            <div style="width:100%; text-align:center; padding-top:50px; position:absolute" ng-show="loading">
                <span cttv-progress-spinner size="3" class="text-lowlight"></span>
            </div>-->
            <cttv-disease-associations target="{{search.query}}" filename="targets_associated_with_{{search.filename}}" loadprogress="loading" total="nresults"></cttv-disease-associations>
        </div>
    </div>

</div>
<!-- end search results-->
