<!-- search app / results -->

<div>

	<h2>Evidences for {{search.label}} <small>({{search.query.q}})</small></h2>
	<div class="h6">Found {{search.results.total}} results ({{search.results.took/1000}} seconds)</div>

	<!--
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>Name</th>
				<th>Evidence</th>
				<th>Provenance</th>
				<th>Disease</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="result in search.results.data">	
				<td><strong>{{result['biological_subject.gene_info.gene_name']}}</strong></td>
				<td><div>{{result['evidence.evidence_type.eco_label']}}</div><div>This is another short description</div></td>
				<td>{{result['evidence.provenance_type.database.id']}}</td>
				<td>{{result['biological_object.efo_info.efo_label']}}</td>
				<td>{{result['evidence.association_score.probability.value']}}</td>
			</tr>
		</tbody>
	</table>
	-->
	<!-- Furthermore this should only be shown when results are displayed -->
	<!--
	<pagination boundary-links="true" total-items="search.results.total" ng-model="search.query.page" direction-links="true" class="pagination-sm" items-per-page="search.query.size" max-size=10 ng-change="getResults()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
	-->
	
	<style>
		circle {
		  fill: rgb(31, 119, 180);
		  fill-opacity: .25;
		}

		.leaf circle {
		  fill: #ff7f0e;
		  fill-opacity: 1;
		}

		text {
		  font: 10px sans-serif;
		}
	</style>
	<div>
		<div circle-pack-graph data="d3data" as-bubble="true" use-color-palette="true" style="height:200px"></div>
	</div>


</div>
<!-- end search results-->