<div class="cttv-facets" ng-show="true">

    <!-- Data distribution

    <cttv-score-histogram data="facet.data.buckets" min="facet.filters[0].key" max="facet.filters[1].key" controls="false"></cttv-score-histogram>-->


    <!-- User selections -->
    <!-- <div ng-show="selectedFilters.length>0" class="cttv-facets-selected-summary"> -->
    <div ng-show="false" class="cttv-facets-selected-summary">
        <h4>Your filters</h4>
        <div class="cttv-facets-controls">
            <span ng-click="deselectAll()">Clear all <i class="fa fa-times"></i></span>
        </div>
        <div ng-repeat="collection in selectedFilters">
            <h5>{{collection.label | clearUnderscores | upperCaseFirst}}</h5>
            <div class="checkbox" ng-repeat="bucket in collection.filters" ng-click="bucket.toggle()" style="cursor:pointer" title="Remove filter">
                <i class="fa fa-times-circle"></i> {{bucket.label}}
                <!-- <div ng-repeat="subfilter in bucket.collection.filters" ng-if="subfilter.selected">
                    <span>&nbsp;&nbsp;</span><i class="fa fa-times-circle"></i> {{subfilter.label}}
                </div> -->
            </div>
        </div>
    </div>

    <!-- Facets and filters -->
    <h4>Filter by</h4>
    <uib-accordion close-others=false>
        <div uib-accordion-group ng-init="status = {isOpen: facet.options.open}" is-open="status.isOpen" ng-repeat="facet in filters track by facet.key" ng-if="facet.filters.length>0" class="panel-default">
            <uib-accordion-heading class="cttv-facets-headers">
                {{facet.options.heading | clearUnderscores | upperCaseFirst}}<i class="pull-right text-lowlight fa" ng-class="{'fa-caret-right': !status.isOpen, 'fa-caret-down': status.isOpen}"></i>
            </uib-accordion-heading>

            <!--
                The content panel of the facet:
                Here we put all the templates we've got, with an ng-if statement so only the relevant one is added in
            -->

            <!--
                TODO:
                here we need to automate this block based on the facet definition in config.json
            -->
            <div datatype-facet facet='facet' partial='{{facet.isPartial}}' ng-if="facet.key=='datatype'"></div>

            <div cttv-pathway-facet facet='facet' partial='{{facet.isPartial}}' ng-if="facet.key=='pathway'"></div>

            <div cttv-score-facet facet='facet' ng-if="facet.key=='data_distribution'"></div>

            <div cttv-therapeutic-area-facet facet='facet' partial='{{facet.isPartial}}' ng-if="facet.key=='therapeutic_area'"></div>

            <div cttv-target-class-facet facet='facet' partial='{{facet.isPartial}}' ng-if="facet.key=='target_class'"></div>

        </div>
    </uib-accordion>
</div>
