<!-- FILTER BY TARGETS FROM FILE -->
<div class="cttv-facets" ng-show="true">
    <uib-accordion close-others=false>
        <div uib-accordion-group  is-open="true" class="panel-default">
            <uib-accordion-heading class="cttv-facets-headers">
                Your target list<i
                class="pull-right text-lowlight fa"
                ng-class="{'fa-caret-right': filterByFileCollapsed, 'fa-caret-down': !filterByFileCollapsed}"
                ng-click="filterByFileCollapsed = !filterByFileCollapsed"></i>
            </uib-accordion-heading>

            <div ng-if="!filterByFileCollapsed">
                <div class="cttv-facets-controls">
                    <!--Choose a file with list of targets-->
                    <form ng-show ="target.length == 0" name="upload">
                        <input id="myFileInput" type="file" name="file"
                               title="File should have either target names or Ensembl IDs, one per line or comma separated."
                               onchange="angular.element(this).scope().uploadedFile(this)"
                            />
                    </form>
                    <!--<div ng-show="target.length == 0">-->
                        <!--<span style="display:inline-block"><input type="file" id="targetListUpload" name="file" ng-change="uploadFile()"/></span>-->
                        <!--<span><button ng-click="uploadFile()">Add</button></span>-->
                    <!--</div>-->


                    <span ng-show ="target.length > 0"
                          ng-click="removeTargets()">Clear targets from {{files[0].name}}&nbsp&nbsp<i class="fa fa-times"></i>
                    </span>
                </div>

                <!-- Target File Problem -->
                <div ng-show="fileTooBig">
                    <p style="color:red">File size problem</p>
                    <p>The file {{files[0].name}} is too big ({{files[0].size | metricPrefix:0}}b)</p>
                    <p>Maximum size allowed is {{maxFileSize | metricPrefix:0}}b</p>
                </div>
                <div ng-show="wrongFileExtension">
                    <p style="color:red">File format problem</p>
                    <p>The file {{files[0].name}} has the wrong format / extension</p>
                    <p>Allowed formats are ".txt" or ".csv"</p>
                </div>

                <!--Target Filter Results-->
                <div ng-show = "target.length > 0">

                    <!--FOUND IN FILE-->
                    <div class="checkbox cttv-facet-checkbox clearfix">
                                        <span class="cttv-facets">
                                            <span class="cttv-facet-checkbox-label ng-binding"
                                                  ng-click="totalNamesCollapsed = !totalNamesCollapsed"
                                                  title="These are all the names found in your file" data-toggle="tooltip">
                                                Target names found in file<br>
                                            </span>
                                            <span class="text-lowlight cttv-facet-count pull-left ng-binding" >({{targetNameArray.length}})</span>
                                        </span>
                                        <span  class="text-lowlight pull-right">
                                            <i class="fa fa-caret-right cttv-facets-small-arrow"
                                               ng-class="{'fa-caret-right': totalNamesCollapsed, 'fa-caret-down': !totalNamesCollapsed}"
                                               ng-click="totalNamesCollapsed = !totalNamesCollapsed"></i>
                                        </span>
                    </div>
                    <div ng-class="{'boxed-scrollable' : !totalNamesCollapsed}">
                                        <span  class="cttv-facets cttv-facets-child-label-no-checkbox"
                                               ng-if="!totalNamesCollapsed"
                                               ng-repeat="item in targetNameArray">{{item}}<br></span>
                    </div>

                    <!--EXCLUDED FROM SEARCH-->
                    <div ng-if="excludedTargetArray.length > 0">
                        <div   class="checkbox cttv-facet-checkbox clearfix">
                                        <span class="cttv-facets">
                                            <span class="cttv-facet-checkbox-label ng-binding"
                                                  ng-click="excludedTargetsCollapsed = !excludedTargetsCollapsed"
                                                  title="These are the target names from the uploaded file, for which no Ensembl ID was found - thus excluding them from the association search.">
                                                Names not found in Ensembl<br>
                                            </span>
                                            <span class="text-lowlight cttv-facet-count pull-left ng-binding" title="15">({{excludedTargetArray.length}})</span>
                                        </span>
                                        <span class="text-lowlight pull-right">
                                            <i class="fa fa-caret-right cttv-facets-small-arrow"
                                               ng-class="{'fa-caret-right': excludedTargetsCollapsed, 'fa-caret-down': !excludedTargetsCollapsed}"
                                               ng-click="excludedTargetsCollapsed = !excludedTargetsCollapsed"></i>
                                        </span>
                        </div>
                        <div ng-class="{'boxed-scrollable' : !excludedTargetsCollapsed}">
                                        <span  class="cttv-facets cttv-facets-child-label-no-checkbox"
                                               ng-if="!excludedTargetsCollapsed"
                                               ng-repeat="item in excludedTargetArray">{{item.name}}<br></span>
                        </div>
                    </div>

                    <!--FUZZY - NEED TO EXPLAIN - these are the ones that name did not match exactly-->
                    <div ng-if="fuzzyTargetArray.length > 0">
                        <div >
                            <div  class="checkbox cttv-facet-checkbox clearfix"
                                  title="These are the target names from the file for which exact match was not found but similar name was found. By default they are included in association search. Clicking on the checkbox will exclude suggested target names from the search. ">
                                                <span style="width:auto">
                                                    <label class="cttv-facet-checkbox-label">
                                                        <input type="checkbox" ng-click="fuzzyToggle()" ng-checked="fuzziesIncludedInSearch" cttv-ui-indeterminate="false"/>
                                                        Suggested names found
                                                    </label>
                                                    <span class="text-lowlight cttv-facet-count" >({{fuzzyTargetArray.length}})</span>
                                                </span>
                                                <span class="text-lowlight pull-right">
                                                        <i class="fa cttv-facets-small-arrow"
                                                           ng-class="{'fa-caret-right': fuzzyTargetsCollapsed, 'fa-caret-down': !fuzzyTargetsCollapsed}"
                                                           ng-click="fuzzyTargetsCollapsed = !fuzzyTargetsCollapsed"></i>
                                                </span>
                            </div>
                        </div>

                        <div ng-class="{'boxed-scrollable' : !fuzzyTargetsCollapsed}">
                                            <span  class="cttv-facets cttv-facets-child-label-no-checkbox"
                                                   ng-if="!fuzzyTargetsCollapsed"
                                                   ng-repeat="item in fuzzyTargetArray">For {{item.name}} found {{item.label}}<br></span>
                        </div>
                    </div>

                    <!--FUZZY - END-->
                    <br>

                    <div class="cttv-facets">
                                        <span class="cttv-facet-checkbox-label ng-binding">
                                            Have associations with {{diseaseName}}<br>
                                        </span>
                                        <span class="text-lowlight cttv-facet-count pull-left ng-binding" >
                                            ({{search.total}})
                                        </span>
                    </div>

                    <div class="cttv-facets">
                                        <span class="cttv-facet-checkbox-label ng-binding">
                                            No associations found for {{diseaseName}}<br>
                                        </span>
                                        <span class="text-lowlight cttv-facet-count pull-left ng-binding" >
                                            ({{targetNameArray.length - search.total - excludedTargetArray.lengh }})
                                        </span>
                    </div>

                </div>
            </div>

        </div>
    </uib-accordion>
</div>