<div>
	<h3>Gene to disease association <!-- <br /><small>{{search.target}} <i class="fa fa-arrows-h"></i> {{search.disease}}</small> --></h3>
	<!-- <div class="h6">Found {{search.results.total}} results ({{search.results.took/1000}} seconds)</div> -->

	<!-- page header with flower and overview -->
	<div class="row" style="padding-bottom:20px; margin-bottom:20px">

		<div class="col-sm-3"  style="overflow:hidden">
			<cttv-gene-disease-association target="{{search.target}}" disease="{{search.disease}}" width="180" height="180" association-data="search.test"></cttv-gene-disease-association>
		</div>

		<div class="col-sm-9">
			<!-- target :: disease header 
			<div class="row">
				<div class="col-sm-5">
					<div style="border-radius: 10px; background: #DDD; padding: 5px 10px">
						<h5>{{search.target}}<br /><small>{{search.info.data.biological_subject.about[0]}}</small></h5>
						<p><small>May play a role in the postsynaptic responses of hippocampal neuron. Phosphorylates MAP2K1, and thereby contributes to the MAP kinase signal transduction pathway...</small></p>
					</div>
				</div>
				<div class="col-sm-2">
					<div style="display:table; height:100%">
						<div style="display:table-cell; vertical-align: middle; height:1px; background:#F00"></div>
					</div>
				</div>
				<div class="col-sm-5">
					<div style="border-radius: 10px; background: #DDD; padding: 5px 10px">
						<h5>{{search.info.data.biological_object.efo_info.efo_label}}<br /><small>{{search.info.data.biological_object.efo_info.efo_path}}</small></h5>
						<p><small>A usually small, slow-growing neoplasm composed of islands of rounded, oxyphilic, or spindle-shaped cells of medium size, with moderately small vesicular nuclei...</small></p>
					</div>
				</div>
			</div>
			-->
			<div style="display: table;">

				<!-- Gene Info -->
				<div style="display: table-cell; width:45%">
					<div style="border-radius: 10px; background: #DDD; padding: 5px 10px">
						<h5>{{search.info.data.biological_subject.gene_info[0].symbol}}<br /><small>{{search.info.data.biological_subject.gene_info[0].name}} ({{search.info.data.biological_subject.gene_info[0].geneid}})</small></h5>
						<p class="small">May play a role in the postsynaptic responses of hippocampal neuron. Phosphorylates MAP2K1, and thereby contributes to the MAP kinase signal transduction pathway...</p>
					</div>
				</div>

				<!-- Divider -->
				<div style="display: table-cell; width:10%; vertical-align:middle; padding: 2px">
					<div style="width:100%; height:1px; border-bottom:2px solid #DDD"></div>
				</div>

				<!-- Disease Info -->
				<div style="display: table-cell; width:45%">
					<div style="border-radius: 10px; background: #DDD; padding: 5px 10px">
						<h5>{{search.info.data.biological_object.efo_info[0][0].label}}<!-- <br /><small>{{search.info.data.biological_object.efo_info[0][0].efo_id}}</small>--></h5>
						<p class="small">A carcinoma that originates from breast tissue.</p>
						<!-- show the EFO hierarchy links -->
						<!-- <small class="text-lowlight">
							<span ng-repeat="link in search.info.efo_path"><span ng-click="linkTo({type:'efo', q:link}); $event.stopPropagation()"><a>{{link | limitTo:30}}<span ng-show="link.length>30">...</span></a></span><span ng-show="!$last" class="fa fa-angle-right fa-md" style="margin:0px 4px"></span></span>
						</small>-->
					</div>
				</div>

			</div>
		</div>
	</div>



	<!-- Filters and tabular data -->
	<div class="row">
		<!-- 
		<div class="col-sm-3">
			<h4>Filters <br /><small>(not working)</small></h4>
			<div class="checkbox" ng-repeat="result in ['one', 'two', 'three', 'four', 'five', 'six']">
				<label><input type="checkbox" ><small>{{result}}</small></label>
			</div>
		</div>
		-->

		<div class="col-sm-12">

			<!-- Data tables -->

			<!--
			RNA expression 
			Genetic associations
			Phenotypic associations
			Known drugs
			Disrupted pathways
			-->
			
			<accordion  close-others="false">
				<accordion-group heading="RNA expression ({{search.rna_expression.length}})" is-open="true" >
					<div>
						<!-- <h4>Header info for table</h4> -->
						<table class='table table-striped table-bordered' id="rna-expression-table">
						</table>
						<p>Final footer notes for the table...</p>
					</div>
				</accordion-group>

				<accordion-group heading="Genetic associations" >
					<div ng-repeat="result in search.genetic_associations">{{result}}</div>
				</accordion-group>

				<accordion-group heading="Somatic mutations" >
					This content is straight in the template.
				</accordion-group>

				<accordion-group heading="Known drugs (1)" >
					<div>
						<h5>Prazosin</h5>
						<table class='table table-striped table-bordered' id="drugs-table-1">
							<thead>Drug overview</thead>
							<tbody>
							</tbody>
						</table>
						<p>Final footer notes for the table...</p>
					</div>
				</accordion-group>

				<accordion-group heading="Disrupted pathways" >
					This content is straight in the template.
				</accordion-group>

				<accordion-group heading="Mouse models" >
					This content is straight in the template.
				</accordion-group>

				<!-- 
			    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
			      {{group.content}}
			    </accordion-group>

			    <accordion-group heading="Example 1">
			      <p>The body of the accordion group grows to fit the contents</p>
			        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
			        <div ng-repeat="item in items">{{item}}</div>
			    </accordion-group>

			    <accordion-group is-open="status.open">
			        <accordion-heading>
			            Example 2 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			        </accordion-heading>
			        This is just some content to illustrate fancy headings.
			    </accordion-group>
				-->

			</accordion>
			
		</div>
	</div>


	<!-- <cttv-associations-header data="{{search}}" width="500" height="120"></cttv-associations-header> -->
	<!-- <cttv-associations-overview target="{{search.target}}" disease="{{search.disease}}" width="120" height="120"></cttv-associations-overview>-->
</div>
