<div>
	<h3>Gene to disease association <!-- <br /><small>{{search.target}} <i class="fa fa-arrows-h"></i> {{search.disease}}</small> --></h3>
	<!-- <div class="h6">Found {{search.results.total}} results ({{search.results.took/1000}} seconds)</div> -->

	<!-- page header with flower and overview -->
	<div class="row" style="padding-bottom:20px; margin-bottom:20px; margin-top:40px;">

		<div class="col-sm-3"  style="overflow:hidden">
			<cttv-gene-disease-association target="{{search.target}}" disease="{{search.disease}}" width="180" height="180" association-data="search.flower_data"></cttv-gene-disease-association>
		</div>

		<div class="col-sm-9">
			<!-- target :: disease header 
			<div class="row">
				<div class="col-sm-5">
					<div style="border-radius: 10px; background: #DDD; padding: 5px 10px">
						<h5>{{search.target}}<br /><small>{{search.info.data.biological_subject.about[0]}}</small></h5>
						<p><small>May play a role in the postsynaptic responses of hippocampal neuron. Phosphorylates MAP2K1, and thereby contributes to the MAP kinase signal transduction pathway...</small></p>
					</div>
				</div>
				<div class="col-sm-2">
					<div style="display:table; height:100%">
						<div style="display:table-cell; vertical-align: middle; height:1px; background:#F00"></div>
					</div>
				</div>
				<div class="col-sm-5">
					<div style="border-radius: 10px; background: #DDD; padding: 5px 10px">
						<h5>{{search.info.data.biological_object.efo_info.efo_label}}<br /><small>{{search.info.data.biological_object.efo_info.efo_path}}</small></h5>
						<p><small>A usually small, slow-growing neoplasm composed of islands of rounded, oxyphilic, or spindle-shaped cells of medium size, with moderately small vesicular nuclei...</small></p>
					</div>
				</div>
			</div>
			-->
			<div style="display: table;">

				<!-- Gene Info -->
				<div style="display: table-cell; width:45%">
					<div class="well well-lg">
						<h5>
							<a href="#/target/{{search.info.gene.ensembl_gene_id}}">{{search.info.gene.approved_symbol || search.info.gene.ensembl_external_name}}</a><br />
							<span class="small">{{search.info.gene.approved_name || search.info.gene.ensembl_description}}
								<br/ >({{search.info.gene.id || search.info.gene.ensembl_gene_id}})
								<span ng-show="search.info.gene.name_synonyms.length>0"><br />Synonyms: {{search.info.gene.name_synonyms.join(", ") | limitTo:60}}...</span>
							</span>
						</h5>
						<p class="small">{{search.info.gene.uniprot_function[0] | limitTo: 200}}<span ng-show="search.info.gene.uniprot_function[0].length>200">...</p>
					</div>
				</div>

				<!-- Divider -->
				<div style="display: table-cell; width:10%; vertical-align:middle; padding: 2px">
					<div style="width:100%; height:1px; border-bottom:2px solid #DDD"></div>
				</div>

				<!-- Disease Info -->
				<div style="display: table-cell; width:45%">
					<div class="well well-lg">
						<h5>
							{{search.info.efo.label}}
							<span class="small" ng-show="search.info.efo.synonyms.length>0"><br />Synonyms: {{search.info.efo.synonyms.join(", ") | limitTo:60}}...</span>
						</h5>
						<p class="small">{{search.info.efo.definition | limitTo: 200}}<span ng-show="search.info.efo.definition.length>200">...</span></p>
						<!-- show the EFO hierarchy links -->
						<!-- <small class="text-lowlight">
							<span ng-repeat="link in search.info.efo_path"><span ng-click="linkTo({type:'efo', q:link}); $event.stopPropagation()"><a>{{link | limitTo:30}}<span ng-show="link.length>30">...</span></a></span><span ng-show="!$last" class="fa fa-angle-right fa-md" style="margin:0px 4px"></span></span>
						</small>-->
					</div>
				</div>

			</div>
		</div>
	</div>



	<!-- Filters and tabular data -->
	<div class="row">
		<!-- 
		<div class="col-sm-3">
			<h4>Filters <br /><small>(not working)</small></h4>
			<div class="checkbox" ng-repeat="result in ['one', 'two', 'three', 'four', 'five', 'six']">
				<label><input type="checkbox" ><small>{{result}}</small></label>
			</div>
		</div>
		-->

		<div class="col-sm-12">

			<!-- Data tables -->

			<accordion close-others="false">

				<!-- Genetic Associations table -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.genetic_associations.common_diseases.data.length==0 && search.genetic_associations.rare_diseases.data.length==0 }">Genetic associations</span>
							<span class='badge' ng-show="search.genetic_associations.common_diseases.data.length>0">{{search.genetic_associations.common_diseases.data.length}}</span>
							<span class='badge' ng-show="search.genetic_associations.rare_diseases.data.length">{{search.genetic_associations.rare_diseases.data.length}}</span>
							<i class="pull-right fa fa-circle-o-notch fa-spin" ng-show="search.genetic_associations.is_loading"></i>
						</span>
					</accordion-heading>
					<div ng-show="search.genetic_associations.common_diseases.data.length>0 || search.genetic_associations.rare_diseases.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.GENETIC_ASSOCIATION] || 0}}</span></p>

						<!-- Common disease table -->
						<div ng-show="search.genetic_associations.common_diseases.data.length>0">
							<h5>Common diseases</h5>
							<p>Source: <a href="http://www.ebi.ac.uk/fgpt/gwas/" target="_blank">GWAS Catalog curated database</a></p>

							<table class='table table-striped table-bordered' id="common-diseases-table">
								<thead>
						            <tr>
						                <th rowspan="2">Disease</th>
						                <th rowspan="2">SNP</th>
						                <th colspan="2">Gene-SNP Evidence</th>
						                <th colspan="3">SNP-Disease Evidence</th>
						            </tr>

						            <tr>
						            	<th>Variant type</th>
						            	<th>Evidence source</th>
						            	<th>Evidence source</th>
						            	<th>P-Value</th>
						            	<th>Publications</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
						<!-- Related rare disease table -->

						<hr ng-show="search.genetic_associations.common_diseases.data.length>0 && search.genetic_associations.rare_diseases.data.length>0"/>

						<div ng-show="search.genetic_associations.rare_diseases.data.length>0">
							<h5>Related rare diseases</h5>
							<p>Source: <a href="http://www.uniprot.org" target="_blank">Uniprot</a> and <a href="http://www.ebi.ac.uk/eva/?Home" target="_blank">European Variation Archive (EVA)</a> curated databases</p>

							<table class='table table-striped table-bordered' id="rare-diseases-table">
								<thead>
						            <tr>
						                <th rowspan="2">Disease</th>
						                <th rowspan="2">Mutation</th>
						                <th colspan="4">Gene-Disease Evidence</th>
						            </tr>

						            <tr>
						            	<th>Mutation type</th>
						            	<th>Mutation consequence</th>
						            	<th>Evidence source</th>
						            	<th>Publications</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.genetic_associations.common_diseases.data.length==0 && search.genetic_associations.rare_diseases.data.length==0">
						<p>No data available</p>
					</div>

				</accordion-group>



				<!-- Somatic Mutations table -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.somatic_mutations.data.length==0 }">Somatic mutations</span>
							<span class='badge' ng-show="search.somatic_mutations.data.length>0">{{search.somatic_mutations.data.length}}</span>
							<i class="pull-right fa fa-circle-o-notch fa-spin" ng-show="search.somatic_mutations.is_loading"></i>
						</span>
					</accordion-heading>
					<div ng-show="search.somatic_mutations.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.SOMATIC_MUTATION] || 0}}</span><br />Source: <a href="http://cancer.sanger.ac.uk/cancergenome/projects/cosmic/" target="_blank">COSMIC</a> curated database</p>
						<table class='table table-striped table-bordered' id="mutations-table">
							<thead>
					            <tr>
					                <th>Disease</th>
					                <th>Evidence source</th>
					            </tr>
					        </thead>

							<tbody>
							</tbody>
						</table>
					</div>
					<div ng-show="search.somatic_mutations.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- Known drugs -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.drugs.data.length==0 }">Known drugs</span>
							<span class='badge' ng-show="search.drugs.data.length>0">{{search.drugs.data.length}}</span>
							<i class="pull-right fa fa-circle-o-notch fa-spin" ng-show="search.drugs.is_loading"></i>
						</span>
					</accordion-heading>
					<div ng-show="search.drugs.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.KNOWN_DRUG] || 0}}</span><br />Source: <a href="https://www.ebi.ac.uk/chembl/" target="_blank">CHEMBL</a> curated database</p>
						<!-- <div class="btn-group btn-group-sm">
					        <label class="btn btn-default" ng-model="radioModel" btn-radio="'Left'"><i class='fa fa-th'></i></label>
					        <label class="btn btn-default" ng-model="radioModel" btn-radio="'Right'"><i class='fa fa-th-large'></i></label>
					    </div> -->
						<div style="overflow-x: scroll">
							<table class='table table-striped table-bordered' id="drugs-table">
								<thead>
						            <tr>
						                <th rowspan="2" colspan="1">Disease</th>
						                <th rowspan="1" colspan="6">Drug Information</th>
						                <th rowspan="1" colspan="4">Gene-Drug Evidence</th>
						                <th rowspan="2" colspan="1">Evidence source</th>
						            </tr>
						            <tr>
						            	<!-- Drug information -->             
						                <th>Drug</th>
						                <th>Phase</th>
						                <th>Type</th>
						                <th>Mechanism of Action</th>
						                <th>Activity</th>
						                <th>Clinical Trials</th>

						                <!-- Gene-Drug evidence -->
						                <th>Target name</th>
						                <th>Target class</th>
						                <th>Target context</th>
						                <th style="border-right-width: 1px">Protein complex members</th> <!-- we have to manually set this border, otherwise datatables thinks it's the last element and removes the border-->
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.drugs.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- RNA Expression table -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.rna_expression.data.length==0 }">RNA expression</span>
							<span class='badge' ng-show="search.rna_expression.data.length>0">{{search.rna_expression.data.length}}</span>
							<i class="pull-right fa fa-circle-o-notch fa-spin" ng-show="search.rna_expression.is_loading"></i>
						</span>
					</accordion-heading>
					<div ng-show="search.rna_expression.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.RNA_EXPRESSION] || 0}}</span><br />Source: <a href="http://www.ebi.ac.uk/gxa/home" target="_blank">Expression Atlas</a> curated database</p>
						<!-- <h4>Header info for table</h4> -->
						<div style="overflow-x: scroll">
							<table class='table table-striped table-bordered' id="rna-expression-table">
								<thead>
						            <tr>
						                <th rowspan="2" colspan="1">Disease</th>
						                <th rowspan="1" colspan="6">Gene-disease evidence</th>
						                <th rowspan="2" colspan="1">Experiment overview and data</th>
						                <th rowspan="2" colspan="1">Publications</th>
						            </tr>
						            <tr>      
						                <th>Comparison</th>
						                <th>Activity</th>
						                <th>Tissue/cell</th>
						                <th>Evidence source</th>
						                <th>Log2 fold change</th>
						                <th style="border-right-width: 1px">P-value</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.rna_expression.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- Disrupted pathways --> 
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.pathways.data.length==0 }">Disrupted pathways</span>
							<span class='badge' ng-show="search.pathways.data.length>0">{{search.pathways.data.length}}</span>
							<i class="pull-right fa fa-circle-o-notch fa-spin" ng-show="search.pathways.is_loading"></i>
						</span>
					</accordion-heading>
					<div ng-show="search.pathways.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.AFFECTED_PATHWAY] || 0}}</span><br />Source: <a href="http://www.reactome.org" target="_blank">Reactome</a> curated database</p>
						<!-- <h4>Header info for table</h4> -->
						<table class='table table-striped table-bordered' id="pathways-table">
							<thead>
					            <tr>
					                <th rowspan="2" colspan="1">Disease</th>
					                <th rowspan="2" colspan="1">Pathway</th>
					                <th rowspan="1" colspan="7">Gene-disease evidence</th>
					            </tr>
					            <tr> 
					                <th>Overview</th>
					                <th>Activity</th>
					                <th>Target context</th>
					                <th>Protein complex members</th>
					                <th>Mutations</th>
					                <th>Evidence source</th>
					                <th>Publications</th>
					            </tr>
					        </thead>

							<tbody>
							</tbody>
						</table>
					</div>
					<div ng-show="search.pathways.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- Mouse models -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.mouse.data.length==0 }">Mouse models</span>
							<span class='badge' ng-show="search.mouse.data.length>0">{{search.mouse.data.length}}</span>
							<i class="pull-right fa fa-circle-o-notch fa-spin" ng-show="search.mouse.is_loading"></i>
						</span>
					</accordion-heading>
					<div ng-show="search.mouse.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.ANIMAL_MODEL] || 0}}</span><br />Source: <a href="http://www.sanger.ac.uk/resources/databases/phenodigm/" target="_blank">Phenodigm</a></p>
						<table class='table table-striped table-bordered' id="mouse-table">
							<thead>
					            <tr>
					                <th rowspan="2" colspan="1">Disease</th>
					                <th rowspan="1" colspan="2">Phenotype - Phenotype Evidence</th>
					                <th rowspan="1" colspan="3">Model - Disease Evidence</th>
					            </tr>
					            <tr>
					            	<!-- Drug information -->             
					                <th>Human</th>
					                <th>Mouse</th>
					                <th>Mouse model</th>
					                <th>Evidence source</th>
					                <th>Score</th>
					            </tr>
					        </thead>

							<tbody>
							</tbody>
						</table>
					</div>
					<div ng-show="search.mouse.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



			</accordion>
			
		</div>
	</div>


	<!-- <cttv-associations-header data="{{search}}" width="500" height="120"></cttv-associations-header> -->
	<!-- <cttv-associations-overview target="{{search.target}}" disease="{{search.disease}}" width="120" height="120"></cttv-associations-overview>-->
</div>
