<!-- First page should go here -->

<div class="row">
  <div class="col-md-4">
    <h2>Discover</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae dui sem. Aenean sollicitudin fringilla augue sed varius. Suspendisse potenti. Morbi libero ipsum, cursus ornare pretium nec, semper gravida odio. Integer congue dui ut ipsum feugiat, vitae sollicitudin dui faucibus. Maecenas in ante lobortis, cursus nibh sit amet, tempus arcu.</p>
  </div>
  <div class="col-md-4">
    <h2>Explore</h2>
    <p>Praesent commodo quis dolor sit amet iaculis. Nunc a lobortis dui. Aliquam dapibus nisi eget urna volutpat, et porttitor sem venenatis. Nullam tellus nisl, feugiat eget fermentum a, rhoncus id neque. Nullam tristique faucibus magna, ultrices sodales justo sagittis vehicula. Sed sit amet ligula tristique, sollicitudin orci facilisis, auctor dui. Aliquam maximus tellus sed ornare molestie.</p>
  </div>
  <div class="col-md-4">
    <h2>Share</h2>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut feugiat, turpis id mattis commodo, nisl dui suscipit turpis, et finibus turpis dui vitae nibh.</p>
    <p>
      <span class="fa fa-twitter fa-lg"></span>
      <span class="fa fa-facebook-square fa-lg"></span>
      <span class="fa fa-github fa-lg"></span>
    </p>
    <p>Integer congue dui ut ipsum feugiat, vitae sollicitudin dui faucibus.</p>
  </div>
</div>
<!-- End first page -->