<div class="section">
    <!--<h3 class="summary-section-header">Diseases associated with {{targets.length}} targets</h3>-->

    <!--<uib-tabset active="active">-->

        <!--<uib-tab heading="Therapeutic areas">-->
            <!--<multiple-targets-tas associations="associations" targets="targets"></multiple-targets-tas>-->
        <!--</uib-tab>-->

        <!--<uib-tab heading="Table">-->
            <multiple-targets-table associations="associations" targets="target"></multiple-targets-table>
        <!--</uib-tab>-->

        <!--<uib-tab heading="Bubbles">-->
            <!--<multiple-targets-bubbles associations="associations" targets="targets"></multiple-targets-bubbles>-->
        <!--</uib-tab>-->

    <!--</uib-tabset>-->
</div>
