<cttv-progress-spinner ng-show="scope.showSpinner"></cttv-progress-spinner>

<!-- hint -->
<div>
    <p class="cttv-section-intro">Summary of interactions between the set of targets. When 2 are selected details on the interaction is shown (for now, only links based on <i>shared pathways</i> are shown).</p>
</div>

<!-- Shows the currently selected targets -->
<div>
    <div>Selected nodes:
        <span style="color:#aaaaaa" ng-if="!selectedNodes.length">[Click on the targets to select / deselect them]</span>
        <span ng-repeat="node in selectedNodes">{{node.label}}<i ng-click="unselectNode(node)" class="fa fa-times" style="margin-left:3px;margin-right:10px;cursor:pointer;"></i></span>
        <span style="color:#aaaaaa" ng-if="selectedNodes.length==1">[Click on another target to view the interaction details]</span>
    </div>
</div>

<div style="text-align:center">
    <div style="display:inline-block" id="interactionsViewerMultipleTargets"></div>
</div>

