<cttv-progress-spinner ng-show="scope.showSpinner"></cttv-progress-spinner>

<!-- hint -->
<div>
    <p class="cttv-section-intro">Summary of interactions between the set of targets. When 2 are selected details on the
        interaction is shown (for now, only links based on <i>shared pathways</i> are shown).</p>
</div>

<!-- Shows the currently selected targets -->
<!--<div>-->
    <!--<div>Selected nodes:-->
        <!--<span style="color:#aaaaaa"-->
              <!--ng-if="!selectedNodes.length">[Click on the targets to select / deselect them]</span>-->
        <!--<span ng-repeat="node in selectedNodes">{{node.label}}<i ng-click="unselectNode(node)" class="fa fa-times"-->
                                                                 <!--style="margin-left:3px;margin-right:10px;cursor:pointer;"></i></span>-->
        <!--<span style="color:#aaaaaa" ng-if="selectedNodes.length==1">[Click on another target to view the interaction details]</span>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-sm-3">
        <div style="margin:10px;">

            <!-- Categories filter -->
            <div ng-init="showCategories=false;">
                <h4>Sources <span stlye="font-size=0.5em"><i class="fa pull-right text-lowlight" ng-click="showCategories=!showCategories" ng-class="{'fa-caret-right':!showCategories, 'fa-caret-down':showCategories}"></i></span></h4>
                <div ng-show="showCategories" ng-repeat="(category, items) in categories" ng-click="filterSource(category)"><input
                        type="checkbox" checked="true"> {{category}} ({{items}} interaction<span ng-if="items!=1">s</span>)
                </div>
            </div>

            <!-- Interactions details -->
            <div style="margin-top:20px;">
                <h4>Interactions details</h4>
                <div>
                    <!--<div ng-if="!selectedNodes.length">-->
                        <!--<div style="margin-top:20px;">-->
                            <!--<span style=""><i class="fa fa-arrow-right"></i> <span style="font-size:1.2em;">1</span> Click on a target in the plot</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div ng-if="selectedNodes.length>0">
                        <!-- Show the labels for the selected targets -->
                        <div> Selected nodes: <span ng-repeat="node in selectedNodes" style="margin-right:10px; border:1px solid #ccc; border-radius:6px; font-size:0.8em; padding:3px; background-color:{{node.color}};white-space:nowrap">{{node.label}}&nbsp;<i
                                ng-click="unselectNode(node)" class="fa fa-times"
                                style="margin-left:1px;cursor:pointer;"></i></span>
                        </div>
                    </div>
                </div>

                <!-- Card-like representation of the help -->
                <div style="margin-top:20px; border:1px solid #ccc; box-shadow:0 5px 10px rgba(0,0,0,.2); padding:0px; border-radius:6px; overflow: hidden; border-style:hidden"
                     ng-if="selectedNodes.length<2">
                    <!-- header -->
                    <div style="border-color:#eee; background:#f5f5f5; font-weight:bold; text-align:center; padding:5px; vertical-align:top; white-space:normal;">
                        Help
                    </div>
                    <div ng-style="{'color': selectedNodes.length==0 ? '' : '#dddddd'}" style="text-align:left; padding:6px;"><span style="font-size:1.5em; vertical-align:middle">&#x2022</span>
                        <span style="font-size:1.2em;">1</span> Click on a target in the plot</span>
                    </div>
                    <div ng-style="{'color': selectedNodes.length==1 ? '' : '#dddddd'}" style="text-align:left; padding:6px;"><span style="font-size:1.5em; vertical-align:middle">&#x2022</span>
                        <span style="font-size:1.2em;">2</span> Click on another target to get details about the
                        interaction</span>
                    </div>
                </div>


                <!--<div ng-if="selectedNodes.length == 1" style="margin-top:20px;">-->
                    <!--<span ng-if="selectedNodes.length==1"><i class="fa fa-arrow-right"></i> <span style="font-size:1.2em;">2</span> Click on another target to get details about the interaction</span>-->
                    <!--&lt;!&ndash; Show the details for selected target 1 &ndash;&gt;-->
                <!--</div>-->

                <div ng-if="selectedNodes.length == 2" style="margin-top:20px;">

                    <!-- Card-like representation of the interactions -->
                    <div style="border:1px solid #ccc; box-shadow:0 5px 10px rgba(0,0,0,.2); padding:0px; border-radius:6px; overflow: hidden; border-style:hidden">
                        <!-- header -->
                        <div style="border-color:#eee; background:#f5f5f5; font-weight:bold; text-align:center; padding:5px; vertical-align:top; white-space:normal;">
                            {{selectedNodes[0].label}} - {{selectedNodes[1].label}} interaction
                        </div>

                        <!-- Shared pathways -->
                        <div ng-if="pathways.length" ng-init="showSharedPathways=true">
                            <div style="text-align:left; padding:6px;"><span style="font-size:1.5em; vertical-align:middle">&#x2022</span> <span style="vertical-align:middle;">{{pathways.length}} shared pathway</span><span ng-if="pathways.length!=1">s</span> <span ng-click="showSharedPathways=!showSharedPathways" class="fa pull-right text-lowlight" ng-class="{'fa-caret-right':!showSharedPathways, 'fa-caret-down':showSharedPathways}"></span></div>
                            <div style="padding-bottom:7px;">
                                <div style="margin-left:15px; text-align:left; font-size:0.9em;" ng-show="showSharedPathways" ng-repeat="pathway in pathways"><a
                                        href='/summary?pathway={{pathway.id}}&pathway-target={{selectedNodes[0].label}}&pathway-target={{selectedNodes[1].label}}'><i
                                        style="margin-right:5px;" class="fa fa-sitemap"></i>{{pathway.label}}</a></div>
                            </div>
                        </div>

                        <div ng-if="ppis.length" style="padding:6px;">
                            <span style="font-size:1.5em; vertical-align:middle">&#x2022</span> <span style="vertical-align:middle;">Protein-protein interaction</span>
                        </div>

                        <!--<div ng-if="ppis.length" ng-init="showPPIs=false">-->
                            <!--<div style="font-weight:bold; text-align:left; padding:8px;">Protein-protein interactions ({{ppis.length}}) <span ng-click="showPPIs=!showPPIs" class="fa pull-right text-lowlight" ng-class="{'fa-caret-right':!showPPIs, 'fa-caret-down':showPPIs}"></span></div>-->
                            <!--<div style="padding-bottom:7px;">-->
                                <!--<div ng-show="showPPIs" ng-repeat="source in ppis" style="margin-left:15px">-->
                                    <!--{{source.label}}-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div ng-if="enzSubs.length" style="padding:6px;">
                            <span style="font-size:1.5em; vertical-align:middle">&#x2022</span> <span style="vertical-align:middle;">Enzime-substrate relationship</span>
                        </div>

                        <!--<div ng-if="enzSubs.length" ng-init="showEnzSubs=false">-->
                            <!--<div style="font-weight:bold; text-align:left; padding:8px;">Enzymes-substrates ({{enzSubs.length}}) <span ng-click="showEnzSubs=!showEnzSubs" class="fa pull-right text-lowlight" ng-class="{'fa-caret-right':!showEnzSubs, 'fa-caret-down':showEnzSubs}"></span></div>-->
                            <!--<div style="padding-bottom:7px;">-->
                                <!--<div ng-show="showEnzSubs" ng-repeat="source in enzSubs" style="margin-left:15px;">-->
                                    <!--{{source.label}}-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-9" id="interactionsViewerMultipleTargets"></div>
</div>

<!--<div style="text-align:center">-->
<!--<div style="display:inline-block" id="interactionsViewerMultipleTargets"></div>-->
<!--</div>-->

