<div class="table-panel">
    <table class='table cttv-evidence-table' id="literature3-table">
        <thead>
        <tr>
            <th>Access level</th>                <!--0 nameless col for access level -->
            <th>Disease</th>        <!--1   -->
            <th>Nferx Serial ID</th> <!--2 nferx serial id-->
            <th>P-Value</th>            <!--3 pvalue -semantic distance -->
            <th>Nferx URL</th>                <!--4 Nferx Url-->
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
