<div ng-show="total > 0" style="width: 100%; height: 1px; background: #CCC; margin-top:30px; margin-bottom:30px;"></div>
<div class="table-panel">
    <table class='table cttv-evidence-table' id="literature3-table">
        <thead>
        <tr>
            <th>Access level</th>                <!--0 nameless col for access level -->
            <th>Disease</th>        <!--1   -->
            <th>Cosine Distance</th>            <!--2 pvalue -semantic distance -->
            <th>Nferx URL</th>                <!--3 Nferx Url-->
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
