<view-title>Release Notes</view-title>

This page lists all changes of the CTTV releases.

<h1>Center for Therapeutic Target Validation Release Notes</h1>

<div class="row">

	<div class="col-md-12">

		<div>
		<h2>Release 0.2 (release 2015-04-20)</h3>
			<h3>Status</h3>
		    <p>This is a maintenance release. The following items were fixed and/or added:</p>
		    <h4>New features</h4>
        	<ul>
        	    <li>test</li>
        	</ul>

            <h4>Other Changes</h4>
            <ul>
                <li>test</li>
            </ul>
            <h4>Bug fixes</h4>
            <ul>
                <li>test</li>
            </ul>
            
		<h2>Release 0.1 (release 2015-03-02)</h3>
			<h3>Status</h3>
		    <p>This version is the first release of the CTTV platform. The following major features were added:</p>
        	<ul>
        	    <li>search box: you can retrieve gene of interest by entering gene symbol, gene name and gene synonym</li>
        	    <li>search box: you can also search by disease name provided the disease label and its synonyms are part of the Experimental Factor Ontology (EFO)</li>
        	    <li>search results: results of a search are presented by order of relevance based on the matching of symbol, names and synonyms. Matched terms are highlighted</li>
        	    <li>search filters: search results can be filtered by gene and/or disease. Number of matching genes and number of matching diseases are shown</li>
        	    <li>auto-completion box: search terms are auto-completed. the auto-completion presents - up to 3 - matched gene and disease terms </li>
        	    <li>auto-completion box: disease ontology classification is presented under the disease term and clickable. A disease hyperlink links to the disease association page</li>       	    
        	    <li>auto-completion box: the hyperlink of an auto-completed gene links to a gene associations page for this gene</li>
        	    <li>disease associations page: provides an overview of all diseases associated to a target. 2 views are available: a 'bubble view' and a 'tabular view'</li>
        	    <li>disease associations bubble view: groups disease by therapeutic area into bubbles. Because of the EFO ontology, a disease can belong to multiple therapeutic area</li>
        	    <li>disease associations bubble view: you can zoom in a particular therapeutic area by clicking on the corresponding therapeutic area filter</li>
        	    <li>disease associations bubble view: you can zoom out of a particular therapeutic area by clicking on the corresponding therapeutic area filter again</li>
        	    <li>disease associations bubble view: you can click on a bubble to get the association score between a specific disease and a target. This score is broken down by data types and represented as a flower</li>
                <li>disease associations bubble view: you can go to a detailed gene-disease page by following the view details link when clicking on a bubble</li>
                <li>disease associations tabular view: lists all diseases associated to a particular gene ordered by association score. This score is broken down by data types and represented as a flower</li>
        	    <li>association score flower: represents the relative contribution of each data type when scoring a gene to disease association</li>
        	    <li>gene to disease association page: provides details on the evidence found to associate a particular gene to a particular disease (from EFO)</li>
        	    <li>gene to disease association page: genetic associations from eVA, UniProt and the GWAS catalog are presented</li>
        	    <li>gene to disease association page: somatic mutations from the cancer gene census COSMIC resource are presented</li>
        	    <li>gene to disease association page: known drugs from ChEMBL are presented</li>
        	    <li>gene to disease association page: RNA expression information from the Expression Atlas are presented</li>
        	    <li>gene to disease association page: disrupted pathways from Reactome are presented</li>
        	    <li>gene to disease association page: mouse models from PhenoDigm are presented</li>
        	    <li>target profile page: summarises all information known about a particular target including synonyms, UniProt and Ensembl information, GO terms, baseline expression and list of publications from EUROPE PubMed Central</li>
        	    <li>disease profile page: provides a description of a disease, its synonyms and its classification in the Experimental Factor Ontology</li>
        	    <li>target association page: provides a table view of all potential targets associated to a disease as a table</li>
        	    <li>target associations tabular view: lists all targets associated to a particular disease ordered by association score. This score is broken down by data types and represented as a flower</li></li>
        	</ul>
            <p>The CTTV platform integrates multiple source of information from the following public resources:</p>
            <ul>
                <li><a href="http://www.uniprot.org/">UniProt</a>: a comprehensive, high-quality and freely accessible resource of protein sequence and functional information</li>
                <li><a href="http://www.ebi.ac.uk/eva/">European Variation Archive (EVA)</a>: an open-access database of all types of genetic variation data from human</li>
                <li><a href="https://www.ebi.ac.uk/gwas/">GWAS Catalog</a>: the NHGRI-EBI Catalog of published genome-wide association studies</li>
            </ul>
            <h4>Bug fixes</h4>
            <ul>
                <li>test</li>
            </ul>
            
            
        </div>
    </div>
</div>