<!-- search app / results -->

<div class="partial-page">
    <!-- <h3 view-title>Search results for {{(search.query.q.title || search.query.q)}}</h3>
    <div class="h6">Found {{search.results.total || 0}} results <span ng-show="search.results.took!==undefined">({{search.results.took/1000}} seconds)</span></div> -->
    <cttv-page-progress-spinner></cttv-page-progress-spinner>


    <div class="cttv-content-header">
        <div class="container">
            <h3 view-title>Search results for {{(search.query.q.title || search.query.q)}}</h3>
            <p>Found {{search.results.total || 0}} results<span class="cttv-interpage-link text-lowlight" ng-show="search.results.took!==undefined"><span class="small">{{search.results.took/1000}} seconds</span></span>
            </p>
        </div>
    </div>


    <div class="container">

        <div class="row">

            <!-- Filters/Facets -->

            <div class="col-sm-2" ng-if="search.results.total>0">
                <div >
                    <h4>Refine by:</h4>
                    <div class="checkbox">
                        <label ng-class="(filters.target.total==0) ? 'text-lowlight' : ''"><input type="checkbox" ng-model="filters.target.selected" ng-change="update()" ng-disabled="filters.target.total==0">Target <span class='badge badge-primary'>{{filters.target.total}}</span></label>
                        <span cttv-progress-spinner class="text-lowlight" ng-show="filters.target.loading"></span>
                    </div>
                    <div class="checkbox">
                        <label ng-class="(filters.disease.total==0) ? 'text-lowlight' : ''"><input type="checkbox" ng-model="filters.disease.selected" ng-change="update()" ng-disabled="filters.disease.total==0">Disease <span class='badge badge-warning'>{{filters.disease.total}}</span></label>
                        <span cttv-progress-spinner class="text-lowlight" ng-show="filters.disease.loading"></span>
                    </div>
                </div>
            </div>




            <!-- Search results -->

            <div class="col-sm-10">

                <div ng-repeat="result in search.results.data" class="search-result">

                    <!-- Picasso panel-->
                    <div ng-if="search.results.from==0 && $first" class="panel panel-default">
                        <div class="panel-body">

                            <h4><a ng-href="/{{result.data.type}}/{{result.data.id}}/associations">{{result.data.name}}</a><br />
                                <span class="text-small text-lowlight" ng-if="result.data.type=='target'">{{result.data.full_name}}<br /></span>
                                <span style="font-size: 0.8em; color:#888888"> {{result.data.type == "target" ? result.data.association_counts.direct : result.data.association_counts.total}} {{result.data.type == "target" ? (result.data.association_counts.direct == 1 ? "disease" : "diseases") : (result.data.association_counts.total == 1 ? "target" : "targets")}} associated</span>
                            </h4>

                            <span class="search-details" style="margin:10px 0px">
                                <span class="tag-section"><i class="fa fa-tag fa-lg tag" ng-class="(result.data.type==='target') ? 'target' : 'disease'"></i>{{result.data.type | upperCaseFirst}}</span>
                                <span class="tag-section" title="Search keyword matches an ortholog of this target" ng-show="result.orthologMatch"><i class="fa fa-tags tag ortholog"></i>Match from ortholog</span>
                                <span class="tag-section" title="Search keyword matches a target via drug name" ng-show="result.drugMatch"><i class="fa fa-tags tag drug"></i>Match from drug</span>
                                <span class="tag-section" title="Search keyword matches a disease via a phenotype" ng-show="result.phenotypeMatch"><i class="fa fa-tags tag phenotype"></i>Match from phenotype</span>
                            </span>

                            <!-- Description -->
                            <div class="search-description">
                                <!-- {{result.data.description | limitTo: 600 }}<span ng-if="result.data.description.length>600" ng-init="expd=false"><span ng-show="!expd" ng-click="expd=!expd">&hellip; [show more]</span><span ng-show="expd">{{result.data.description | limitTo:result.data.description.length:600 }}<span ng-click="expd=!expd">[show less]</span></span>
                                </span>-->
                                <span more-less-text data="result.data.description" limit=450></span>
                                <span ng-if="!result.data.description || result.data.description.length==0">(No description available)</span>
                            </div>

                            <div class="row">

                                <div class="col-sm-6">

                                    <!-- Top Associations -->
                                    <h5>Top associated {{ (result.data.type == "target") ? "diseases" : "targets" }}</h5>
                                    <div ng-repeat="assoc in result.data.top_associations.parsed">
                                        <!--<a ng-href="{{(result.data.type == 'target') ? 'disease' : 'target'}}/{{assoc.id}}">{{assoc.label}}</a>-->
                                        <a ng-href="/evidence/{{(result.data.type == 'target') ? result.data.id+'/'+assoc.id : assoc.id+'/'+result.dat.id}}">{{assoc.label}}</a>
                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <!-- drugs -->
                                    <h5>Drugs</h5>
                                    <div><span class="badge" style="cursor:default">{{result.data.drug_summary.total}}</span> phase IV drugs</div>

                                    <!-- Target specific info -->
                                    <div ng-if="result.data.type == 'target'">
                                        <!-- biotype -->
                                        <h5>Biotype</h5>
                                        <span>{{result.data.biotype | clearUnderscores | upperCaseFirst}}</span>


                                        <!-- uniprot -->
                                        <h5>Uniprot accessions</h5>
                                        <span>
                                            <!-- Only the first one is significant -->
                                            <a ng-href="http://www.uniprot.org/uniprot/{{result.data.uniprot_accessions[0]}}">{{result.data.uniprot_accessions[0]}}</a>
                                        </span>
                                    </div>

                                    <!-- Disease specific info -->
                                    <div ng-if="result.data.type == 'disease'">
                                        <!-- phenotype ? -->
                                        <!-- efo path label: therapeutic area -->
                                        <h5>Therapeutic areas</h5>
                                        <span ng-repeat="ta in result.data.unique_ta">
                                            <a ng-href="/disease/{{ta.efo}}">{{ta.label}}</a><span ng-if="!$last">, </span>
                                        </span>
                                    </div>

                                </div>

                            </div>

                                    <!-- Matches -->
                                    <h5>Matches in:</h5>
                                    <div class="search-matches">
                                        <div class="search-match-sec" ng-repeat="(key, val) in result.highlight">
                                            <span class="search-match-sec-title">{{key.split('_').join(' ')}}: </span>
                                            <span class="search-match-sec-content" ng-bind-html="val.join(', ')"></span>
                                        </div>
                                    </div>



                        </div>


                    </div>

                    <!-- regular search result -->
                    <div ng-if="!$first || search.results.from>0">
                        <h4><a ng-href="/{{result.data.type}}/{{result.data.id}}/associations">{{result.data.name}}</a> <span style="font-size: 0.8em; color:#888888"> {{result.data.type == "target" ? result.data.association_counts.direct : result.data.association_counts.total}} {{result.data.type == "target" ? (result.data.association_counts.direct == 1 ? "disease" : "diseases") : (result.data.association_counts.total == 1 ? "target" : "targets")}} associated</span></h4>

                        <span class="search-description">{{result.data.description | limitTo: 300 }}<span ng-show="result.data.description.length>300">&hellip;</span></span>

                        <span class="search-matches">
                            <span class="search-match-sec" ng-repeat="(key, val) in result.highlight">
                                <span class="search-match-sec-title">{{( !$first ? ' &hellip; ' : '') + key.split('_').join(' ')}}: </span>
                                <span class="search-match-sec-content" ng-bind-html="val.join(', ')"></span>
                            </span>
                        </span>

                        <span class="search-details">
                            <span class="tag-section"><i class="fa fa-tag fa-lg tag" ng-class="(result.data.type==='target') ? 'target' : 'disease'"></i>{{result.data.type | upperCaseFirst}}</span>
                            <span class="tag-section" title="Search keyword matches an ortholog of this target" ng-show="result.orthologMatch"><i class="fa fa-tags tag ortholog"></i>Match from ortholog</span>
                            <span class="tag-section" title="Search keyword matches a target via drug name" ng-show="result.drugMatch"><i class="fa fa-tags tag drug"></i>Match from drug</span>
                            <span class="tag-section" title="Search keyword matches a disease via a phenotype" ng-show="result.phenotypeMatch"><i class="fa fa-tags tag phenotype"></i>Match from phenotype</span>
                        </span>
                    </div>
                </div>

                <div ng-if="search.query.q.length==0">
                    <p>No search has been specified.</p>
                    <p>Suggestions:</p>
                    <ul>
                        <li>Start typing few letters in the search and look at the suggested options</li>
                        <li>Type words (or part of) and click the <i class="fa fa-search"></i> button for a full search</li>
                    </ul>
                </div>

                <div ng-if="search.results.total==0">
                    <p>Your search - {{search.query.q}} - did not match any data.</p>

                    <p>Suggestions:</p>
                    <ul>
                        <li>Check the spelling is correct.</li>
                        <li>Try different words.</li>
                        <!-- <li>Try more general keywords.</li> -->
                        <li>Try fewer words.</li>
                    </ul>
                </div>

                <div>
                    <!-- Furthermore this should only be shown when results are displayed -->
                    <div uib-pagination ng-if="search.results.total>search.query.size" boundary-links="false" total-items="search.results.total" ng-model="state.p[0]" direction-links="true" class="uib-pagination-sm" items-per-page="search.query.size" max-size=10 ng-change="update()" previous-text="&lsaquo;" next-text="&rsaquo;"></div>
                </div>


            </div>
            <!-- end search results-->

        </div>

    </div>

</div>
