<div class="search-suggestions-box ng-hide" ng-show="isVisible()" ng-cloak ng-model="search.query.results">


  <!-- Besthit -->
  <div ng-if="search.results.besthit!==null && search.results.besthit!==undefined" ng-click="linkTo({type:search.results.besthit.type, q:search.results.besthit.id, label:search.results.besthit.label||search.results.besthit.approved_symbol})" style="cursor:pointer; padding:4px 0px" class="item">
    <h4 style="padding:0px 5px">
      <span class="nbblock">
        <a><span bind-html-unsafe="(search.results.besthit.type=='genedata' ? search.results.besthit.approved_symbol : search.results.besthit.label) | typeaheadHighlight:search.query.text"></span></a>
        <span class="label" ng-class="(search.results.besthit.type=='genedata') ? 'label-primary' : 'label-warning'" style="font-size:12px">{{search.results.besthit.type=="genedata" ? "gene" : "disease"}}</span>
      </span>
      <small class="text-lowlight">{{ search.results.besthit.type=="genedata" ? search.results.besthit.approved_name : search.results.besthit.id }}</small>
    </h4>
    <!-- This is the longer description -->
    <p style="margin:0px; padding:0px 5px">{{ ( search.results.besthit.type=="genedata" ? search.results.besthit.uniprot_function[0] : search.results.besthit.definition) | limitTo:300}}<span ng-show="search.results.besthit.uniprot_function[0].length>300 || search.results.besthit.definition.length>300">...</span></p>
  </div>

  <div ng-if="search.results.besthit===null">
    <p style="padding:0px 5px">
      Oooops... Not found. <span class="text-lowlight">Try deleting some characters or a different query</span></p>
  </div>

  <!-- Genes -->
  <div ng-show="search.results.genes.length>0">
    <div class="divider"></div>
    <div class="text-lowlight" style="padding:0px 5px">Genes</div>
    <div ng-repeat="item in search.results.genes" style="margin:0; padding:4px 5px" class="item">
      <div class="row" ng-click="linkTo({type:item.type, q:item.id, label:item.approved_symbol})">
        <span class="col-md-3">
       <span bind-html-unsafe="item.approved_symbol | typeaheadHighlight:search.query.text" class="text-nolight"></span>
      </span>
      <span class="col-md-9 text-lowlight"><span bind-html-unsafe="item.approved_name | typeaheadHighlight:search.query.text | limitTo: 60"></span><span ng-show="item.approved_name.length>60">...</span></span>
      </div>
    </div>
  </div>


  <!-- Diseases (EFOs) -->
  <div ng-show="search.results.efo.length>0">
    <div class="divider"></div>
    <div class="text-lowlight" style="padding:0px 5px">Diseases</div>
    <div ng-repeat="item in search.results.efo" style="padding:4px 5px" class="item">
      <!-- #/disease-associations?q={{item.id}}&label={{item.label}} -->
        <div ng-click="linkTo({type:item.type, q:item.id, label:item.label})">
          <div bind-html-unsafe="item.label | typeaheadHighlight:search.query.text" style="margin-bottom:0px; line-height:1.1"></div>
          
          <!-- show the EFO hierarchy links -->
          <span class="small text-lowlight">
            <span ng-show="item.path.length>2">[...]<span class="fa fa-angle-right fa-md" style="margin:0px 4px"></span></span><span ng-repeat="link in item.path" ng-if="$index==item.path.length-3 || $index==item.path.length-2 || $index==item.path.length-1"><span ng-click="linkTo({type:'efo', q:link.uri, label:link.label}); $event.stopPropagation()" title="{{link.label}}"><a>{{link.label | limitTo:30}}<span ng-show="link.label.length>30">...</span></a></span><span ng-show="!$last" class="fa fa-angle-right fa-md" style="margin:0px 4px"></span></span>
          </span>
        </div>
      
    </div>
  </div>


</div>

