<div class="partial-page">
    <cttv-page-progress-spinner></cttv-page-progress-spinner>

    <div class="container">
        <h2>Summary page for {{targets.length}} targets</h2>

        <div ng-show="targets">
            <!--We have several targets: {{targets}}-->

            <!-- Associations section -->
            <multiple-targets-associations-summary targets="targets" associations="associations"></multiple-targets-associations-summary>

            <!-- Pathways section -->
            <multiple-targets-pathways-summary targets="targets"></multiple-targets-pathways-summary>

            <!-- Drugs section -->
            <multiple-targets-drugs-summary targets="targets"></multiple-targets-drugs-summary>

            <!-- Tissue expression section -->
            <!--<multiple-targets-tissues-summary targets="targets"></multiple-targets-tissue-summary>-->

            <!-- interactions section -->
            <div>
                <h3>Interactions between {{targets.length}} targets</h3>
                <plugin-loader target="targets" associations="associations" plugin="interactionsViewerPlugin.element" visible="true"
                               dependencies="interactionsViewerPlugin.dependencies" page="multiple-targets-summary" waitfor="interactionsViewerPlugin.waitfor"
                               track="false"></plugin-loader>
            </div>

        </div>



        <div ng-show="target">
            We only have 1 target: {{target}}
        </div>

        <div ng-show="diseases">
            We have several diseases
        </div>

        <div ng-show="disease">
            We have only 1 disease: {{disease}}
        </div>

        <div ng-show="pathway">
            We have 1 pathway: {{pathway}}
            <pathway-summary pathway="pathway" targets="pathwayTargets"></pathway-summary>
        </div>
    </div>
</div>
