<!-- search app / results -->

<div class="partial-page">
    <cttv-page-progress-spinner></cttv-page-progress-spinner>

    <!-- <div ng-show="n.diseases==0">
        <h3>
            No diseases found for {{search.label}}
        </h3>
        Try searching a different target or disease above
    </div>

    <div ng-show="n.diseases>0"> -->


        <div class="cttv-content-header">
            <div class="container">
                <h3 view-title>{{n.diseases}} {{n.diseases===1 ? "disease" : "diseases"}} associated with {{search.label}}</h3>
                <p><!-- Found {{n.diseases}} {{n.diseases===1 ? "disease" : "diseases"}} <span class="cttv-interpage-link">--><a href="/target/{{search.query}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-align-justify fa-stack-1x fa-inverse"></i></span> View {{search.label}} profile</a><!-- </span> -->
                </p>
            </div>
        </div>

        <div class="container">

            <div ng-show="n.diseases==0">
                <h4>
                    No diseases found for {{search.label}}
                </h4>
                <p>Try searching a different target or disease above</p>
            </div>

            <div class="row" ng-show="n.diseases>0">

                <div class="col-md-3 cttv-facet">
                    <cttv-facets></cttv-facets>
                </div>

                <div class="col-md-9">

                    <!-- TABS views -->

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="(view.t[0]=='bubbles') ? 'active' : ''" ><a href="#" ng-click='setActiveTab("bubbles")'>Bubbles</a></li>
                        <li role="presentation" ng-class="(view.t[0]=='table') ? 'active' : ''"><a href="#" ng-click='setActiveTab("table")'>Table</a></li>
                        <li role="presentation" ng-class="(view.t[0]=='tree') ? 'active' : ''"><a href="#" ng-click='setActiveTab("tree")'>Tree</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div ng-show="view.t[0]=='bubbles'">
                        <resize>
                            <cttv-target-associations-bubbles target="{{search.query}}" facets="filters" active="{{view.t[0]}}"></cttv-target-associations-bubbles>
                        </resize>
                    </div>

                    <div ng-show="view.t[0]=='table'">
                        <cttv-target-associations-table target="search.query" filename="search.filename" loadprogress="loading" facets="filters" active="{{view.t[0]}}"></cttv-target-associations-table>
                    </div>

                    <div ng-show="view.t[0]=='tree'">
                        <cttv-target-associations-tree target="{{search.query}}" facets="filters" active="{{view.t[0]}}"></cttv-target-associations-tree>
                    </div>


                </div>
            </div>
        </div>

</div>
<!-- end search results-->
