<div>
	<!-- view-title sets the title for the page for this view
	<view-title>{{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name) +' &#8596; '+ search.info.efo.label + ' association'}}</view-title>-->

	<!-- <h3>Target to disease association</h3> -->
	<h3 view-title>{{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name)}} associations with {{search.info.efo.label}}</h3>

	<!-- page header with flower and overview -->
	<div class="row gene-disease-header">

		<div class="col-sm-3">
			<cttv-gene-disease-association target="{{search.target}}" disease="{{search.disease}}" width="180" height="180" association-data="search.flower_data"></cttv-gene-disease-association>
		</div>

		<div class="col-sm-9">

			<div class="overview">

				<!-- Gene Info -->
				<div class="item">
					<div class="well well-lg">
						<h5>
							<a href="#/target/{{search.info.gene.ensembl_gene_id}}">{{search.info.gene.approved_symbol || search.info.gene.ensembl_external_name}}</a><br />
							<span class="small">{{search.info.gene.approved_name || search.info.gene.ensembl_description}}
								<!-- <br/ >({{search.info.gene.id || search.info.gene.ensembl_gene_id}}) -->
								<span ng-show="search.info.gene.symbol_synonyms.length>0"><br />Synonyms: {{search.info.gene.symbol_synonyms.join(", ") | limitTo:100}}<span>...</span></span>
							</span>
						</h5>
						<!-- The actual content paragraph -->
						<p class="small">{{search.info.gene.uniprot_function[0] | limitTo: 200}}<span ng-show="search.info.gene.uniprot_function[0].length>200">...</span></p>
					</div>
				</div>

				<!-- Divider -->
				<div class="association">
					<div></div>
				</div>

				<!-- Disease Info -->
				<div class="item">
					<div class="well well-lg">
						<h5>
						  <a href="#/disease/{{search.info.efo.efo_code}}">{{search.info.efo.label}}</a>
							<span class="small" ng-show="search.info.efo.efo_synonyms.length>0"><br />Synonyms: {{search.info.efo.efo_synonyms.join(", ") | limitTo:100}}...</span>
						</h5>
						<p class="small">{{search.info.efo.definition | limitTo: 200}}<span ng-show="search.info.efo.definition.length>200">...</span></p>
					</div>
				</div>

			</div>
		</div>
	</div>



	<!-- Tabular data -->

	<div class="row gene-disease-content">

		<div class="col-sm-12">

			<!-- Accordion -->
			<accordion close-others="false">

				<!-- Genetic Associations table -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.genetic_associations.common_diseases.data.length==0 && search.genetic_associations.rare_diseases.data.length==0 }">Genetic associations</span>
							<span class='badge flower-petal' ng-show="search.association_scores[datatypes.GENETIC_ASSOCIATION]" title="Association score">{{search.association_scores[datatypes.GENETIC_ASSOCIATION] | currency : "" : 2}}</span>
							<!-- <span class='badge' ng-show="search.genetic_associations.rare_diseases.data.length" style="background:#3E8BAD">{{search.genetic_associations.rare_diseases.data.length}}</span> -->
							<span cttv-progress-spinner class="pull-right" ng-show="search.genetic_associations.is_loading"></span>
						</span>
					</accordion-heading>
					<tabset>
						<tab heading="Table">
							<div ng-show="search.genetic_associations.common_diseases.data.length>0 || search.genetic_associations.rare_diseases.data.length>0">
								<!-- <p><span class="small">Association score: {{search.association_scores[datatypes.GENETIC_ASSOCIATION] || 0}}</span></p> -->

								<!-- Common disease table -->
								<div ng-show="search.genetic_associations.common_diseases.data.length>0">
									<h5>Common diseases</h5>
									<p>Source: <a href="http://www.ebi.ac.uk/fgpt/gwas/" target="_blank">GWAS Catalog curated database</a></p>
									<div class="table-panel">
										<table class='table table-striped table-bordered' id="common-diseases-table">
											<thead>
												<tr>
													<th rowspan="2">Disease</th>
													<th rowspan="2">SNP</th>
													<th colspan="2">Gene-SNP Evidence</th>
													<th colspan="3">SNP-Disease Evidence</th>
												</tr>

												<tr>
													<th>Variant type</th>
													<th>Evidence source</th>
													<th>Evidence source</th>
													<th>P-Value</th>
													<th>Publications</th>
												</tr>
											</thead>

											<tbody>
											</tbody>
										</table>
									</div>
								</div>


								<!-- common / rare disease table divider -->
								<div ng-show="search.genetic_associations.common_diseases.data.length>0 && search.genetic_associations.rare_diseases.data.length>0" style="width: 100%; height: 1px; background: #CCC; margin-top:30px; margin-bottom:30px;"></div>


								<!-- Related rare disease table -->
								<div ng-show="search.genetic_associations.rare_diseases.data.length>0">
									<h5>Related rare diseases</h5>
									<p>Source: <a href="http://www.uniprot.org" target="_blank">UniProt</a> and <a href="http://www.ebi.ac.uk/eva/?Home" target="_blank">European Variation Archive (EVA)</a> curated databases</p>
									<div class="table-panel">
										<table class='table table-striped table-bordered' id="rare-diseases-table">
											<thead>
												<tr>
													<th rowspan="2">Disease</th>
													<th rowspan="2">Mutation</th>
													<th colspan="4">Gene-Disease Evidence</th>
												</tr>

												<tr>
													<th>Mutation type</th>
													<th>Mutation consequence</th>
													<th>Evidence source</th>
													<th>Publications</th>
												</tr>
											</thead>

											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div ng-show="search.genetic_associations.common_diseases.data.length==0 && search.genetic_associations.rare_diseases.data.length==0">
								<p>No data available</p>
							</div>
						</tab>
						<tab heading="Browser">
							<div style="overflow:hidden">
								<cttv-target-genome-browser width=1140 efo={{search.disease}} target="{{search.info.gene.ensembl_gene_id}}"></cttv-target-genome-browser>
							</div>
						</tab>
					</tabset>

				</accordion-group>



				<!-- Somatic Mutations table -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.somatic_mutations.data.length==0 }">Somatic mutations</span>
							<!--<span class='badge' ng-show="search.somatic_mutations.data.length>0">{{search.somatic_mutations.data.length}}</span>-->
							<span class='badge flower-petal' ng-show="search.association_scores[datatypes.SOMATIC_MUTATION]" title="Association score">{{search.association_scores[datatypes.SOMATIC_MUTATION] | currency : "" : 2}}</span>
							<span cttv-progress-spinner class="pull-right" ng-show="search.somatic_mutations.is_loading"></span>
						</span>
					</accordion-heading>
					<div ng-show="search.somatic_mutations.data.length>0">
						<p><!--<span class="small">Association score: {{search.association_scores[datatypes.SOMATIC_MUTATION] || 0}}</span><br />-->Source: <a href="http://cancer.sanger.ac.uk/cancergenome/projects/cosmic/" target="_blank">COSMIC</a> curated database</p>
						<div class="table-panel">
							<table class='table table-striped table-bordered' id="mutations-table">
								<thead>
						            <tr>
						                <th>Disease</th>
						                <th>Evidence source</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.somatic_mutations.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- Known drugs -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.drugs.data.length==0 }">Known drugs</span>
							<!--<span class='badge' ng-show="search.drugs.data.length>0">{{search.drugs.data.length}}</span>-->
							<span class='badge flower-petal' ng-show="search.association_scores[datatypes.KNOWN_DRUG]" title="Association score">{{search.association_scores[datatypes.KNOWN_DRUG] | currency : "" : 2}}</span>
							<span cttv-progress-spinner class="pull-right" ng-show="search.drugs.is_loading"></span>
						</span>
					</accordion-heading>
					<div ng-show="search.drugs.data.length>0">
						<p><!--<span class="small">Association score: {{search.association_scores[datatypes.KNOWN_DRUG] || 0}}</span><br />-->Source: <a href="/#/faq#data-provenance" target="_blank">CHEMBL</a> curated database</p>
						<div class="table-panel">
							<table class='table table-striped table-bordered' id="drugs-table">
								<thead>
						            <tr>
						                <th rowspan="2" colspan="1">Disease</th>
						                <th rowspan="1" colspan="7">Drug Information</th>
						                <th rowspan="1" colspan="2">Gene-Drug Evidence</th>
						                <th rowspan="2" colspan="1">Evidence source</th>
						            </tr>
						            <tr>
						            	<!-- Drug information -->
						                <th>Drug</th>
						                <th>Phase</th>
										<th>Phase (Numeric)</th>
						                <th>Type</th>
						                <th>Mechanism of Action</th>
						                <th>Activity</th>
						                <th>Clinical Indications</th>

						                <!-- Gene-Drug evidence -->
						                <!-- <th>Target name</th> -->
						                <th>Target class</th>
						                <th lass="no-last-element">Target</th><!-- we have to manually set this border, otherwise datatables thinks it's the last element and removes the border-->
						                <!-- <th class="no-last-element">Protein complex members</th> -->

						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.drugs.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- RNA Expression table -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.rna_expression.data.length==0 }">RNA expression</span>
							<!-- <span class='badge' ng-show="search.rna_expression.data.length>0">{{search.rna_expression.data.length}}</span> -->
							<span class='badge flower-petal' ng-show="search.association_scores[datatypes.RNA_EXPRESSION]" title="Association score">{{search.association_scores[datatypes.RNA_EXPRESSION] | currency : "" : 2}}</span>
							<span cttv-progress-spinner class="pull-right" ng-show="search.rna_expression.is_loading"></span>
						</span>
					</accordion-heading>
					<div ng-show="search.rna_expression.data.length>0">
						<p><!--<span class="small">Association score: {{search.association_scores[datatypes.RNA_EXPRESSION] || 0}}</span><br />-->Source: <a href="http://www.ebi.ac.uk/gxa/home" target="_blank">Expression Atlas</a> curated database</p>
						<!-- <h4>Header info for table</h4> -->
						<div class="table-panel">
							<table class='table table-striped table-bordered' id="rna-expression-table">
								<thead>
						            <tr>
						                <th rowspan="2" colspan="1">Disease</th>
						                <th rowspan="1" colspan="6">Gene-disease evidence</th>
						                <th rowspan="2" colspan="1">Experiment overview and data</th>
						                <th rowspan="2" colspan="1">Publications</th>
						            </tr>
						            <tr>
						                <th>Comparison</th>
						                <th>Activity</th>
						                <th>Tissue/cell</th>
						                <th>Evidence source</th>
						                <th>Log2 fold change</th>
						                <th class="no-last-el">P-value</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.rna_expression.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- Disrupted pathways -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.pathways.data.length==0 }">Affected pathways</span>
							<!-- <span class='badge' ng-show="search.pathways.data.length>0">{{search.pathways.data.length}}</span> -->
							<span class='badge flower-petal' ng-show="search.association_scores[datatypes.AFFECTED_PATHWAY]" title="Association score">{{search.association_scores[datatypes.AFFECTED_PATHWAY] | currency : "" : 2}}</span>
							<span cttv-progress-spinner class="pull-right" ng-show="search.pathways.is_loading"></span>
						</span>
					</accordion-heading>
					<div ng-show="search.pathways.data.length>0">
						<p><!--<span class="small">Association score: {{search.association_scores[datatypes.AFFECTED_PATHWAY] || 0}}</span><br />-->Source: <a href="http://www.reactome.org" target="_blank">Reactome</a> curated database</p>
						<!-- <h4>Header info for table</h4> -->
						<div class="table-panel">
							<table class='table table-striped table-bordered' id="pathways-table">
								<thead>
						            <tr>
						                <th rowspan="2" colspan="1">Disease</th>
						                <th rowspan="2" colspan="1">Pathway</th>
						                <th rowspan="1" colspan="7">Gene-disease evidence</th>
						            </tr>
						            <tr>
						                <th>Overview</th>
						                <th>Activity</th>
						                <th>Target context</th>
						                <th>Protein complex members</th>
						                <th>Mutations</th>
						                <th>Evidence source</th>
						                <th>Publications</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.pathways.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



				<!-- Mouse models -->
				<accordion-group is-open="false">
					<accordion-heading>
						<span class="text-nolight">
							<span ng-class="{ 'text-disabled': search.mouse.data.length==0 }">Mouse models</span>
							<!-- <span class='badge' ng-show="search.mouse.data.length>0">{{search.mouse.data.length}}</span> -->
							<span class='badge flower-petal' ng-show="search.association_scores[datatypes.ANIMAL_MODEL]" title="Association score">{{search.association_scores[datatypes.ANIMAL_MODEL] | currency : "" : 2}}</span>
							<span cttv-progress-spinner class="pull-right" ng-show="search.mouse.is_loading"></span>
						</span>
					</accordion-heading>
					<div ng-show="search.mouse.data.length>0">
						<p><span class="small">Association score: {{search.association_scores[datatypes.ANIMAL_MODEL] || 0}}</span><br />Source: <a href="http://www.sanger.ac.uk/resources/databases/phenodigm/" target="_blank">Phenodigm</a></p>
						<div class="table-panel">
							<table class='table table-striped table-bordered' id="mouse-table">
								<thead>
						            <tr>
						                <th rowspan="2" colspan="1">Disease</th>
						                <th rowspan="1" colspan="2">Phenotype - Phenotype Evidence</th>
						                <th rowspan="1" colspan="3">Model - Disease Evidence</th>
						            </tr>
						            <tr>
						            	<!-- Drug information -->
						                <th>Human</th>
						                <th>Mouse</th>
						                <th>Mouse model</th>
						                <th>Evidence source</th>
						                <th>Score</th>
						            </tr>
						        </thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div ng-show="search.mouse.data.length==0">
						<p>No data available</p>
					</div>
				</accordion-group>



			</accordion>

		</div>
	</div>


	<!-- <cttv-associations-header data="{{search}}" width="500" height="120"></cttv-associations-header> -->
	<!-- <cttv-associations-overview target="{{search.target}}" disease="{{search.disease}}" width="120" height="120"></cttv-associations-overview>-->
</div>
