<!-- search app / results -->

<div>
  <h3><span view-title>Diseases associated with {{search.label}}</span></h3>
  <p class="small"><a href="#/target/{{search.query}}">View target profile</a></p>
  <!-- <div class="h6">Found {{nresults}} evidence in {{ndiseases}} diseases {{diseasesFilteredMsg}}</div> -->
  <div class="h6">Found {{nresults}} evidence in {{ndiseases}} {{ndiseases===1 ? "disease" : "diseases"}} {{diseasesFilteredMsg}}</div>

  <div class="row">
    
    <div class="col-md-2 cttv-facet">
      <accordion>
	<accordion-group>
	  <accordion-heading>
	    <span ng-click="toggleDataTypes()">Data types</span>
	  </accordion-heading>
	  <div class="checkbox" ng-repeat="dataType in dataTypes">
	    <label>
	      <input type="checkbox"
		     value="{{dataType.name}}"
		     ng-click="filterDataType(dataType)"
		     ng-checked="dataType.selected">
		     <!-- ng-checked="currentDataTypes.indexOf(dataType) > -1"> 
		     {{dataType.name | clearUnderscores | upperCaseFirst}} ({{dataType.diseases}})-->
		     <!-- <small>{{dataType.labelFull}} <span>({{dataType.diseases}})</span></small> -->
		     <small>{{dataType.labelFull}}</small>
	    </label><br />
	  </div>	    
	</accordion-group>
	<div class="cttv-nav">
	  <accordion-group is-open="tagroup.open">
	    <accordion-heading>
	      <span ng-click="toggleNavigation()">Therapeutic Areas Navigation</span>
	    </accordion-heading>
	    <accordion>
	      <accordion-group ng-repeat="ta in therapeuticAreas" class="therapeuticArea" is-open="tagroup.tas[ta.name]">
		<accordion-heading>
		  <span id="cttv_targetAssociations_navBar_{{ta.name}}" ng-click="selectTherapeuticArea(ta.name)">{{ta.label}} ({{ta.children.length}})</span>
		</accordion-heading>
		<accordion>
		  <accordion-group ng-repeat="d in ta.children" class="cttv-accordion-leaf" is-open="diseasegroupOpen">
		    <accordion-heading>
		      <span ng-click="selectDisease(d)">{{d.label}}</span>
		    </accordion-heading>
		    <a href="{{targetDiseaseLink}}">
		      <div id="cttv_targetAssociations_flower_{{d.efo_code}}_{{d._parent.efo_code}}">
		      </div>
		    </a>
		    <a class="cttv-centered-text" href="{{targetDiseaseLink}}">View evidence details</a>
		  </accordion-group>
		</accordion>
	      </accordion-group>
	    </accordion>
	  </accordion-group>
	</div>
      </accordion>
    </div>

    <div class="col-md-10">
      <!-- <i class="fa fa-picture-o fa-2x cttv-change-view" ng-click="setDisplay('bubbles')"></i> -->
      <!-- <i class="fa fa-table fa-2x cttv-change-view" ng-click="setDisplay('table')"></i> -->
      <!-- <i class="fa fa-picture-o fa-2x cttv-change-view" ng-click="setDisplay('tree')"></i> -->
      
      Views: [<span class="changeView" ng-click="setDisplay('bubbles')">Bubbles</span>] [<span class="changeView" ng-click="setDisplay('table')">Table</span>] [<span class="changeView" ng-click="setDisplay('tree')">Tree</span>]
      
      <cttv-target-associations-bubbles target="{{search.query}}" focus="{{focusEFO}}" on-focus="therapeuticArea" datatypes="{{currentDataTypes}}" highlight="{{highlightEFO}}" disease-is-selected="{{selectedDisease}}" style="display:{{visibility.bubbles}}"></cttv-target-associations-bubbles>
      
      <cttv-target-associations-table style="display:none;" target="{{search.query}}" datatypes="{{currentDataTypes}}" style="display:{{visibility.table}}"></cttv-target-associations-table>
      
      <cttv-target-associations-tree style="display:none" target="{{search.query}}" datatypes="{{currentDataTypes}}" style="display:{{visibility.tree}}"></cttv-target-associations-tree>
    </div>
  </div>
</div>
<!-- end search results-->
