<div class="partial-page">
    <cttv-page-progress-spinner></cttv-page-progress-spinner>

    <div class="cttv-content-header">
        <div class="container">
            <h3 view-title>{{target.symbol}}</h3>

            <p ng-show="target.symbol">{{target.name}}<a href="/target/{{target.id}}/associations"><span class="cttv-interpage-link"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-th fa-stack-1x fa-inverse"></i></span> View associated diseases</span></a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom:20px; margin-bottom:20px">

            <p>
                <hm-read-more  hm-text="{{target.description}}" hm-limit="1000" hm-more-text="[show more]" hm-less-text="[show less]" hm-dots-class="show-more-dots" hm-link-class="show-more-links"></hm-read-more>
            </p>

            <p ng-show="target.symbol">
                Synonyms: <span class="cttv-profile-synonym-list" ng-repeat="syn in synonyms">{{syn}}</span>
            </p>

            <!-- Show if there is a TEP for the target -->
            <p ng-show="target.tep">
                <div style='width:60px;display:inline-block'>
                <img src="imgs/partners/TEP.png">
                </div>
                <div style="display:inline-block;vertical-align:middle;">
                    This target is part of a Target Enabling Package (TEP) <ot-popover key="TEP"></ot-popover>. Get more details on <a target=_blank href="http://www.thesgc.org/tep/{{target.tep}}">{{target.symbol}} TEP</a>
                    <br />
                    TEPs are provided by the <a href="http://www.thesgc.org/">Structural Genomics Consortium</a>
                </div>
            </p>

            <uib-accordion close-others="false">
                <div uib-accordion-group ng-repeat="section in sections" is-open="section.defaultVisibility" attr-section-name="{{section.name}}" class="panel-default">
                    <uib-accordion-heading>
                        <span ng-click='section.currentVisibility = !section.currentVisibility'>{{section.heading}}</span>
                    </uib-accordion-heading>
                    <plugin-loader target="target" plugin="section.element" visible="{{section.currentVisibility}}" dependencies="section.dependencies" page="target" track="section.track" label="section.name" class="scroll-table-panel"></plugin-loader>
                </div>

            </uib-accordion>

        </div>

    </div>

</div>
