<div class="section">
    <h2>1. Upload your target list:</h2>
    <p style="color:#aaaaaa">A text file with one target per line. A maximum of {{targetListLimit}} targets is currently
        allowed.</p>

    <div class="container" style="margin-top:30px;margin-bottom:80px;">
        <div class="row">
            <div class="col-xs-4">
                <h4>Load your list from a file:</h4>
                <span style="display:inline-block"><input type="file" id="targetListUpload" name="file"
                                                          onchange="angular.element(this).scope().uploadFile(this)"/></span>
                <p ng-click="loadExample()" style="font-size:0.8em;margin-top:5px;"><a href="#">Load example with 50
                    targets</a></p>
            </div>

            <div class="col-xs-4">
                <form>
                    <h4 style="margin-bottom:10px;">Copy and paste your list:</h4>
                    <div>
                        <input ng-style='{"border-color": noNameForPastedList ? "red" : "#cccccc"}' ng-model="pastedListName" style="padding-left:5px;line-height:2em;width:100%;margin-bottom:10px;border-style:solid;border-width:1px;" type="text" placeholder="Give your list a name">
                    </div>
                    <div>
                        <textarea ng-model="pastedList" style="padding-left:5px;overflow-y:scroll;width:100%;resize:none;border-color:#cccccc" rows="10"
                                  placeholder="Your target list"></textarea>
                    </div>
                    <div>
                        <button ng-click="loadPastedList()" class="btn btn-primary">Load</button>
                        <button ng-click="pastedList='';pastedListName=''" class="btn btn-default">Clear</button>
                    </div>
                </form>
            </div>

            <div class="col-xs-4">
                <div ng-show=lists>
                    <div>
                        <span ng-show="lists.length"><h4>Use a previously loaded list:</h4></span>
                        <div ng-repeat="l in lists track by $index">
                            <div><a href="" ng-click="useThisList(l.id)">{{l.id}}</a> ({{l.list.length}} targets) <span
                                    style="cursor:pointer;"><i class="fa fa-times" ng-click="removeThisList(l.id)"
                                                               aria-hidden="true"></i></span></div>
                        </div>
                    </div>
                </div>
                <div ng-show="lists.length" style="margin-top:15px;">
                    <!--<input ng-model="storeList" type="checkbox" checked> Keep loaded lists in the browser<ot-popover key="KEEPLOADEDLISTS"></ot-popover>-->
                    <i class="fa fa-exclamation-circle" style="margin-right:5px;"></i>
                    Your lists are stored in the browser cache for easier access. You can always remove them from the cache by clicking the icon next to them
                </div>

            </div>

        </div>
    </div>
</div>

<!--<div class="section">-->
    <!--<div style="margin-bottom:20px;">-->
        <!--<h2>1. Upload your target list:</h2>-->
        <!--<p style="color:#aaaaaa">A text file with one target per line. A maximum of {{targetListLimit}} targets is currently-->
            <!--allowed.</p>-->
    <!--</div>-->
    <!--<div>-->
        <!--<span style="display:inline-block"><input type="file" id="targetListUpload" name="file" onchange="angular.element(this).scope().uploadFile(this)"/></span>-->
        <!--<div ng-show=lists style="float:right">-->
            <!--<div>-->
                <!--<span ng-show="lists.length"><h4>Previously uploaded lists:</h4></span>-->
                <!--<div ng-repeat="l in lists track by $index">-->
                    <!--<div><a href="" ng-click="useThisList(l.id)">{{l.id}}</a> ({{l.list.length}} targets) <span style="cursor:pointer;"><i class="fa fa-times" ng-click="removeThisList(l.id)" aria-hidden="true"></i></span></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<p ng-click="loadExample()" style="font-size:0.8em;margin-top:5px;"><a href="#">Load example with 50 targets</a></p>-->
    <!--</div>-->
<!--</div>-->

<!-- Search box + search button -->
<!--<div class="container" style="margin-top:150px">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-4"></div>-->
        <!--<div class="col-xs-4" ng-controller="SearchBoxCtrl">-->
            <!--<form novalidate="" name="queryForm" class="global-search ng-animate ng-dirty ng-invalid ng-invalid-required ng-valid-minlength" ng-submit="setSearch()">-->
                <!--<fieldset>-->
                    <!--<div class="has-feedback search-form">-->



                        <!--&lt;!&ndash; Search box + search button &ndash;&gt;-->
                        <!--<div class="input-group input-group-sm">-->

                            <!--<input type="text" placeholder="Search for a target or disease (e.g. BRAF or asthma)" class="form-control" name="text" tabindex="1" ng-model="search.query.text" ng-model-options="{ debounce: 500 }" autocomplete="off" ng-change="getSuggestions(search.query.text);">-->

                            <!--<div class="input-group-btn">-->
                                <!--<button type="submit" class="btn btn-primary">-->
                                    <!--<span class="fa fa-search fa-lg"></span>-->
                                <!--</button>-->
                            <!--</div>-->

                        <!--&lt;!&ndash; Search in progress spinner &ndash;&gt;-->
                        <!--<span cttv-progress-spinner class="text-lowlight form-control-feedback search-form-spinner search-form-spinner-sm" ng-show="search.progress"></span>-->

                        <!--&lt;!&ndash; Suggestions box &ndash;&gt;-->
                        <!--<div cttv-search-suggestions ng-show="isVisible()" ng-model="search.query.results"></div>-->

                    <!--</div>-->
                <!--</fieldset>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-4"></div>-->
    <!--</div>-->
<!--</div>-->