<div class="section">
    <div style="margin-bottom:20px;">
        <h2>2. Revise the mappings:</h2>
        <p style="color:#aaaaaa">Edit your list here. Add more targets by using the search box.</p>
    </div>
    <div>
        <b>List</b>: {{list.id}}
    </div>

    <!-- Let's try the pill-like style of showing the targets -->
    <!--<div class="batch-search">-->
        <!--<div ng-show="all.length>0">-->
            <!--<p>Uploaded targets for <b>{{list.id}}</b></p>-->

            <!--<p>Filter by: <span style="margin-left:20px; margin-right:20px;cursor:pointer;background-color:#e6ffe6">Exact matches</span> <span style="cursor:pointer;background-color:#ffe6e6">Suggested matches</span></p>-->

            <!--<div>-->
                <!--<span style="font-size:0.8em;margin-bottom:7px;margin-right:10px;" ng-style="{'background-color':target.type=='exact' ? '#e6ffe6' : '#ffe6e6'}" ng-repeat="target in all">-->
                    <!--<span style="white-space:nowrap;">-->
                        <!--<span ng-style="{'text-decoration':target.discarded ? 'line-through' : ''}">{{target.result}}</span>-->
                        <!--<span ng-click="discardThis(target)" ng-show="!target.discarded">-->
                            <!--<i class="fa fa-times"></i>-->
                        <!--</span>-->
                        <!--<span ng-click="restoreThis(target)" ng-show="target.discarded">-->
                            <!--<i class="fa fa-check"></i>-->
                        <!--</span>-->
                        <!--<span ng-click="searchThis(target)" ng-show="target.type=='fuzzy'">-->
                            <!--<i class="fa fa-search"></i>-->
                        <!--</span>-->
                    <!--</span>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



    <div class="row batch-search">
        <div class="col-sm-4">
            <h4><span>{{exact.length}} exact </span>
            <span ng-switch="exact.length">
                <span ng-switch-when="1">match</span>
                <span ng-switch-default>matches</span>
            </span></h4>

            <div class="batch-search-mappings-container" id="batch-search-mappings-container-exact">
                <div class="batch-search-results-container">
                    <div ng-repeat="item in exact">
                        <input ng-click="toggleThis(item)" type="checkbox" ng-checked="item.selected">
                        <span ng-style="{'background-color':item.selected ? '#e6ffe6' : '#ffe6e6'}" class="search-item">{{item.query}}
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span>{{item.result}}</span>
                            <!--<span class="search-options highlight">-->
                                <!--<span ng-click="discardThis(item)" ng-show="item.selected" title="discard this target">-->
                                    <!--<i class="fa fa-times"></i>-->
                                <!--</span>-->
                                <!--<span ng-click="restoreThis(item)" ng-show="!item.selected" title="restore this target">-->
                                    <!--<i class="fa fa-check"></i>-->
                                <!--</span>-->
                            <!--</span>-->
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-4">
            <h4><span>{{fuzzy.length}} suggested </span>
            <span ng-switch="fuzzy.length">
                <span ng-switch-when="1">match</span>
                <span ng-switch-default>matches</span>
            </span></h4>


            <div class="batch-search-mappings-container">
                <div ng-show="!searchQuery" class="batch-search-results-container">
                    <div ng-repeat="item in fuzzy">
                        <input ng-click="toggleThis(item)" type="checkbox" ng-checked="item.selected">
                        <span class="search-item" ng-style="{'background-color':item.selected ? '#e6ffe6' : '#ffe6e6'}">{{item.query}} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{item.result}}</span>
                        <i ng-click="searchThis(item)" class="fa fa-pencil"></i>
                        <!--<span class="search-options highlight">-->
                            <!--<span ng-click="searchThis(item)" title="search for this target">-->
                                <!--<i class="fa fa-search"></i>-->
                            <!--</span>-->
                            <!--<span ng-click="discardThis(item)" ng-show="!item.discarded" title="discard this target">-->
                                <!--<i class="fa fa-times"></i>-->
                            <!--</span>-->
                            <!--<span ng-click="restoreThis(item)" ng-show="item.discarded" title="restore this target">-->
                                <!--<i class="fa fa-check"></i>-->
                            <!--</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div ng-show="searchQuery">
                    <div class="choose-header">
                        <span class="message">Choose a match for <span class="choose-query">{{searchQuery.query}}</span>
                            <i ng-click="searchQuery=''" class="fa fa-times search-options"></i>
                        </span>
                    </div>
                    <div class="batch-search-results-container">
                        <span cttv-progress-spinner size="24" ng-show="!searchResults.length"></span>
                        <div ng-repeat="target in searchResults" ng-click="selectThis(searchQuery, target)">
                            <span class="search-item select-item">{{target.data.approved_symbol}}</span>
                            <span ng-class="hover ? 'search-options highlight' : 'search-options down'" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-sm-4">
            <h4><span>Add more targets to your list</span></h4>

            <div class="batch-search-mappings-container">

                <div class="choose-header search-header">
                    <input class="batch-search-box" type="text" placeholder="Search for more targets"
                           class="form-control input-search ng-pristine ng-untouched ng-valid ng-empty" name="text"
                           tabindex="1" ng-model="searchQueryText" ng-model-options="{debounce:500}" autocomplete="off"
                           ng-change="getSearch(searchQueryText)">
                    <!--<i ng-click="discardSearch()" class="fa fa-times search-options"></i>-->
                    <span cttv-progress-spinner size="24" ng-show="searchInProgress"
                          style="right:4.5em; top:3em; position:absolute"></span>

                </div>
                <div class="batch-search-results-container" ng-show="newSearchResults.length>0">
                    <div ng-repeat="target in newSearchResults">
                        <input ng-click="addRemove(target)" type="checkbox" ng-checked="target.selected">
                        <span class="search-item select-item">{{target.data.approved_symbol}}</span>
                        <!--<span ng-class="hover ? 'search-options highlight' : 'search-options down'"-->
                              <!--ng-mouseenter="hover=true" ng-mouseleave="hover=false">-->
                                <!--<i class="fa fa-check"></i>-->
                        <!--</span>-->
                    </div>

                    <!-- duplicated -->
                    <div ng-show="duplicated.length>0">
                        <div style="margin-top:10px;margin-bottom:5px;">
                            Targets already in your list:
                        </div>
                        <div class="search-item" ng-repeat="dup in duplicated">{{dup}}</div>
                    </div>


                    <button style="margin-top:10px;" ng-click="discardSearch()">Done</button>
                </div>

                <!-- the result of the searches -->
                <div class="batch-search-results-container" ng-show="newSearchResults.length==0">
                    <p ng-show="rescued.length>0">These targets have been added to your list:</p>
                    <div ng-repeat="item in rescued">
                        <input ng-click="toggleThis(item)" type="checkbox" ng-checked="item.selected">
                        <span class="search-item">{{item.query}}
                            <!--<span class="search-options highlight">-->
                                <!--<span ng-click="discardThis(item)" ng-show="!item.discarded" title="discard this target">-->
                                    <!--<i class="fa fa-times"></i>-->
                                <!--</span>-->
                                <!--<span ng-click="restoreThis(item)" ng-show="item.discarded" title="restore this target">-->
                                    <!--<i class="fa fa-check"></i>-->
                                <!--</span>-->
                            <!--</span>-->
                        </span>
                    </div>
                </div>
            </div>

        </div>

            <!--<div class="col-sm-4">-->
            <!--<span>{{notFound.length}} </span>-->
            <!--<span ng-switch="notFound.length">-->
                <!--<span ng-switch-when="1">target</span>-->
                <!--<span ng-switch-default>targets</span> not found-->
            <!--</span>-->

            <!--<div class="batch-search-mappings-container">-->
                <!--<div ng-show="!newSearchQuery" class="batch-search-results-container">-->
                    <!--<div ng-repeat="item in notFound">-->
                        <!--<span class="search-item item-discarded">{{item.query}} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{item.result}}</span>-->
                        <!--<span ng-class="hover ? 'search-options highlight' : 'search-options down'" ng-mouseenter="hover=true" ng-mouseleave="hover=false">-->
                            <!--<span ng-click="newSearch(item)">-->
                                <!--<i class="fa fa-search"></i>-->
                            <!--</span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div ng-show="newSearchQuery">-->
                    <!--<div class="choose-header search-header">-->
                        <!--<input class="batch-search-box" type="text" placeholder="{{newSearchQuery}}" class="form-control input-search ng-pristine ng-untouched ng-valid ng-empty" name="text" tabindex="1" ng-model="searchQueryText" ng-model-options="{debounce:500}" autocomplete="off" ng-change="getSearch(searchQueryText)">-->
                        <!--<i ng-click="newSearchQuery=''" class="fa fa-times search-options"></i>-->
                        <!--<span cttv-progress-spinner size="24" ng-show="searchInProgress"-->
                              <!--style="right:4.5em; top:3em; position:absolute"></span>-->

                    <!--</div>-->
                    <!--<div class="batch-search-results-container">-->
                        <!--<div ng-repeat="target in newSearchResults" ng-click="setNewItem(newSearchQuery, target)">-->
                            <!--<span class="search-item select-item">{{target.data.approved_symbol}}</span>-->
                            <!--<span ng-class="hover ? 'search-options highlight' : 'search-options down'" ng-mouseenter="hover=true" ng-mouseleave="hover=false">-->
                                <!--<i class="fa fa-check"></i>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</div>
<div ng-show="notFound.length" style="margin-top:10px;">Unrecognised targets: <span ng-repeat="target in notFound" style="background-color:#ffe6e6;margin-right:10px;">{{target.query}}</span></div>


<div class="section">
    <div style="margin-top:50px;">
        <h2>3. Analyse your list:</h2>
        <p style="color:#aaaaaa">These are the targets to be analysed. Save the current list in your computer if needed.</p>
    </div>

    <h4>
        <span style="font-size:1.4em;">{{targetIds.length}}</span> targets currently selected for analysis
    </h4>
    <p ng-show="targetIds.length > listLengthLimit" style="color:red;">
        The current limit of this functionality is {{listLengthLimit}} targets. Please unselect some targets or load a new list
    </p>

    <div style="margin-top:50px;" ng-show=summaryLink>
        <!-- We are in the limit of bacth search -->
        <span ng-show="targetIds.length <= listLengthLimit">
            <a href="{{summaryLink}}">
                <button type="button" class="btn btn-primary">
                    Analyze targets
                </button>
            </a>
        </span>

        <span ng-show="targetIds.length > listLengthLimit">
                <button type="button" class="btn btn-default">
                    Analyze targets
                </button>
        </span>

        <button ng-click="downloadList();">
            <!--<i class="fa fa-download"></i>-->
            Download list
        </button>
    </div>

</div>
