<div class="partial-page">

    <view-title>Variant definitions</view-title>

    <div class="cttv-content-header">
        <div class="container">
            <h3>Variant Types</h3>
            <p></p>
        </div>
    </div>
<div class="cttv-docs-section">
            <p>For each genetic variant used as evidence in Genetic associations and Somatic mutation data types, we predict the effect or consequence of the variant on genes and transcripts. This effect is defined by terms from the <a href="http://www.sequenceontology.org/">Sequence Ontology</a>project.</p>
            <ul>
                <li>The different variant types and their SO terms are shown in the table below:</li>

                <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <table>
                    <thead>
                        <tr>
                            <th>Variant term</th>
                            <th>Definition</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                        	<td>3 prime UTR variant</td>
                        	<td>A UTR variant of the 3&#39; UTR.</td>
                        </tr>
                        <tr>
                        	<td>5 prime UTR variant</td>
                        	<td>A UTR variant of the 5&#39; UTR.</td>
                        </tr>
                        <tr>
                        	<td>coding sequence variant</td>
                        	<td>A sequence variant that changes the coding sequence.</td>
                        </tr>
                        <tr>
                        	<td>frameshift variant</td>
                        	<td>A sequence variant which causes a disruption of the translational reading frame, because the number of nucleotides inserted or deleted is not a multiple of three.</td>
                        </tr>
                        <tr>
                        	<td>inframe deletion</td>
                        	<td>An inframe non synonymous variant that deletes bases from the coding sequence.</td>
                        </tr>
                        <tr>
                        	<td>inframe insertion</td>
                        	<td>An inframe non synonymous variant that inserts bases into in the coding sequence.</td>
                        </tr>
                        <tr>
                        	<td>initiator codon variant</td>
                        	<td>A codon variant that changes at least one base of the first codon of a transcript.</td>
                        </tr>
                        <tr>
                        	<td>intron variant</td>
                        	<td>A transcript variant occurring within an intron.</td>
                        </tr>
                        <tr>
                        	<td>missense variant</td>
                        	<td>A sequence variant that changes one or more bases, resulting in a different amino acid sequence but where the length is preserved.</td>
                        </tr>
                        <tr>
                        	<td>nearest gene counting from 5&#39; end</td>
                        	<td>Nearest gene to variant counting from 5&#39; end.</td>
                        </tr>
                        <tr>
                        	<td>non coding transcript exon variant</td>
                        	<td>A sequence variant that changes non-coding exon sequence in a non-coding transcript.</td>
                        </tr>
                        <tr>
                        	<td>regulatory region variant</td>
                        	<td>A sequence variant located within a regulatory region.</td>
                        </tr>
                        <tr>
                        	<td>splice acceptor variant</td>
                        	<td>A splice variant that changes the 2 base region at the 3&#39; end of an intron.</td>
                        </tr>
                        <tr>
                        	<td>splice donor variant</td>
                        	<td>A splice variant that changes the 2 base pair region at the 5&#39; end of an intron.</td>
                        </tr>
                        <tr>
                        	<td>splice region variant</td>
                        	<td>A sequence variant in which a change has occurred within the region of the splice site, either within 1-3 bases of the exon or 3-8 bases of the intron.</td>
                        </tr>
                        <tr>
                        	<td>stop gained</td>
                        	<td>A sequence variant whereby at least one base of a codon is changed, resulting in a premature stop codon, leading to a shortened transcript.</td>
                        </tr>
                        <tr>
                        	<td>stop lost</td>
                        	<td>A sequence variant where at least one base of the terminator codon (stop) is changed, resulting in an elongated transcript.</td>
                        </tr>
                        <tr>
                        	<td>stop retained variant</td>
                        	<td>A sequence variant where at least one base in the terminator codon is changed, but the terminator remains.</td>
                        </tr>
                        <tr>
                        	<td>synonymous variant</td>
                        	<td>A sequence variant where there is no resulting change to the encoded amino acid.</td>
                        </tr>
                        <tr>
                        	<td>upstream gene variant</td>
                        	<td>A sequence variant located 5&#39; of a gene.</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
