<div class="partial-page">

    <view-title>Variant definitions</view-title>

    <div class="cttv-content-header">
        <div class="container">
            <h3>Variant definitions</h3>
            <p></p>
        </div>
    </div>
    <div class="cttv-docs-section">


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>We predict the consequence of variants (germline or somatic) on genes associated with diseases based on the evidence for the Genetic associations and Somatic mutation data types. This effect is defined by consequence terms from the <a href="http://www.sequenceontology.org/">Sequence Ontology</a> (SO) project.</p>

                    <p>The SO consequence terms, their descriptions and accession IDs are shown in the table below. The terms are shown in decreasing order of severity (from more severe to less severe) based on the functional score in <a href="https://academic.oup.com/nar/article/45/D1/D985/2605745/Open-Targets-a-platform-for-therapeutic-target#51199338">Koscielny et al</a> (Supplementary Table 2).</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>SO term</th>
                                <th>Definitions </th>
                                <th>SO&nbsp;accession</th>
				                <th>Functional consequence score</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>transcript ablation</td>
                                <td>A feature ablation whereby the deleted region includes a transcript feature.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001893'>SO_0001893</a></td>
				                <td>1</td>
                            </tr>
				            <tr>
                                <td>curator inference</td>
                                <td>A sequence variant which is manually curated.</td>
                                <td>not applicable</td>
						    <td>1</td>
                            </tr>
                            <tr>
                                <td>frameshift variant</td>
                                <td>A sequence variant which causes a disruption of the translational reading frame, because the number of nucleotides inserted or deleted is not a multiple of three.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001589'>SO_0001589</a></td>
				                <td>0.95</td>
                            </tr>
			                <tr>
                                <td>stop gained</td>
                                <td>A sequence variant whereby at least one base of a codon is changed, resulting in a premature stop codon, leading to a shortened transcript.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001587'>SO_0001587</a></td>
                                <td>0.95</td>
					        </tr>
                            <tr>
                                <td>splice region variant</td>
                                <td>A sequence variant in which a change has occurred within the region of the splice site, either within 1-3 bases of the exon or 3-8 bases of the intron.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001630'>SO_0001630</a></td>
                                <td>0.95</td>
				            </tr>
				            <tr>
                                <td>splice acceptor variant</td>
                                <td>A splice variant that changes the 2 base region at the 3&#39; end of an intron.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001574'>SO_0001574</a></td>
                                <td>0.95</td>
				            </tr>
                            <tr>
                                <td>splice donor variant</td>
                                <td>A splice variant that changes the 2 base pair region at the 5&#39; end of an intron.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001575">SO_0001575</a></td>
                                <td>0.95</td>
				            </tr>
                             <tr>
                                <td>coding sequence variant</td>
                                <td>A sequence variant that changes the coding sequence.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001580">SO_0001580</a></td>
                                <td>0.95</td>
				            </tr>
				            <tr>
                                <td>incomplete terminal codon variant</td>
                                <td>A sequence variant where at least one base of the final codon of an incompletely annotated transcript is changed..</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001626'>SO_0001626</a></td>
                                <td>0.90</td>
					        </tr>
				            <tr>
                                <td>stop lost</td>
                                <td>A sequence variant where at least one base of the terminator codon (stop) is changed, resulting in an elongated transcript.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001578'>SO_0001578</a></td>
                                <td>0.90</td>
				            </tr>
			            	<tr>
                                <td>protein altering variant</td>
                                <td>A sequence_variant which is predicted to change the protein encoded in the coding sequence.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001818'>SO_0001818</a></td>
                                <td>0.70</td>
                            </tr>
				            <tr>
                                <td>missense variant</td>
                                <td>A sequence variant that changes one or more bases, resulting in a different amino acid sequence but where the length is preserved.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001583'>SO_0001583</a></td>
                                <td>0.70</td>
				            </tr>
				            <tr>
                                <td>initiator codon variant</td>
                                <td>A codon variant that changes at least one base of the first codon of a transcript.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001582">SO_0001582</a></td>
                                <td>0.70</td>
				            </tr>
				            <tr>
                                <td>inframe deletion</td>
                                <td>An inframe non synonymous variant that deletes bases from the coding sequence.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001822">SO_0001822</a></td>
                                <td>0.70</td>
				            </tr>
                            <tr>
                                <td>inframe insertion</td>
                                <td>An inframe non synonymous variant that inserts bases into in the coding sequence.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001821">SO_0001821</a></td>
                                <td>0.70</td>
				            </tr>
 				            <tr>
                                <td>non coding transcript exon variant</td>
                                <td>A sequence variant that changes non-coding exon sequence in a non-coding transcript.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001619">SO_0001619</a></td>
                                <td>0.65</td>
				            </tr>
 				            <tr>
                                <td>NMD transcript variant</td>
                                <td>A variant in a transcript that is the target of NMD.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001621">SO_0001621</a></td>
                                <td>0.65</td>
				            </tr>
                            <tr>
                                <td>intron variant</td>
                                <td>A transcript variant occurring within an intron.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001627'>SO_0001627</a></td>
                                <td>0.65</td>
				            </tr>
				            <tr>
                                <td>mature miRNA variant</td>
                                <td>A transcript variant located with the sequence of the mature miRNA.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001620'>SO_0001620</a></td>
                                <td>0.65</td>
					        </tr>
				            <tr>
                                <td>3 prime UTR variant</td>
                                <td>A UTR variant of the 3&#39; UTR.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001624'>SO_0001624</a></td>
                                <td>0.65</td>
				            </tr>
                            <tr>
                                <td>5 prime UTR variant</td>
                                <td>A UTR variant of the 5&#39; UTR.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001623">SO_0001623</a></td>
                                <td>0.65</td>
				            </tr>
				            <tr>
                                <td>non_coding_transcript_exon_variant</td>
                                <td>A UTR variant of the 5&#39; UTR.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001792">SO_0001792</a></td>
                                <td>0.65</td>
				            </tr>
              			    <tr>
                                <td>synonymous variant</td>
                                <td>A sequence variant where there is no resulting change to the encoded amino acid.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001819">SO_0001819</a></td>
                                <td>0.65</td>
				            </tr>
				            <tr>
                                <td>stop retained variant</td>
                                <td>A sequence variant where at least one base in the terminator codon is changed, but the terminator remains.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001567">SO_0001567</a></td>
                                <td>0.65</td>
				            </tr>
				            <tr>
                                <td>regulatory region variant</td>
                                <td>A sequence variant located within a regulatory region.</td>
                                <td><a href="http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001566">SO_0001566</a></td>
                                <td>0.60</td>
				            </tr>
 				            <tr>
                                <td>upstream gene variant</td>
                                <td>A sequence variant located 5&#39; of a gene.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001631'>SO_0001631</a></td>
                                <td>0.60</td>
				            </tr>
				            <tr>
                                <td>downstream gene variant</td>
                                <td>A sequence variant located 3&#39; of a gene.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001632'>SO_0001632</a></td>
                                <td>0.60</td>
                            </tr>
                            <tr>
                                <td>TF binding site variant</td>
                                <td>A sequence variant located within a transcription factor binding site.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001782'>SO_0001782</a></td>
                                <td>0.60</td>
				            </tr>
				            <tr>
                                <td>transcript amplification</td>
                                <td>A feature amplification of a region containing a transcript.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001889'>SO_0001889</a></td>
                                <td>0.60</td>
					        </tr>
				            <tr>
                                <td>regulatory region amplification</td>
                                <td>A feature amplification of a region containing a regulatory region.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001891'>SO_0001891</a></td>
                                <td>0.60</td>
				            </tr>
				            <tr>
                                <td>TFBS amplification</td>
                                <td>A feature amplification of a region containing a transcription factor binding site.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001892'>SO_0001892</a></td>
                                <td>0.60</td>
					        </tr>
                            <tr>
                                <td>regulatory region ablation</td>
                                <td>A feature ablation whereby the deleted region includes a regulatory region.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001894'>SO_0001894</a></td>
                                <td>0.60</td>
                            </tr>
                            <tr>
                                <td>TFBS ablation</td>
                                <td>A feature ablation whereby the deleted region includes a transcription factor binding site.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001895'>SO_0001895</a></td>
                                <td>0.60</td>
					        </tr>
				            <tr>
                                <td>feature truncation</td>
                                <td>A sequence variant that causes the reduction of a genomic feature, with regard to the reference sequence.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001906'>SO_0001906</a></td>
                                <td>0.60</td>
				            </tr>
				            <tr>
                                <td>feature elongation</td>
                                <td>A sequence variant that causes the extension of a genomic feature, with regard to the reference sequence.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001907'>SO_0001907</a></td>
                                <td>0.60</td>
                            </tr>
                            <tr>
                                <td>Regulatory nearest gene five prime end</td>
                                <td>Regulatory nearest gene 5&#39; end.</td>
                                 <td>not applicable</td>
			                    <td>0.50</td>
                            </tr>
				            <tr>
                                <td>Nearest gene five prime end</td>
                                <td>Nearest gene counting from the 5&#39; end.</td>
                                <td>not applicable</td>
                                <td>0.50</td>
                            </tr>
                            <tr>
                                <td>sequence variant</td>
                                <td>A sequence variant is a non exact copy of a sequence feature or genome exhibiting one or more sequence alteration.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001060'>SO_0001060</a></td>
                                <td>0.50</td>
                            </tr>
                            <tr>
                                <td>conservative inframe deletion</td>
                                <td>An inframe decrease in cds length that deletes one or more entire codons from the coding sequence but does not change any remaining codons.</td>
                                <td><a href='http://www.ontobee.org/ontology/SO?iri=http://purl.obolibrary.org/obo/SO_0001825'>SO_0001825</a></td>
                                <td>0.50</td>
                            </tr>
               
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
