<h4>Show</h4>
<!-- <div ng-repeat="bob in facets.slice(0,1)"> -->
<div ng-repeat="bob in facets | limitTo:1">
        <!-- limitTo:2 -->
    <ot-facet-loader plugin="{{bob.options.element}}" facet="bob"></ot-facet-loader>
    <!-- <datatype1-facet facet="bob"></datatype1-facet> -->
</div>
<!-- <div ng-init="bob = facets.slice(0,1)" ng-repeat="f in bob">
    <ot-facet-loader plugin="{{facets[0].options.element}}" facet="facets[0]"></ot-facet-loader>
</div> -->

<h4>Filter by</h4>
<div class="ot-facets" ng-show="true">
    <uib-accordion close-others=false>
        <div uib-accordion-group ng-init="status = {isOpen: facet.options.open}" is-open="status.isOpen" ng-repeat="facet in facets.slice(1) track by facet.options.element" class="panel-default">
            
            <!-- facet heading -->
            <uib-accordion-heading class="ot-facets-headers">
                {{facet.options.heading | otClearUnderscores | otUpperCaseFirst}}
                <ot-popover ng-if="facet.helpKeyInOtDefinitions" key="{{facet.helpKeyInOtDefinitions}}"></ot-popover>
                <i class="pull-right text-lowlight fa" ng-class="{'fa-caret-right': !status.isOpen, 'fa-caret-down': status.isOpen}"></i>
                <span class="pull-right ot-facet-summary" ng-if="facet.summary[0]">selected</span>
            </uib-accordion-heading>

            <!-- load the relevant acutal facet -->
            <ot-facet-loader plugin="{{facet.options.element}}" facet="facet"></ot-facet-loader>

        </div>
    </uib-accordion>
</div>
