<h4>Filter by</h4>
<div class="ot-facets" ng-show="true">
    <uib-accordion close-others=false>
        <div uib-accordion-group ng-init="status = {isOpen: facet.options.open}" is-open="status.isOpen" ng-repeat="facet in facets track by facet.options.element" class="panel-default">
            
            <!-- facet heading -->
            <uib-accordion-heading class="ot-facets-headers">
                {{facet.options.heading | otClearUnderscores | otUpperCaseFirst}}
                <!-- <span class="facet-help" ng-if="facet.helpString"><i class="fa fa-question-circle" tooltip-trigger="mouseenter" uib-tooltip="{{facet.helpString}}" tooltip-placement="right"></i></span> -->
                <ot-popover ng-if="facet.helpKeyInOtDefinitions" key="{{facet.helpKeyInOtDefinitions}}"></ot-popover>
                <i class="pull-right text-lowlight fa" ng-class="{'fa-caret-right': !status.isOpen, 'fa-caret-down': status.isOpen}"></i>
                <span class="pull-right ot-facet-summary" ng-if="facet.summary[0]">selected</span>
            </uib-accordion-heading>

            <!-- load the relevant acutal facet -->
            <ot-facet-loader plugin="{{facet.options.element}}" facet="facet"></ot-facet-loader>

        </div>
    </uib-accordion>
</div>
