<div class="partial-page">
    <ot-page-progress-spinner></ot-page-progress-spinner>

    <div ng-show="search.total==0">
        <div class="container">
            <h3 view-title>No targets found for {{search.label || search.query}}</h3>
            <p ng-show="!search.label">
                Try searching a different target or disease above
            </p>
            <p ng-show="search.label" style="margin-top:10px">
                Find more information about <span style="font-weight:bold">{{search.label}}</span> in its <a href="/disease/{{search.query}}">Profile page</a>
            </p>
        </div>
    </div>

    <div ng-if="search.total>0">
        <div class="ot-content-header">
            <div class="container">
                <h3 view-title>{{search.total}} {{search.total===1 ? "target" : "targets"}} associated with {{search.label}}</h3>
                <h5 ng-show="targets.length">Only targets in your list associated with {{search.label}} are shown. <a href="" ng-click="removeTargetLists()">Remove this filter</a></h5>
                <p><!-- Found {{search.total}} {{search.total===1 ? "target" : "targets"}}<span class="ot-interpage-link">--><a href="/disease/{{search.query}}"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-align-justify fa-stack-1x fa-inverse"></i></span> View disease profile</span></a>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row" ng-if="search.total>0">
                <div class="col-sm-3">
                    <cttv-facets></cttv-facets>
                    <ot-filter-by-file-targets disease-name="search.label" targets="targets"
                                                 filters="filters" getfacets="getFacets" search="search">

                    </ot-filter-by-file-targets>
                </div>

                <div class="col-sm-9">
                    <ot-disease-associations disease="search.query" targets="targets"
                                               filename="search.filename"
                                               filters="filters" state-id="dat">
                    </ot-disease-associations>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search results-->
