<div class="footer">
    <div class="container">
        <div class="row">

            <!-- wrap everything in 2 extra columns to get cols stacked up vertically in 2 without wasting space -->
            <div class="col-xs-6">
                <div class="row">

                    <div class="col-xs-12 col-sm-6">
                        <h4 class="footer-section-header">Platform</h4>
                        <ul class="footer-menu">
                            <li><span class="hidden-xs hidden-sm">Version </span>3.2.0</li>
                            <li><a href="/release-notes">Release notes</a></li>
                            <!-- <li><a href="/about">About</a></li>
                            <li><a href="/documentation/api">API</a></li>
                            <li><a href="/documentation/components">Docs</a></li> -->
                            <li><a href="/terms_of_use">Terms <span class="hidden-xs">of use</span></a></li>
                            <li><a href="/about#citation">How to cite us</a></li>
                        </ul>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h4 class="footer-section-header">Help</h4>
                        <ul class="footer-menu">
                            <li><a href="/faq"><i class="fa fa-question-circle"></i> FAQs</a></li>
                            <li><a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x74;&#x61;&#x72;&#x67;&#x65;&#x74;&#x76;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x2E;&#x6F;&#x72;&#x67;&#x3F;&#x53;&#x75;&#x62;&#x6A;&#x65;&#x63;&#x74;&#x3D;&#x54;&#x61;&#x72;&#x67;&#x65;&#x74;&#x25;&#x32;&#x30;&#x56;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x25;&#x32;&#x30;&#x50;&#x6C;&#x61;&#x74;&#x66;&#x6F;&#x72;&#x6D;&#x25;&#x32;&#x30;&#x2D;&#x25;&#x32;&#x30;&#x68;&#x65;&#x6C;&#x70;&#x25;&#x32;&#x30;&#x72;&#x65;&#x71;&#x75;&#x65;&#x73;&#x74;"><span class="fa fa-envelope"></span> support<span class="hidden-xs hidden-sm"><span class="fa fa-at"></span>targetvalidation.org</span></a></li>
                        </ul>

                        <h4 class="footer-section-header">Follow us</h4>
                        <!-- social media links -->
                        <ul class="footer-menu list-inline footer-social-bar">
                            <li><a href="https://www.linkedin.com/company/centre-for-therapeutic-target-validation" target="_blank" alt="Link to LinkedIn Open Targets page"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="http://twitter.com/targetvalidate" target="_blank" alt="Link to Twitter Open Targets page"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="https://www.facebook.com/OpenTargets/" target="_blank" alt="Link to Facebook Open Targets page"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="https://github.com/opentargets" target="_blank" alt="Link to Github Open Targets page"><span class="fa fa-github"></span></a></li>
                        </ul>

                    </div>

                </div>
            </div>

            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="footer-section-header">Partners</h4>
                        <ul class="footer-menu">
                            <li><a href="https://www.biogen.com/">Biogen</a></li>
                            <li><a href="http://www.ebi.ac.uk">EMBL-EBI</a></li>
                            <li><a href="http://www.gsk.com">GSK</a></li>
                            <li><a href="http://www.sanger.ac.uk">Wellcome Trust Sanger Institute</a></li>
                        </ul>

                    </div>


                    <div class="col-xs-12 col-sm-6">
                        <h4 class="footer-section-header"><a href="//www.opentargets.org">Open Targets</a></h4>
                        <ul class="footer-menu">
                            <li><a href="//www.opentargets.org/about">Overview</a></li>
                            <li><a href="//www.opentargets.org/projects">Projects</a></li>
                            <li><a href="//www.opentargets.org/news">News</a></li>
                            <li class="hidden-xs"><a href="//www.opentargets.org/jobs">Jobs</a></li>
                            <li class="hidden-xs"><a href="//blog.opentargets.org/">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>