<!-- evidence page -->

<div class="partial-page">

    <div class="ot-content-header">
        <div class="container">
            <h3 view-title>Evidence for {{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name)}} in {{search.info.efo.label}}</h3>
            <meta-description-content>{{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name)}} ({{search.target}}) is associated with {{search.info.efo.label}} ({{search.disease}}) through evidence in the Open Targets Platform from GWAS, clinical trials, differential expression experiments, pathways, text mining and experiments in animal models.</meta-description-content>
            <p></p><!-- bit of a hugly hack, I confess, just to get the spacing consistent with other pages; will adjust and remove in the future -->
        </div>
    </div>

    <div ng-if="otConfig.showNoticeWithLinkToAlphaRewrite" class="rewrite-alpha-release-notice-container">
        <p>
            <b>** Important Notice **</b>
        </p>
        <p>
            We are currently redesigning and rebuilding the Open Targets Platform with new features and a new approach to scoring and how we display evidence.
        </p>
        <p>
            For a preview of the new Platform interface, please see 
            <b>
                <a href="http://beta.targetvalidation.org/evidence/{{search.info.gene.ensembl_gene_id}}/{{search.info.efo.efo_code}}">
                    the redesigned evidence page for {{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name)}} in {{search.info.efo.label}}
                </a>
            </b>
        </p>
    </div>

    <!-- page header with flower and overview -->
    <div class="container">
        <div class="row gene-disease-header">

            <div class="col-sm-3">
                <ot-gene-disease-association target="{{search.target}}" disease="{{search.disease}}" width="180" height="180" association-data="search.flower_data"></ot-gene-disease-association>
            </div>

            <div class="col-sm-9">

                <div class="overview">

                    <!-- Gene Info -->
                    <div class="item">
                        <a href="/target/{{search.info.gene.ensembl_gene_id}}">
                            <div class="well well-lg">
                                <h5>
                                    {{search.info.gene.approved_symbol || search.info.gene.ensembl_external_name}}<br />
                                    <span class="small">{{search.info.gene.approved_name || search.info.gene.ensembl_description}}
                                        <!-- <br/ >({{search.info.gene.id || search.info.gene.ensembl_gene_id}}) -->
                                        <span ng-show="search.info.gene.symbol_synonyms.length>0"><br />Synonyms: {{search.info.gene.symbol_synonyms.join(", ") | limitTo:100}}<span ng-show="search.info.gene.symbol_synonyms.join(', ').length>100">&hellip;</span></span>
                                    </span>
                                </h5>
                                <!-- The actual content paragraph -->
                                <p class="small">{{search.info.gene.uniprot_function[0] | limitTo: 200}}<span ng-show="search.info.gene.uniprot_function[0].length>200">&hellip;</span></p>
                            </div>
                        </a>
                    </div>

                    <!-- Divider -->
                    <div class="association">
                        <div></div>
                    </div>

                    <!-- Disease Info -->
                    <div class="item">
                        <a href="/disease/{{search.info.efo.efo_code}}">
                            <div class="well well-lg">
                                <h5>
                                    {{search.info.efo.label}}
                                    <span class="small" ng-show="search.info.efo.efo_synonyms.length>0"><br />Synonyms: {{search.info.efo.efo_synonyms.join(", ") | limitTo:100}}<span ng-show="search.info.efo.efo_synonyms.join(', ').length>100">&hellip;</span></span>
                                </h5>
                                <p class="small">{{search.info.efo.definition | limitTo: 200}}<span ng-show="search.info.efo.definition.length>200">&hellip;</span></p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Tabular data -->
    <div class="container">

        <!-- Tabular data -->
        <!-- <div class="row gene-disease-content"> -->
        <div class="row gene-disease-content scroll-table-panel">

            <div class="col-sm-12">

                <a id="tables"></a>

                <h4 ng-if="!search.has_data">
                    No evidence found for {{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name)}} in {{search.info.efo.label}}
                </h4>
                <p ng-if="!search.has_data">
                    Alternatively you can see <a href="/target/{{search.info.gene.ensembl_gene_id}}/associations">other diseases associated with {{(search.info.gene.approved_symbol || search.info.gene.ensembl_external_name)}}</a> or <a href="/disease/{{search.info.efo.efo_code}}/associations">other targets associated with {{search.info.efo.label}}</a>.
                </p>

                <!-- NEW PLUGINS -->
                <!-- The plugins are loaded into an accordion, but I guess we're not tied to that and could use any panel -->
                <uib-accordion close-others="false" ng-if="search.has_data">
                    <!-- standard default option: show ALL the section (heading reflects data) -->
                    <div uib-accordion-group ng-repeat="section in sections" is-open="section.defaultVisibility" attr-section-name="{{section.name}}" class="panel-default">
                    <!-- alt option: only show sections with data (to combine with sections expanded) -->
                    <!-- <div uib-accordion-group ng-repeat="section in sections" is-open="section.defaultVisibility" attr-section-name="{{section.name}}" class="panel-default" ng-if="search.association_score.datatypes[section.config.datatype]>0"></div>     -->
                        <!-- accordion header -->
                        <uib-accordion-heading>
                            <div style="position:relative" ng-show="!section.icon && section.new" ng-click="section.currentVisibility = !section.currentVisibility">
                                <div class="ot-section-new"><span>New</span></div>
                            </div>
                            <div style="position:relative" ng-show="section.icon" ng-click="section.currentVisibility = !section.currentVisibility">
                                <div class="ot-section-icon"><img src="{{section.icon}}"style="width: 100%;"></img></div>
                            </div>
                            <span ng-click='section.currentVisibility = !section.currentVisibility' class="text-nolight" ng-class="{ 'text-disabled': search.fd[section.config.datatype]==0 }">{{section.heading}}</span>
                        </uib-accordion-heading>
                        
                        <div ng-show="tables[section.name].isLoading || tables[section.name].data === undefined">
                            <p>Loading data</p>
                            <ot-progress-spinner size="30"></ot-progress-spinner>
                        </div>

                        <!-- the main plugin -->
                        <ot-plugin-loader 
                            target="search.info.gene" 
                            disease="search.info.efo" 
                            plugin="section.element" 
                            visible="{{section.currentVisibility}}"
                            dependencies="section.dependencies" 
                            page="evidence"
                            action="evidence"
                            track="section.track"
                            label="section.name"
                            ext="tables[section.name]"
                            class="scroll-table-panel"
                            ng-show="tables[section.name].data.length>0">
                        </ot-plugin-loader>

                        <!-- no data -->
                        <div ng-show="tables[section.name].data.length===0">No data available</div>

                        <!-- error -->
                        <uib-alert type="danger" ng-show="tables[section.name].hasError" ng-cloak style="margin-top:15px">
                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> There was an error retrieving {{tables[section.name].heading}} data. Please try again later.
                        </uib-alert>

                    </div>
    
                </uib-accordion>

            </div>
        </div>
    </div>
</div>
