<div class="table-panel">
    <table class='table ot-evidence-table' id="pathways-table">
        <thead>
            <tr>
                <th></th>
                <th>Disease</th>
                <!-- hidden disease id -->
                <th>Disease id</th>
                <th>Gene set</th>
                <th>Method description</th>
                <th>Publications</th>
                <!-- hidden publications id -->
                <th>Publications IDs</th>
            </tr>
        </thead>

        <!-- <tfoot>
            <tr class="filter-row">
                <th></th>
                <th>Disease</th>
                <th>Overview</th>
                <th>Activity</th>
                <th>Mutations</th>
                <th>Evidence source</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot> -->
        
        <tbody></tbody>
    </table>
</div>