<div>
    
    <div class="row">
        <div class="col-sm-6">
            <ot-donut-chart header="Trials" data="phases" show-legend="true" size="160" hole="100"></ot-donut-chart>
        </div>

        <div class="col-sm-6">
            <h3>Table summary</h3>
            <h4><span class="badge large badge-success">{{drugs.length}}</span> unique drugs</h4>
            <h4><span class="badge large badge-warning">{{associated_diseases.length}}</span> associated disease</h4>
            <h4><span class="badge large badge-primary">{{associated_targets.length}}</span> associated targets</h4>
            <!-- <p ng-repeat="(phase, v) in phases">{{phase}} {{v.length}}</p> -->
        </div>
    </div>
</div>

<!-- <p>Found {{drugs.length}} unique drugs:
    <span ng-repeat="drug in drugs | limitTo: show.limit">
        <span style="padding-right:10px">[<a href={{drug.url}} target=_blank>{{drug.id}}</a>]</span>
        <span style="padding-right:8px"><a href={{drug.url}} target=_blank><i class="label label-primary">{{drug.id}}</i>
        <span style="padding-right:8px"><a href={{drug.url}} target=_blank><i class="ot-pill-list drug-list">{{drug.id}}</i>
        </a></span>
    </span>
    <span ng-click="showMoreOrLess()" ng-show="show.moreOrLess"><span class="show-more-dots" ng-show="show.limit<drugs.length">...</span> <a class="ng-binding show-more-links">{{show.ellipsis}}</a></span>
</p> -->


<div class="table-panel">
    <table class='table ot-evidence-table'>
        <thead>
            <tr>
                <th rowspan="2" colspan="1"></th>
                <th rowspan="2" colspan="1">Disease</th>
                <th rowspan="1" colspan="7">Drug Information</th>
                <th rowspan="1" colspan="2">Gene-Drug Evidence</th>
            </tr>
            <tr>
                <!-- Drug information -->
                <th>Drug</th>
                <th>Phase</th>
                <th>Phase (Numeric)</th>
                <th>Status</th>
                <th>Type</th>
                <th>Mechanism<br /> of action</th>
                <th>Activity</th>
                <!-- <th>Clinical Indications</th> -->

                <!-- Gene-Drug evidence -->
                <!-- <th>Target name</th> -->
                <th>Target class</th>
                <th>Evidence source</th>
                <!-- <th class="no-last-element">Target</th> --><!-- we have to manually set this border, otherwise datatables thinks it's the last element and removes the border-->
                <!-- <th class="no-last-element">Protein complex members</th> -->

            </tr>
            

        </thead>

        <tfoot style="display:table-header-group">

            <tr class="filter-row">
                <th></th>
                <th>Disease</th>
                <!-- Drug information -->
                <th>Drug</th>
                <th>Phase</th>
                <th>Phase (Numeric)</th>
                <th>Status</th>
                <th>Type</th>
                <th></th>
                <th>Activity</th>
                <!-- <th>Clinical Indications</th> -->

                <!-- Gene-Drug evidence -->
                <!-- <th>Target name</th> -->
                <th>Target class</th>
                <th></th>
                <!-- <th class="no-last-element">Target</th> --><!-- we have to manually set this border, otherwise datatables thinks it's the last element and removes the border-->
                <!-- <th class="no-last-element">Protein complex members</th> -->

            </tr>
        </tfoot>

        <tbody>
        </tbody>
    </table>
</div>
