<p>Found {{drugs.length}} unique drugs:
    <span ng-repeat="drug in drugs | limitTo: show.limit">
        <!-- <span style="padding-right:10px">[<a href={{drug.url}} target=_blank>{{drug.id}}</a>]</span> -->
        <!-- <span style="padding-right:8px"><a href={{drug.url}} target=_blank><i class="label label-primary">{{drug.id}}</i> -->
        <span style="padding-right:8px"><a href={{drug.url}} target=_blank><i class="ot-drug">{{drug.id}}</i>
        </a></span>
    </span>
    <span ng-click="showMoreOrLess()" ng-show="show.moreOrLess"><span class="show-more-dots" ng-show="show.limit<drugs.length">...</span> <a class="ng-binding show-more-links">{{show.ellipsis}}</a></span>
</p>
<div class="table-panel">
    <table class='table ot-evidence-table'>
        <thead>
            <tr>
                <th rowspan="2" colspan="1"></th>
                <th rowspan="2" colspan="1">Disease</th>
                <th rowspan="1" colspan="7">Drug Information</th>
                <th rowspan="1" colspan="2">Gene-Drug Evidence</th>
            </tr>
            <tr>
                <!-- Drug information -->
                <th>Drug</th>
                <th>Phase</th>
                <th>Phase (Numeric)</th>
                <th>Status</th>
                <th>Type</th>
                <th>Mechanism<br /> of action</th>
                <th>Activity</th>
                <!-- <th>Clinical Indications</th> -->

                <!-- Gene-Drug evidence -->
                <!-- <th>Target name</th> -->
                <th>Target class</th>
                <th>Evidence source</th>
                <!-- <th class="no-last-element">Target</th> --><!-- we have to manually set this border, otherwise datatables thinks it's the last element and removes the border-->
                <!-- <th class="no-last-element">Protein complex members</th> -->

            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
<!-- <div class="table-panel">
    <multiselect ng-model="msSelection" options="msOptions">
        </multiselect>

    <p>Options: {{msOptions}}</p>
    <p>Selection: {{msSelection}}</p>
</div> -->
<div ng-if="tableParams" class="table-panel">
    <table ng-table="tableParams" class='table ot-evidence-table ot-test-table'>
        <tr ng-repeat="row in $data">
            <!-- <td data-title="'Name'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
            <td data-title="'Age'" filter="{age: 'number'}" sortable="'age'">{{row.age}}</td> -->


            <td data-title="'Disease'" filter="{disease: 'categorical'}" filter-data="uniqueDiseases" sortable="'disease'"><a href="{{row.diseaseUrl}}">{{row.disease}}</a></td>
            <td data-title="'Drug'" filter="{drug: 'text'}" sortable="'drug'">{{row.drug}}</td>
            <td data-title="'Phase'" filter="{phase: 'categorical'}" filter-data="uniquePhases" sortable="'phase'">{{row.phase}}</td>
            <td data-title="'Status'" filter="{status: 'text'}" sortable="'status'">{{row.status}}</td>
            <td data-title="'Type'" filter="{type: 'text'}" sortable="'type'">{{row.type}}</td>
            <td data-title="'Mechanism of action'" filter="{action: 'text'}" sortable="'action'">{{row.action}}</td>
            <td data-title="'Activity'" filter="{activity: 'text'}" sortable="'activity'">{{row.activity}}</td>
            <td data-title="'Target class'" filter="{targetClass: 'categorical'}" filter-data="uniqueTargetClasses" sortable="'targetClass'">{{row.targetClass}}</td>
            <td data-title="'Evidence source'" filter="{evidenceSource: 'text'}" sortable="'evidenceSource'">{{row.evidenceSource}}</td>


            <!-- <td data-title="'Phase'" filter="{phase: 'select-multiple'}" filter-data="uniquePhases" sortable="'phase'">{{row.phase}}</td> -->
        </tr>
    </table>
</div>
