<!--
    Datasources are only shown under each datatype for now, so a template is not required
-->
<!--
<div cttv-default-facet-controls facet="facet"></div>
<div ng-init="isCollapsed=true&&(!datatype.collection.isLastClicked())" ng-repeat="datatype in facet.filters" >
    <cttv-parent-checkbox-facet bucket="datatype" collapsed="isCollapsed" partial="{{partial}}"></cttv-parent-checkbox-facet>
    <div uib-collapse="isCollapsed" style="padding-left:20px">
        <div cttv-checkbox-facet bucket="bucket" ng-repeat="bucket in datatype.collection.filters" partial="{{partial}}"></div>
    </div>
</div>
-->