<div class="table-panel">
    <table class='table ot-evidence-table' id="literature2-table">
        <thead>
            <tr>
                <th>Access level</th>                <!--0 nameless col for access level -->
                <th>Disease</th>        <!--1   -->
                <!-- <th>Publication ID</th> --> <!--2 hidden column -->
                <th>Publication</th>    <!--3  -->
                <th>Year</th>            <!--4  -->
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
