<!DOCTYPE html>
<html> <!-- ng-app="cttvApp"> -->
    <head>

        <title ng-bind-template="{{viewTitle ? viewTitle+' - ' : ''}}Target Validation Platform"></title>

        <link rel="shortcut icon" href="imgs/favicons/OT_favicon.png" type="image/png" />
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <meta name="google-site-verification" content="L6ztwjop7Soke4dHLg6YAEwUK6IrTKtQEp8cIUamlKg" />

        <!-- IE9 -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <!--[if lte IE 9]>
        <script src="bower_components/aight/aight.min.js"></script>
        <![endif]-->

        <base href="/">
        <!--[if IE]><script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        (function() {
        var baseTag = document.getElementsByTagName('base')[0];
        baseTag.href = baseTag.href;
        })();
        </script><![endif]-->

        <!-- info for social media sharing -->
        <meta property="og:title" content="Target Validation platform" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.targetvalidation.org/" />
        <meta property="og:description" content="The Target Validation platform brings together information on the relationships between potential drug, targets and diseases." />
        <meta property="og:image" content="https://www.targetvalidation.org/imgs/logo/ot_logo_splash.png" />


        <link rel="stylesheet" href="build/cttvWebapp-3rdParty.css?v=21092016" />
        <!-- Don't bundle font-awexome.min.css or the woff files would be broken -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- <link href="build/fontawesome/css/font-awesome.min.css?v=16112015" rel="stylesheet" />
        <link href="build/bootstrap/dist/css/bootstrap.min.css?v=08122015" rel="stylesheet" />-->
        <link rel="stylesheet" href="build/cttvWebapp.min.css?v=21092016" />

        <!-- Components -->
        <link rel="stylesheet" href="build/components-cttvWebapp.min.css?v=21092016" />

        <!-- IE(9) doesn't create console object if not in debug mode. This makes sure it doesn't throw an exception -->
        <script type="text/javascript" src="js/ie_console_noop.js?v=21092016"></script>

        <!-- NEW datatable -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10,b-1.1.0,b-flash-1.1.0,b-html5-1.1.0/datatables.min.css"/>

        <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'> -->

        <!-- App CSS at the end, to override anything required
        <link rel="stylesheet" href="build/cttvWebapp.min.css?v=08122015" />-->

    </head>

    <body id="cttv-page-app">
        <!-- piwik opt out -->
        <!-- <iframe frameborder=no width=600px height=200px src=http://demo.piwik.org/index.php?module=CoreAdminHome&action=optOut&language=en></iframe> -->


        <div class="cttv-page-wrapper">

            <!-- main page content -->
            <div class="cttv-main-container">


                <div ng-controller="MastheadCtrl">

                    <!-- Masthead (homepage) -->
                    <div ng-if="location.path()=='/'" class="ng-cloak masthead-navigation-container">
                        <div class="container">
                            <masthead-navigation-menu></masthead-navigation-menu>
                        </div>
                    </div>

                    <!-- Masthead (other pages) -->
                    <div ng-if="location.path()!=='/'" class="masthead ng-cloak">
                        <div class="container">

                            <div class="row" >

                                <div class="col-xs-2">
                                    <!-- CTTV logo -->
                                    <!-- <a href="/"><img src="imgs/CTTV_logo_webheader.png" width="113px" height="51px"/></a>-->
                                    <div class="ot_logo">
                                        <a href="/" style=""><img src="imgs/logo/ot_logo_masthead_130x30_w.svg" width="130px" height="30px" alt="Open Targets logo"/></a>
                                    </div>
                                </div>

                                <div class="col-xs-6 masthead-navigation-container">
                                    <masthead-navigation-menu></masthead-navigation-menu>
                                </div>

                                <div class="col-xs-4" ng-controller="SearchBoxCtrl">
                                    <form novalidate="" name="queryForm" class="global-search ng-animate ng-dirty ng-invalid ng-invalid-required ng-valid-minlength" ng-submit="setSearch()">
                                        <fieldset>
                                            <div class="has-feedback search-form">



                                                <!-- Search box + search button -->
                                                <div class="input-group input-group-sm">

                                                    <input type="text" placeholder="Search for a target or disease (e.g. BRAF or asthma)" class="form-control" name="text" tabindex="1" ng-model="search.query.text" ng-model-options="{ debounce: 500 }" autocomplete="off" ng-change="getSuggestions(search.query.text);">

                                                    <div class="input-group-btn">
                                                        <button type="submit" class="btn btn-primary">
                                                            <span class="fa fa-search fa-lg"></span>
                                                        </button>
                                                    </div>

                                                </div>

                                                <!-- Search in progress spinner -->
                                                <span cttv-progress-spinner class="text-lowlight form-control-feedback search-form-spinner search-form-spinner-sm" ng-show="search.progress"></span>

                                                <!-- Suggestions box -->
                                                <div cttv-search-suggestions ng-show="isVisible()" ng-model="search.query.results"></div>


                                                <!--<span class="small">
                                                    <i>
                                                        Examples: <a href="/search?q=braf">BRAF</a>,
                                                        <a href="/search?q=asthma">asthma</a>,
                                                        <a href="/search?q=pten">PTEN</a>
                                                    </i>
                                                </span>-->


                                            </div>
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Masthead -->

                <!-- Authentication error -->
                <uib-alert type="danger" ng-show="showApiErrorMsg" ng-cloak>Your session has expired, reload the page to authenticate again
                    <button class="btn btn-default btn-sm" ng-click="reloadPage()">Reload</button>
                </uib-alert>

                <!-- API ERROR 500 -->
                <uib-alert type="danger" ng-show="showApiError500" close="showApiError500=false" ng-cloak>A problem retrieving data has occurred. Please try to reload the page. If the problem persists please contact our <a target=_blank href="mailto:support@targetvalidation.org?Subject=Target Validation Platform - help request">support team</a>
                    <button class="btn btn-default btn-sm" ng-click="reloadPage()">Reload</button>
                </uib-alert>

                <!-- FEEDBACK BUTTON -->
                <!-- Plese re-enable when we want (after integration day?) -->
                <div ng-cloak class="cttv-feedback-button" ng-controller="FeedbackCtrl" ng-class="{'cttv-feedback-button-round': location.path()!='/' }">
                    <a target=_blank href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x74;&#x61;&#x72;&#x67;&#x65;&#x74;&#x76;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x2E;&#x6F;&#x72;&#x67;&#x3F;&#x53;&#x75;&#x62;&#x6A;&#x65;&#x63;&#x74;&#x3D;&#x54;&#x61;&#x72;&#x67;&#x65;&#x74;&#x20;&#x56;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x20;&#x50;&#x6C;&#x61;&#x74;&#x66;&#x6F;&#x72;&#x6D;&#x20;&#x2D;&#x20;&#x66;&#x65;&#x65;&#x64;&#x62;&#x61;&#x63;&#x6B;&body=Page URL: {{location.absUrl()}}">
                    <div>Feedback</div></a>
                </div>

                <div ng-cloak class="cttv-social-panel" ng-controller="FeedbackCtrl" ng-show="location.path()=='/'" ng-click="showSocialMedia=!showSocialMedia">

                    <div ng-show="showSocialMedia">
                        <a target=_blank href="https://www.linkedin.com/company/centre-for-therapeutic-target-validation"><div class="cttv-social-panel-item cttv-social-panel-linkedin"></div></a>
                        <a target=_blank href="http://twitter.com/targetvalidate"><div class="cttv-social-panel-item cttv-social-panel-twitter"></div></a>
                        <a target=_blank href="https://www.facebook.com/OpenTargets/"><div class="cttv-social-panel-item cttv-social-panel-facebook"></div></a>
                    </div>
                    <div class="cttv-social-panel-follow" ng-show="!showSocialMedia">Follow us</div>
                </div>


                <!--<div class="container">-->
                <div>

                    <!-- Remove beta ribbon -->
                    <!-- <div id="cttv-beta-ribbon" class="cttv-beta-ribbon"></div> -->

                    <!-- ie < 9? -->
                    <!--[if lt IE 9]>
                    <div class="alert alert-danger">
                    You are using an <strong>outdated browser</strong> and as a result this page is probably not displayed properly. Please <a href="http://whatbrowser.org/">upgrade your browser</a> in order to access our content properly</p>
                    </div>
                    <![endif]-->
                    <!-- javascript disabled ?-->

                    <noscript>
                        <div class="alert alert-danger">
                            Javascript is currently disabled or is not supported by this browser. This page relies on JavaScript to present the data in all its glory. Please enable JavaScript for full functionality.
                        </div>
                    </noscript>

                    <!-- Content -->

                    <div ng-view autoscroll="true"></div>

                    <!-- End Content -->

                </div>

            </div>
            <!-- end main page content -->

            <!-- Footer -->
            <div class="footer">
                <div class="container">
                    <div class="row">


                        <div class="col-sm-15 col-sm-3">
                            <h6>Platform</h6>
                            <p>Version 1.2.1 - 2016-09-21</p>
                            <p><a href="/release-notes">Release notes</a></p>
                            <p><a href="/about">About</a></p>
                            <p><a href="/documentation/api">API</a></p>
                            <!-- <p><a href="/documentation/components">Docs</a></p> -->
                            <p><a href="/terms_of_use">Terms of use</a></p>
                        </div>

                        <div class="col-sm-15 col-sm-3">
                            <h6>Partners</h6>
                            <p><a href="http://www.ebi.ac.uk">EMBL-EBI</a></p>
                            <p><a href="http://www.sanger.ac.uk">Wellcome Trust Sanger Institute</a></p>
                            <p><a href="http://www.gsk.com">GSK</a></p>
                            <p><a href="https://www.biogen.com/">Biogen</a></p>
                        </div>

                        <div class="col-sm-15 col-sm-3">
                            <h6>Help</h6>
                            <p><a href="/faq"><i class="fa fa-question-circle"></i> FAQs</a></p>
                            <p><a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x74;&#x61;&#x72;&#x67;&#x65;&#x74;&#x76;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x2E;&#x6F;&#x72;&#x67;&#x3F;&#x53;&#x75;&#x62;&#x6A;&#x65;&#x63;&#x74;&#x3D;&#x54;&#x61;&#x72;&#x67;&#x65;&#x74;&#x25;&#x32;&#x30;&#x56;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x25;&#x32;&#x30;&#x50;&#x6C;&#x61;&#x74;&#x66;&#x6F;&#x72;&#x6D;&#x25;&#x32;&#x30;&#x2D;&#x25;&#x32;&#x30;&#x68;&#x65;&#x6C;&#x70;&#x25;&#x32;&#x30;&#x72;&#x65;&#x71;&#x75;&#x65;&#x73;&#x74;"><span class="fa fa-envelope"></span> support<span class="fa fa-at"></span>targetvalidation.org</a></p>
                        </div>

                        <div class="col-sm-15 col-sm-3">
                            <h6>Contact</h6>
                            <p><!-- <span class="fa fa-phone"></span> +44 (0)1223 494 665<br /> --></p>
                            <p><a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x74;&#x61;&#x72;&#x67;&#x65;&#x74;&#x76;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&#x2E;&#x6F;&#x72;&#x67;"><span class="fa fa-envelope"></span> contact<span class="fa fa-at"></span>targetvalidation.org</a></p>
                            <!-- social media links -->
                            <div class="footer-social-bar">
                                <a href="https://www.linkedin.com/company/centre-for-therapeutic-target-validation" target="_blank" alt="Link to LinkedIn Open Targets page"><span class="fa fa-linkedin"></span></a>
                                <a href="http://twitter.com/targetvalidate" target="_blank" alt="Link to Twitter Open Targets page"><span class="fa fa-twitter"></span></a>
                                <a href="https://www.facebook.com/OpenTargets/" target="_blank" alt="Link to Facebook Open Targets page"><span class="fa fa-facebook"></span></a>
                            </div>
                        </div>

                        <div class="col-sm-15 col-sm-3">
                            <h6><a href="//www.opentargets.org">Open Targets</a></h6>
                            <p><a href="//www.opentargets.org/about">Overview</a></p>
                            <p><a href="//www.opentargets.org/projects">Projects</a></p>
                            <p><a href="//www.opentargets.org/news">News</a></p>
                            <p><a href="//www.opentargets.org/jobs">Jobs</a></p>
                            <p><a href="//blog.opentargets.org/">Blog</a></p>
                        </div>



                    </div>
                </div>
            </div>
            <!-- End Footer-->

            <!-- require.js -->
            <script src="jspm_packages/system.js"></script>

            <!-- Angular && web app -->
            <script src="build/cttvWebapp-3rdParty.js?v=21092016" type="text/javascript"></script>
            <script src="build/cttvWebapp.min.js?v=21092016" type="text/javascript"></script>

            <!-- Components -->
            <script type="text/javascript" src="build/components-cttvWebapp.min.js?v=21092016"></script>

            <!-- Blob.js (needed by FileSaver) -->
            <script type="text/javascript" language="javascript" src="vendor/Blob.js"></script>

            <!-- Pathway viewer -->
            <script type="text/javascript" language="javascript" src="/proxy/www.reactome.org/DiagramJs/diagram/diagram.nocache.js?v=21092016"></script>

            <!-- PDB viewers -->
            <!-- <link rel="stylesheet" href="https://wwwdev.ebi.ac.uk/pdbe/widgets/pdb-component-library/css/pdb.component.library.beta-1.0.0.min.css" /> -->
            <!-- <script src="//wwwdev.ebi.ac.uk/pdbe/widgets/pdb-component-library/libs/Three.js"></script>
            <script src="//wwwdev.ebi.ac.uk/pdbe/widgets/pdb-component-library/js/pdb.component.library.min.2.0.js"></script> -->
            <!-- <script src="/vendor/pdbWidgets/Three.js"></script>
            <script src="/vendor/pdbWidgets/pdb.component.library.complete.js"></script> -->

            <!-- ie9 cors support -->
            <!--[if lte IE 9]>
            <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
            <![endif]-->

            <!-- NEW datatable -->
            <script type="text/javascript" src="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10,b-1.1.0,b-flash-1.1.0,b-html5-1.1.0/datatables.min.js"></script>


            <!-- Cookie notification-->
            <script type="text/javascript" id="cookiebanner" src="./vendor/cookiebanner/cookiebanner.min.js"
                    data-height="50px"
                    data-link="#337ab7"
                    data-fontfamily="inherit"
                    data-close-text="<span class='btn btn-success btn-xs'><i class='fa fa-check-circle'></i> OK</span>"
                    data-moreinfo="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" >
            </script>



            <!-- Piwik -->
            <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.www.targetvalidation.org"]]);
            //_paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//opentargets.piwikpro.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
            <noscript><p><img src="//opentargets.piwikpro.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->

            <!-- ribbon control  -->
            <script type="text/javascript">
            function showRibbon() {
                var ribbon = document.getElementById('cttv-beta-ribbon');
                if(ribbon){
                    if (location.hostname.startsWith('www')) {
                        ribbon.style.display = 'none';
                    }
                    else {
                        ribbon.style.display = 'block';
                        ribbon.innerHTML=location.hostname.split('.')[0].toUpperCase()
                    }
                }
            }
            window.onload = showRibbon;
            </script>


            <!-- Log page app session -->
            <log-session></log-session>

        </div>

    </body>

</html>
