<!DOCTYPE html>
<html> <!-- ng-app="cttvApp"> -->
    <head>

        <title ng-bind-template="{{viewTitle ? viewTitle+' - ' : ''}}Open Targets Platform"></title>

        <link rel="shortcut icon" href="imgs/favicons/OT_favicon.png" type="image/png" />
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <meta name="google-site-verification" content="L6ztwjop7Soke4dHLg6YAEwUK6IrTKtQEp8cIUamlKg" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- IE9 -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <!--[if lte IE 9]>
        <script src="bower_components/aight/aight.min.js"></script>
        <![endif]-->

        <base href="/">
        <!--[if IE]>
        <script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        (function() {
        var baseTag = document.getElementsByTagName('base')[0];
        baseTag.href = baseTag.href;
        })();
        </script>
        <![endif]-->


        <!-- Loading Babel polyfill only for IE 11 -->
        <!-- TODO: This loads the polyfill always even if the components that require it are not loaded ever. Can this be included as a conditional dependency in jspm/systemjs? -->
        <script type="text/javascript">
            if (/Trident.*rv:/.test(navigator.userAgent)) {
                document.write('<script src="build/polyfill.min.js"><\/script>');
            }
        </script>


        <!-- meta tag for google crawlers? -->
        <meta content="The Open Targets Platform brings together information on the relationships between potential drug targets and diseases." name="description" />

        <!-- info for social media sharing -->
        <meta property="og:title" content="Open Targets Platform" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.targetvalidation.org/" />
        <meta property="og:description" content="The Open Targets Platform brings together information on the relationships between potential drug targets and diseases." />
        <meta property="og:image" content="https://www.targetvalidation.org/imgs/logo/ot_logo_splash.png" />


        <link rel="stylesheet" href="build/OpenTargetsWebapp-3rdParty.css?v=25072017" />
        <!-- Don't bundle font-awexome.min.css or the woff files would be broken -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- <link href="build/fontawesome/css/font-awesome.min.css?v=16112015" rel="stylesheet" />
        <link href="build/bootstrap/dist/css/bootstrap.min.css?v=08122015" rel="stylesheet" />-->
        <link rel="stylesheet" href="build/OpenTargetsWebapp.min.css?v=25072017" />

        <!-- Components -->
        <link rel="stylesheet" href="build/components-OpenTargetsWebapp.min.css?v=25072017" />

        <!-- IE(9) doesn't create console object if not in debug mode. This makes sure it doesn't throw an exception -->
        <script type="text/javascript" src="js/ie_console_noop.js?v=25072017"></script>

        <!-- NEW datatable -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10,b-1.1.0,b-flash-1.1.0,b-html5-1.1.0/datatables.min.css"/>

        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> -->

        <!-- App CSS at the end, to override anything required
        <link rel="stylesheet" href="build/OpenTargetsWebapp.min.css?v=08122015" />-->


        <style>
            @font-face {
                font-family: 'Glyphicons Halflings';

                src: url('../fonts/glyphicons-halflings-regular.eot');
                src: url('build/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
                url('build/bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
                url('build/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
                url('build/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
                url('build/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
            }

            /*@font-face {*/
                /*font-family: 'Glyphicons Halflings';*/
                /*src: url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/fonts/glyphicons-halflings-regular.eot);*/
                /*src: url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),*/
                /*url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/fonts/glyphicons-halflings-regular.woff2) format('woff2'),*/
                /*url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/fonts/glyphicons-halflings-regular.woff) format('woff'),*/
                /*url(https://maxcdn.bootstrapcdn.com/bootstrap/latest/fonts/glyphicons-halflings-regular.ttf) format('truetype'),*/
                /*url(https://maxcdn.bootstrapcdn.com/bootstrap/latestfonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')*/
            /*}*/
        </style>


    </head>

    <body id="cttv-page-app">
        <!-- piwik opt out -->
        <!-- <iframe frameborder=no width=600px height=200px src=http://demo.piwik.org/index.php?module=CoreAdminHome&action=optOut&language=en></iframe> -->


        <div class="cttv-page-wrapper" ng-controller="PageCtrl">

            <!-- main page content -->
            <div class="cttv-main-container">

                <!-- Masthead and navigation -->
                <!-- HP only has notifications -->
                <!-- other pages have full masthead -->
                <div ng-controller="MastheadCtrl">
                <div class="masthead ng-cloak" ng-class="location.path()!=='/' ? 'masthead-border' : ''">
                    <div ng-show="opts.showResponsiveSearch" class="masthead-dimmer"></div>

                    <div class="container">

                        <div class="row" >

                            <!-- single col contains everything and content is floated -->
                            <div class="col-xs-12">

                                <!-- OT Platform logo -->
                                <div class="ot_logo pull-left" ng-if="location.path()!=='/'" ng-class="{'invisible':opts.showResponsiveSearch}">
                                    <a href="/">
                                        <img src="imgs/logo/otp-logo-w-b.svg" class="intro-logo-tvp" width="195px" alt="Open Targets logo"/>
                                    </a>
                                </div>


                                <!-- 1: search (on other pages only) -->

                                <div ng-if="location.path()!=='/'" class="masthead-search-container pull-right" ng-class="{'invisible':opts.showResponsiveSearch}">
                                    <!-- full search box: hide on small screens -->
                                    <div ot-search-box class="hidden-xs hidden-sm masthead-search-menu"></div>

                                    <!-- responsive search box-->
                                    <div class="masthead-responsive-search hidden-md hidden-lg">
                                        <span ng-click="opts.showResponsiveSearch=!opts.showResponsiveSearch" class="fa fa-lg masthead-responsive-search-icon fa-search"></span>
                                    </div>
                                </div>

                                <div ng-show="opts.showResponsiveSearch" class="masthead-responsive-search-panel">
                                    <div ng-click="opts.showResponsiveSearch=!opts.showResponsiveSearch" class="masthead-responsive-search pull-right">
                                        <span class="fa fa-lg fa-times masthead-responsive-search-icon"></span>
                                    </div>
                                    <div ot-search-box></div>
                                </div>

                                <!-- 2: notifications (as required) -->

                                <div masthead-notifications-menu class="masthead-notifications-menu pull-right" ng-class="{'invisible':opts.showResponsiveSearch}"></div>


                                <!-- 3: menu (on other pages only) -->

                                <div class="pull-right" ng-class="{'invisible':opts.showResponsiveSearch}">
                                    <!-- navigation menu : hide on small screen-->
                                    <masthead-navigation-menu class="hidden-xs hidden-sm"></masthead-navigation-menu>

                                    <!-- here should have hamburger -->
                                    <masthead-navigation-menu is-hamburger="true" class="hidden-md hidden-lg"></masthead-navigation-menu>
                                </div>

                            </div>

                        </div>
                    </div>
                </div><!-- end masthead -->
                </div>


                <!-- ERRORS -->
                <div class="container main-alert-container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div> </div>
                            <!-- Authentication error -->
                            <div uib-alert class="alert-danger" ng-show="showApiErrorMsg" ng-cloak close="showApiErrorMsg=false">
                                 Your session has expired, reload the page to authenticate again <button class="btn btn-default btn-sm" ng-click="reloadPage()">Reload</button>
                            </div>

                            <!-- API ERROR 500 -->
                            <div uib-alert class="alert-danger" ng-show="showApiError500" close="showApiError500=false" ng-cloak>A problem retrieving data has occurred. Please try to reload the page. If the problem persists please contact our <a target=_blank href="mailto:support@targetvalidation.org?Subject=Target Validation Platform - help request">support team</a>
                                <button class="btn btn-default btn-sm" ng-click="reloadPage()">Reload</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- FEEDBACK BUTTON -->
                <!-- Plese re-enable when we want (after integration day?) -->
                <div ng-cloak class="cttv-feedback-button hidden-xs" ng-controller="FeedbackCtrl" ng-class="{'cttv-feedback-button-round': location.path()!='/' }">

                    <a target=_blank href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&colon;&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&commat;&#x74;&#x61;&#x72;&#x67;&#x65;&#x74;&#x76;&#x61;&#x6C;&#x69;&#x64;&#x61;&#x74;&#x69;&#x6F;&#x6E;&period;&#x6F;&#x72;&#x67;&quest;&#x53;&#x75;&#x62;&#x6A;&#x65;&#x63;&#x74;&equals;&#x4F;&#x70;&#x65;&#x6E;&#x20;&#x54;&#x61;&#x72;&#x67;&#x65;&#x74;&#x73;&#x20;&#x50;&#x6C;&#x61;&#x74;&#x66;&#x6F;&#x72;&#x6D;&#x20;&#x2D;&#x20;&#x66;&#x65;&#x65;&#x64;&#x62;&#x61;&#x63;&#x6B;&body=Page URL: {{location.absUrl()}}">
                    <div>Feedback</div></a>
                </div>

                <div ng-cloak class="cttv-social-panel hidden-xs" ng-controller="FeedbackCtrl" ng-show="location.path()=='/'" ng-click="showSocialMedia=!showSocialMedia">

                    <div ng-show="showSocialMedia">
                        <a target=_blank href="https://www.linkedin.com/company/centre-for-therapeutic-target-validation"><div class="cttv-social-panel-item cttv-social-panel-linkedin"></div></a>
                        <a target=_blank href="http://twitter.com/targetvalidate"><div class="cttv-social-panel-item cttv-social-panel-twitter"></div></a>
                        <a target=_blank href="https://www.facebook.com/OpenTargets/"><div class="cttv-social-panel-item cttv-social-panel-facebook"></div></a>
                    </div>
                    <div class="cttv-social-panel-follow" ng-show="!showSocialMedia">Follow us</div>
                </div>


                <!--<div class="container">-->
                <div>
                    <!-- beta ribbon if not in www -->
                    <ot-beta-ribbon></ot-beta-ribbon>

                    <!-- ie < 9? -->
                    <!--[if lt IE 9]>
                    <div class="alert alert-danger">
                    You are using an <strong>outdated browser</strong> and as a result this page is probably not displayed properly. Please <a href="http://whatbrowser.org/">upgrade your browser</a> in order to access our content properly</p>
                    </div>
                    <![endif]-->
                    <!-- javascript disabled ?-->

                    <noscript>
                        <div class="alert alert-danger">
                            Javascript is currently disabled or is not supported by this browser. This page relies on JavaScript to present the data in all its glory. Please enable JavaScript for full functionality.
                        </div>
                    </noscript>

                    <!-- Content -->

                    <div ng-view autoscroll="true"></div>

                    <!-- End Content -->

                </div>

            </div>
            <!-- end main page content -->


            <!-- Footer -->
            <div ot-footer></div>
            <!-- End Footer-->


            <!-- require.js -->
            <script src="jspm_packages/system.js"></script>

            <!-- Angular && web app -->
            <script src="build/OpenTargetsWebapp-3rdParty.js?v=25072017" type="text/javascript"></script>
            <script src="build/OpenTargetsWebapp.min.js?v=25072017" type="text/javascript"></script>

            <!-- Components -->
            <script type="text/javascript" src="build/components-OpenTargetsWebapp.min.js?v=25072017"></script>

            <!-- Blob.js (needed by FileSaver) -->
            <script type="text/javascript" language="javascript" src="vendor/Blob.js"></script>

            <!-- Pathway viewer -->
            <script type="text/javascript" language="javascript" src="/proxy/www.reactome.org/DiagramJs/diagram/diagram.nocache.js?v=25072017"></script>

            <!-- Protein viewer -->
            <!--<script type="text/javascript" language="javascript" src="vendor/bio-pv.min.js"></script>-->

            <!-- PDB viewers -->
            <!-- <link rel="stylesheet" href="https://wwwdev.ebi.ac.uk/pdbe/widgets/pdb-component-library/css/pdb.component.library.beta-1.0.0.min.css" /> -->
            <!-- <script src="//wwwdev.ebi.ac.uk/pdbe/widgets/pdb-component-library/libs/Three.js"></script>
            <script src="//wwwdev.ebi.ac.uk/pdbe/widgets/pdb-component-library/js/pdb.component.library.min.2.0.js"></script> -->
            <!-- <script src="/vendor/pdbWidgets/Three.js"></script>
            <script src="/vendor/pdbWidgets/pdb.component.library.complete.js"></script> -->

            <!-- ie9 cors support -->
            <!--[if lte IE 9]>
            <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
            <![endif]-->

            <!-- NEW datatable -->
            <script type="text/javascript" src="https://cdn.datatables.net/s/bs/jq-2.1.4,dt-1.10.10,b-1.1.0,b-flash-1.1.0,b-html5-1.1.0/datatables.min.js"></script>


            <!-- Cookie notification-->
            <script type="text/javascript" id="cookiebanner" src="./vendor/cookiebanner/cookiebanner.min.js"
                    data-height="50px"
                    data-link="#337ab7"
                    data-fontfamily="inherit"
                    data-close-text="<span class='btn btn-success btn-xs'><i class='fa fa-check-circle'></i> OK</span>"
                    data-moreinfo="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" >
            </script>



            <!-- Piwik -->
            <script type="text/javascript" src="./piwik.js"></script>
            <noscript><p><img src="//opentargets.piwikpro.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->


            <!-- Log page app session -->
            <!--<log-session></log-session>-->

        </div>


        <!-- Ghost blog stuff -->
        <!-- <script type="text/javascript" src="/shared/ghost-url.min.js?v=0a3b27d889"></script> -->
        <script type="text/javascript" src="https://blog.opentargets.org/shared/ghost-url.min.js?v=0a3b27d889"></script>
        <script type="text/javascript">
            ghost.init({
                clientId: "ghost-frontend",
                clientSecret: "a9fe83f50655"
            });
            // console.log("ghost:");
            // console.log(ghost);
        </script>


        <!-- Facebook feeds scripts -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Twitter feeds stuff -->
        <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



    </body>

</html>
