<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div id="mydiv"></div>
    <link rel="stylesheet" href="../build/bubblesView.css"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../build/cttv.bubblesView.js"></script>
    <script src="data.js"></script>
    <script>
      var view = bubblesView()
      //.onclick(function (d) {console.log(d)})
      .onclick (function (d) {view.focus(d)})
      .key("value")
      .width(700)
      .height(700)
      .flat(false)
      .data(data1);
      view(document.getElementById("mydiv"));
    </script>
  </body>
  </html>
