<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <link rel="stylesheet" href="../build/bubblesView.css"/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../build/cttv.bubblesView.js"></script>
    <script src="theme.js"></script>
    <script src="data.js"></script>
    <div id="mydiv"></div>
    <script>
      var view = bubblesView()
      .onclick (function (d) {console.log(d); view.focus(view.node(d))})
      .flat(false)
      .diameter(600)
      .data(data1)
      var mytheme = theme();
      mytheme(view, document.getElementById("mydiv"));
      // view(document.getElementById("mydiv"));
    </script>
  </body>
  </html>
