<!-- <div>
    <ot-all-none-facet-primitive facet="facet">
    </ot-all-none-facet-primitive>
</div> -->
<div  >
    <!-- <ot-nested-checkbox-facet-primitive ng-repeat="filter in facet.filters"
                                          filter="filter">
    </ot-nested-checkbox-facet-primitive> -->
    <!-- <div ng-repeat="filter in facet.filters" filter="filter">{{filter.label}} ({{filter.count}})</div> -->
    <button ng-repeat="filter in facet.filters"
        
        
        type="button" 
        class="btn btn-xs"
        ng-click="filter.toggle()"
        ng-disabled="!filter.enabled"
        ng-class=" filter.checked ? 'btn-primary' : 'btn-default'"
        
        style="margin-right: 3px; margin-bottom:3px">
        {{ filter.label | otUpperCaseFirst | otClearUnderscores }}
    </button>
<!-- 
    <input type="checkbox"
           ng-value="{{ filter.id }}"
           ng-checked="filter.checked"
           ng-disabled="!filter.enabled"
           ng-click="filter.toggle()" >
            -->
</div>
