<div ng-if="facet.level > 0" class="cttv-facets-controls">
  <span ng-click="facet.setLevel(0)">Clear <i class="fa fa-times"></i></span>
</div>
<div>
  <cttv-histogram-slider-facet-primitive data="facet.histogramData"
                                         min="facet.min"
                                         max="facet.max"
                                         level="facet.level"
                                         set-level="facet.setLevel">
  </cttv-histogram-slider-facet-primitive>
</div>

<div>
  <cttv-all-none-facet-primitive facet="facet">
  </cttv-all-none-facet-primitive>
</div>
<div class="col-sm-12 cttv-facets-controls">
  <span>Group by</span>
  <div class="btn-group cttv-facets-buttons">
    <label class="btn btn-default" ng-model="facet.groupTissuesBy" uib-btn-radio="'anatomicalSystems'" ng-click="facet.hierarchy = facet.anatomicalSystemFilters">Anatomical Systems</label>
    <label class="btn btn-default" ng-model="facet.groupTissuesBy" uib-btn-radio="'organs'" ng-click="facet.hierarchy = facet.organFilters">Organs</label>
  </div>
</div>
<div>
  <cttv-nested-checkbox-facet-primitive ng-repeat="filter in facet.hierarchy"
                                        filter="filter">
  </cttv-nested-checkbox-facet-primitive>
</div>