<!-- <div ng-if="facet.level > 0" class="ot-facets-controls">
  <span ng-click="facet.setLevel(0)">Clear <i class="fa fa-times"></i></span>
</div>
<div>
  <ot-histogram-slider-facet-primitive facet="facet">
  </ot-histogram-slider-facet-primitive>
</div> -->
<div class="col-sm-12 ot-facets-controls">
  <span>Group by</span>
  <div class="btn-group ot-facets-buttons">
    <label class="btn btn-default" ng-model="facet.groupTissuesBy[0]" uib-btn-radio="'organs'" ng-click="facet.hierarchy = facet.organFilters">Organs</label>
    <label class="btn btn-default" ng-model="facet.groupTissuesBy[0]" uib-btn-radio="'anatomicalSystems'" ng-click="facet.hierarchy = facet.anatomicalSystemFilters">Anatomical Systems</label>
  </div>
</div>
<div>
  <ot-all-none-facet-primitive facet="facet">
  </ot-all-none-facet-primitive>
</div>
<div>
  <ot-nested-checkbox-facet-primitive ng-repeat="filter in facet.hierarchy"
                                      filter="filter">
  </ot-nested-checkbox-facet-primitive>
</div>
