<div class="partial-page">
    <ot-page-progress-spinner></ot-page-progress-spinner>

    <div class="ot-content-header">
        <div class="container">
            <!-- For the case of unknown targets -->
            <h3 ng-show="notFound">No disease found with ID {{diseaseId}}</h3>

            <h3 view-title>{{disease.label}}</h3>
            <meta-description-content>Browse information about {{disease.label}} ({{diseaseId}}) covering related drugs, phenotypes and literature text mining. Synonyms: {{disease.synonyms | limitTo:3 | otSemiColonSeparate }}.</meta-description-content>

            <p ng-show="disease.label"><a href="/disease/{{disease.efo}}/associations"><span><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-th fa-stack-1x fa-inverse"></i></span> View associated targets</span></a>
            </p>
        </div>
    </div>


    <div class="container">
        <div class="row" style="padding-bottom:20px; margin-bottom:20px">
            <div class="col-sm-12">
                <p>
                    <hm-read-more  hm-text="{{disease.description}}" hm-limit="1000" hm-more-text="[show more]" hm-less-text="[show less]" hm-dots-class="show-more-dots" hm-link-class="show-more-links"></hm-read-more>
                </p>

                <p ng-show="disease.synonyms">
                    Synonyms: <span class="ot-profile-synonym-list" ng-repeat="syn in disease.synonyms" ng-show="syn!=null">{{syn}}</span>
                </p>

                <uib-accordion close-others="false" id="plugins">
                    <!-- dynamic sections coming from plugins -->
                    <div uib-accordion-group ng-repeat="section in sections" is-open="section.defaultVisibility" attr-section-name="{{section.name}}" class="panel-default">
                        <uib-accordion-heading>
                            <div style="position:relative" ng-show="section.new">
                                <div class="ot-section-new"><span>New</span></div>
                            </div>
                            <span ng-click='section.visible = !section.visible'>{{section.heading}}</span>
                        </uib-accordion-heading>
                        <ot-plugin-loader disease="disease" plugin="section.element" visible="{{section.visible}}" dependencies="section.dependencies" class="scroll-table-panel"></ot-plugin-loader>
                    </div uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
