<div class="partial-page">
    <ot-page-progress-spinner></ot-page-progress-spinner>

    <div class="ot-content-header">
        <div class="container">
            <h3>{{disease.label}}</h3>

            <p ng-show="disease.label"><a href="/disease/{{disease.efo}}/associations"><span><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-th fa-stack-1x fa-inverse"></i></span> View associated targets</span></a>
            </p>


        </div>
    </div>


    <div class="container">
        <div class"row" style="padding-bottom:20px; margin-bottom:20px">
            <p>
                <hm-read-more  hm-text="{{disease.description}}" hm-limit="1000" hm-more-text="[show more]" hm-less-text="[show less]" hm-dots-class="show-more-dots" hm-link-class="show-more-links"></hm-read-more>
            </p>

            <p ng-show="disease.synonyms">
                Synonyms: <span class="cttv-profile-synonym-list" ng-repeat="syn in disease.synonyms" ng-show="syn!=null">{{syn}}</span>
            </p>

            <uib-accordion close-others="false">

                <!-- <div uib-accordion-group attr-section-name="Drugs" heading="Drugs" is-open="false">
                    <div ng-show="!drugs.has_errors">
                        <p>Source: <a href="/faq#data-provenance" target="_blank">CHEMBL</a></p>
                        <ot-known-drug-table disease="{{disease.efo}}" title="disease.title" error-flag="drugs.has_errors"></ot-known-drug-table>
                    </div>

                    <uib-alert type="danger" ng-show="drugs.has_errors" ng-cloak>
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> There was an error retrieving this data. Please try again later.
                    </uib-alert>
                </div uib-accordion-group> -->

                <!-- <div uib-accordion-group attr-section-name="Classification" heading="Disease Classification" is-open="true">
                    <tabset>
                        <tab heading="Graph">
                            <p class="ot-section-intro">Graph showing the diseases related with {{disease.label}}. Click on any disease to get more information about it and its associated targets</p>
                            <ot-efo-graph efo="{{disease}}" width=1140></ot-efo-graph>
                        </tab>
                        <tab heading="Text">
                            <h4>Paths</h4>
                            <ul ng-repeat="path in disease.paths">
                                <b>Path {{$index+1}}</b>
                                <li ng-repeat="node in path" style="margin-left:{{$index*10}}px">
                                     {{node.label}} <small>(<a href="/disease/{{node.efo}}/associations">See target associations</a>), (<a href="/disease/{{node.efo}}">Go to disease page</a>)</small>
                                </li>
                            </ul>
                            <h4 ng-if="disease.children.length > 0">Children</h4>
                            <ul>
                                <li ng-repeat="child in disease.children">{{child.label}} <small>(<a href="/disease/{{child.code}}/associations">See target associations</a>), (<a href="/disease/{{child.code}}">Go to diseases page</a>)</small>
                                </li>
                            </ul>
                        </tab>
                    </tabset>
                </div uib-accordion-group> -->

                <!-- dynamic sections coming from plugins -->
                <div uib-accordion-group ng-repeat="section in sections" is-open="section.defaultVisibility" attr-section-name="{{section.name}}" class="panel-default">
                    <uib-accordion-heading>
                        <span ng-click='section.visible = !section.visible'>{{section.heading}}</span>
                    </uib-accordion-heading>
                    <ot-plugin-loader disease="disease" plugin="section.element" visible="{{section.visible}}" dependencies="section.dependencies" class="scroll-table-panel"></ot-plugin-loader>
                </div uib-accordion-group>

            </uib-accordion>
        </div>
    </div>
</div>
