<!-- postgap table -->
<div class="table-panel">
    <table class='table ot-evidence-table' id="postgap-table">
        <thead>
            <tr>
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Variant</th>
                <th>Variant type</th>
                <th>Evidence source</th>
                <th>{{otDictionary.PVALUE}}</th>
                <th>GWAS Variant (in LD)</th>
                <th>POSTGAP Score</th>
                <th>GTEx</th>
                <th>DHS</th>
                <th>Fantom5</th>
                <th>PCHiC</th>
                <th>VEP</th>
                <th>Regulome</th>
                <th>Nearest</th>
                <!--<th>Details <span style="font-size:0.8em;float:right;"><ot-popover html='true' key="COMMONDISEASES.SCOREDETAILS"></ot-popover></th>-->
                <th>Publications</th>
                <th>Publications Ids</th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
            <tr class="filter-row">
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Variant</th>
                <th>Variant type</th>
                <th>Evidence source</th>
                <th></th>
                <th>GWAS Variant (in LD)</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <!--<th>Details <span style="font-size:0.8em;float:right;"><ot-popover html='true' key="COMMONDISEASES.SCOREDETAILS"></ot-popover></th>-->
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
