<!-- postgap table -->
<div class="table-panel">
    <table class='table ot-evidence-table' id="postgap-table">
        <thead>
            <tr>
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Variant</th>
                <th>Variant type</th>
                <th>Evidence source</th>
                <th>{{otDictionary.PVALUE}}</th>
                <th>GWAS Variant (in LD)</th>
                <th>LD (r^2)<ot-popover key="POSTGAP.R2"></ot-popover></th>
                <th>POSTGAP Score<ot-popover key="POSTGAP.SCORE"></ot-popover></th>
                <th>GTEx<ot-popover key="POSTGAP.GTEX"></ot-popover></th>
                <th>DHS<ot-popover key="POSTGAP.DHS"></ot-popover></th>
                <th>Fantom5<ot-popover key="POSTGAP.FANTOM5"></ot-popover></th>
                <th>PCHiC<ot-popover key="POSTGAP.PCHIC"></ot-popover></th>
                <th>VEP<ot-popover key="POSTGAP.VEP"></ot-popover></th>
                <th>Regulome<ot-popover key="POSTGAP.REGULOME"></ot-popover></th>
                <th>Nearest<ot-popover key="POSTGAP.NEAREST"></ot-popover></th>
                <!--<th>Details <span style="font-size:0.8em;float:right;"><ot-popover html='true' key="COMMONDISEASES.SCOREDETAILS"></ot-popover></th>-->
                <th>Publications</th>
                <th>Publications Ids</th>
            </tr>
        </thead>

        <tbody>
        </tbody>

        <tfoot>
            <tr class="filter-row">
                <th></th> <!-- nameless col for access level -->
                <th>Disease</th>
                <th>Variant</th>
                <th>Variant type</th>
                <th>Evidence source</th>
                <th></th>
                <th>GWAS Variant (in LD)</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <!--<th>Details <span style="font-size:0.8em;float:right;"><ot-popover html='true' key="COMMONDISEASES.SCOREDETAILS"></ot-popover></th>-->
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
