.tnt_zmenu_header {
    color : #ffffff;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(30,87,153,1) 0%, rgba(58,153,215,1) 0%, rgba(32,124,202,1) 0%, rgba(41,137,216,1) 50%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(58,153,215,1)), color-stop(0%,rgba(32,124,202,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(58,153,215,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(58,153,215,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(30,87,153,1) 0%,rgba(58,153,215,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(58,153,215,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 50%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

