$dim : 1000px;

// Colors
$gray-background: rgb(62,139,173);
$gray-lightlabel: #F0F0F0;
$gray-lightfill: rgb(192, 192, 192);
$blue-darklabel: navy;


:host {
    display: block;
    //background : blue;
}

#bubblesView {
    width: $dim;
}

#cttv_bubblesView_breadcrums {
    position: absolute;
    left: 5px;
    top: 10px;
}

.cttv_bubblesView_breadcrumLabel {
    padding-right: 10px;
}

.cttv_bubblesView_link {
    color : blue;
    cursor : pointer;
}

@mixin circle-fill ($color, $opacity, $stroke-width) {
    fill : $color;
    fill-opacity : $opacity;
    stroke-width: $stroke-width;
    stroke: black;
}

@mixin circle-highlight () {
    fill : rgb(151,82,105) !important;
}

@mixin header () {
    font-weight : 500;
    line-height : 1.1;
    margin-bottom : 10px;
}

.bubblesViewNode {
    //@include circle-fill(rgb(31, 119, 180), .25, .5px);
    @include circle-fill($gray-lightfill, .25, .5px);
}

.cttv_bubblesView {
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
}

.bubblesViewLeaf {
    @include circle-fill($gray-background, 1, .5px);
}

.bubblesViewRoot {
    @include circle-fill(white, 0, 0px);
}

.highlight {
    @include circle-highlight;
}


.lightLabel {
    fill: $gray-lightlabel;
}

.darkLabel {
    fill: $blue-darklabel;
}

.topLabel {
    text-shadow: 0px 1px 0px $gray-lightfill,
               1px 0px 0px $gray-lightfill,
               0px -1px 0px $gray-lightfill,
               -1px 0px 0px $gray-lightfill;
}

h2 {
    font-size : 30px;
    margin-top : 20px;
    @include header();
}

h6 {
    font-size : 12px;
    margin-top : 10px;
    @include header();

}

small {
    font-size : 65%;
    font-weight : 400;
    line-height : 1;
}
