$dim : 1000px;

:host {
    display: block;
    //background : blue;
}

#bubblesView {
    width: $dim;
}

@mixin circle-fill ($color, $opacity) {
    fill : $color;
    fill-opacity : $opacity;
    /* stroke-width: 1px; */
    /* stroke: black; */
}

@mixin circle-highlight () {
    fill : rgb(151,82,105) !important;
}

@mixin header () {
    font-weight : 500;
    line-height : 1.1;
    margin-bottom : 10px;
}

circle {
    @include circle-fill(rgb(31, 119, 180), .25);
}

.cttv_bubblesView {
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
}

.leaf circle {
    @include circle-fill(rgb(62,139,173), 1);
}

.root {
    @include circle-fill(white, 0);
}

.highlight {
    @include circle-highlight;
}

h2 {
    font-size : 30px;
    margin-top : 20px;
    @include header();
}

h6 {
    font-size : 12px;
    margin-top : 10px;
    @include header();
    
}

small {
    font-size : 65%;
    font-weight : 400;
    line-height : 1;
}