<div class="table-panel">
    <table class='table ot-evidence-table' id="rna-expression-table">
        <thead>
            <tr>
                <th rowspan="2"></th>  <!-- nameless col for access level -->
                <th rowspan="2" colspan="1">Disease</th>
                <th rowspan="1" colspan="7">Gene-disease evidence</th>
                <th rowspan="2" colspan="1">Experiment overview and data</th>
                <th rowspan="2" colspan="1">Publications</th>
                <th rowspan="2" colspan="1">Publications Ids</th>
            </tr>
            <tr>
                <th>Comparison</th>
                <th>Activity</th>
                <th>Tissue/cell</th>
                <th>Evidence source</th>
                <th>Log<sub>2</sub> fold change</th>
                <th>P-value</th>
                <th class="no-last-el">Percentile rank</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

