<div ng-if="noDrug">
    <h2>No drug found with name or id {{drug}}</h2>
</div>

<div ng-if="displayName">
    <view-title>{{displayName}}</view-title>
    <meta-description-content>Browse information about {{displayName}} ({{drug}}) covering related targets, diseases, literature text mining and adverse events.</meta-description-content>

    <h2>{{displayName}}</h2>
    <h5 ng-if="internal" style="color:#c94c52"><span class="fa fa-lock fa-lg"></span> This is a confidential internal compound!</h5>

    <div>
        ID: <a ng-if="!internal" target=_blank href="https://www.ebi.ac.uk/chembl/compound/inspect/{{drug}}">{{drug}}</a><span ng-if="internal">{{drug}}</span>
        <span ng-if="drugBankID && drugBankID.ids && drugBankID.ids.length>0"> | DrugBank:
            <span ng-repeat="dbid in drugBankID.ids"><a ng-href="https://www.drugbank.ca/drugs/{{dbid}}">{{dbid}}</a><span ng-if="!$last">, </span></span>
        </span>
    </div>

    <!-- Withdrawn info -->
    <div class="section" ng-show="isWithdrawn">
        <div class="panel panel-default" style="width: 50%; margin-left: 25%; min-width:450px">
            <div class="panel-body">
                <h4 style="margin-bottom: 20px"><i class="fa fa-exclamation-triangle fa-lg" style="color:#FC0; margin-right:5px"></i>Withdrawn drug notice</h4>
                <p><b>Withdrawn class</b>: {{withdrawnClass.join(', ')}}</p>
                <p><b>Withdrawn reason</b>: {{withdrawnReason.join(', ')}}</p>
                <p><b>Year first withdrawn</b>: {{withdrawnYear}}</p>
                <p><b>Withdrawn in</b>: {{withdrawnCountry.join(', ')}}</p>
            </div>
        </div>
    </div>

    <!-- General properties -->
    <div class="section">
        <h3 class="summary-section-header">General properties</h3>
        <!-- Molecule image -->
        <div class="pull-right" ng-cloak ng-if="!internal">
            <img class="drug-img" ng-if="molType=='Antibody'" width="200" height="200" src="/imgs/ab.png">
            <img class="drug-img" ng-if="molType!='Antibody'" width="200" height="200" src="" id="drugDiagramContainer">
        </div>
        <!-- list of properties -->
        <div class="drug-property" style="min-height:200px; width:80%">
            <ul>
                <li><b>Name</b>: {{displayName}}</li>
                <li style="margin-top:8px;"><b>Molecule type</b>: {{molType}}</li>
                <li style="margin-top:8px;"><b>First approval</b>: {{firstApproval}}</li>
                <li style="margin-top:8px;"><b>Max phase</b>: {{maxPhase}}</li>
                <!-- TODO: enable molecular formula when it will be back in the API response -->
                <!-- <li style="margin-top:8px;"><b>Molecular formula</b>: {{formula}}</li> -->
                <li style="margin-top:8px;"><b>Synonyms</b>: <span class="ot-profile-synonym-list" ng-repeat="syn in synonyms">{{syn}}</span></li>
                <li style="margin-top:8px;"><b>Known trade names</b>: <span class="ot-profile-synonym-list" ng-repeat="tn in tradeNames">{{tn}}</span></li>
            </ul>
        </div>
    </div>

    <!-- Mechanism of action -->
    <div class="section">
        <h3 class="summary-section-header">Mechanisms of action</h3>
        <span ot-progress-spinner size="24" ng-show="mechanisms.length==0"></span>
        <table ng-show="mechanisms" class="table ot-evidence-table">
            <tr>
                <th>Mechanism of action</th>
                <th>Target</th>
                <th>Target synonyms</th>
                <th>References</th>
            </tr>
            <tr ng-repeat="mec in mechanisms">
                <td>{{mec.description}}</td>
                <td>{{mec.target_name}}</td>
                <td><span ng-repeat="synonym in mec.target_components"><a ng-if="synonym.ensembl" href="/target/{{synonym.ensembl}}">{{synonym.approved_symbol}}{{$last ? '' : ', '}}</a><span ng-if="!synonym.ensembl">{{synonym.approved_symbol}}{{$last ? '' : ', '}}</span></span></td>
                <td><span ng-repeat="ref in mec.references">
                    <a ng-if="ref.url" target=_blank href="{{ref.url}}">{{ref.source}}</a><span ng-if="!ref.url">{{ref.source}}</span>{{$last ? '' : ', '}}
                </span></td>
            </tr>
        </table>
    </div>

    <!-- Targets -->
    <div class="section">
        <h3 class="summary-section-header">Targets associated with {{displayName}}</h3>
        <span ng-repeat="target in targets">
            <span style="padding-right:8px;margin-top:5px;">
                <a href=/target/{{target.id}}>
                    <span class="ot-pill-list btn-primary">{{target.name}}</span>
                </a>
            </span>
        </span>
        <p ng-if="targets.length > 1 && targets.length <= 200"><a href="/summary?targets={{batchSearchTargets}}">Analyse these targets</a></p>
    </div>

    <!-- Diseases -->
    <div class="section">
        <h3 class="summary-section-header">Diseases associated with {{displayName}}</h3>
        <span ng-repeat="disease in diseases">
        <span style="padding-right:8px;margin-top:5px;"><a href=/disease/{{disease.id}}><span class="ot-pill-list btn-primary">{{disease.label}}</span>
        </a></span>
        </span>
    </div>

    <!-- Adverse events -->
    <div class="section" ng-if="!internal">
        <h3 class="summary-section-header">Adverse events</h3>
        <p class="ot-section-intro">
            A list of post-marketing adverse events submitted by healthcare professionals to the FDA Adverse Event Reporting System (FAERS).<ot-popover key="DRUG.FAERS"></ot-popover>
            <br />The list only contains adverse events with a log likelihood ratio above a critical value (CV) threshold
            - see our <a href="#">adverse event report documentation page</a> for more information.
        </p>
        <ot-source-list list="[{label:'OpenFDA', url:'#'}]"></ot-source-list>
        <ot-adverse-events-table ng-if="adverseEvents" data="adverseEvents" output="{{displayName}}"></ot-adverse-events-table>
        <p ng-if="!adverseEvents">No adverse events data for {{displayName}}</p>
    </div>
    
    <!-- Bibliography -->
    <div class="section" ng-if="!internal">
        <h3 class="summary-section-header">Bibliography</h3>
        <!-- pass the drug display name as generic query term -->
        <ot-bibliography-target-chips q="displayName"></ot-bibliography-target-chips>
    </div>
</div>
