<div class="table-panel">
    <table class='table ot-evidence-table' id="pathways-table">
        <thead>
            <tr>
                <th rowspan="2"></th>  <!-- nameless col for access level -->
                <th rowspan="2" colspan="1">Disease</th>
                <th rowspan="1" colspan="7">Gene-disease evidence</th>
            </tr>
            <tr>
                <th>Overview</th>
                <th>Activity</th>
                <th>Mutations</th>
                <th>Evidence source</th>
                <th>Publications</th>
                <th>Publications IDs</th> <!-- hidden -->
            </tr>
        </thead>

        <tbody></tbody>

        <tfoot>
            <tr class="filter-row">
                <th></th>
                <th>Disease</th>
                <th>Overview</th>
                <th>Activity</th>
                <th>Mutations</th>
                <th>Evidence source</th>
                <th></th>
                <th></th> <!-- hidden -->
            </tr>
        </tfoot>
    </table>
</div>